n8n/unified-pipeline-v123.json
{
  "name": "ToxicOrNah - Unified Pipeline",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "5d9fbc24-7249-4db6-989d-f25713e657ec",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2848,
        -1720
      ],
      "webhookId": "toxicornah-video-pipeline",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Parse Video Pipeline Message\n// Routes incoming Telegram messages to the correct handler:\n//   - #body scenario_name clip_index [section]  脙垄脗聠脗聮 body clip upload\n//   - #hook scenario_name                       脙垄脗聠脗聮 manual hook clip upload\n//   - #outro scenario_name label                脙垄脗聠脗聮 manual outro clip upload\n//   - /produce scenario_name [template]         脙垄脗聠脗聮 trigger video production\n//   - /done                                     脙垄脗聠脗聮 finish recording, start production\n//   - video with no caption (during recording)  脙垄脗聠脗聮 auto body clip\n//   - anything else                             脙垄脗聠脗聮 ignored\n// Mode: Run Once for All Items\n//\n// WIRING: Telegram Trigger (message) 脙垄脗聠脗聮 this Code node 脙垄脗聠脗聮 Switch node (Route Message)\n// Switch outputs: body_clip | hook_clip | outro_clip | produce | done_recording | auto_body_clip | unknown\n\nconst update = $input.first().json;\nconst message = update.message || update;\nconst text = (message.caption || message.text || '').trim();\nconst chatId = message.chat?.id || '';\n\nconst hasVideo = !!(message.video || message.document);\nconst video = message.video || message.document || {};\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 #body scenario_name clip_index [section] 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst bodyMatch = text.match(/#body\\s+(\\S+)\\s+(\\d+)(?:\\s+(\\S+))?/i);\nif (hasVideo && bodyMatch) {\n  return [{\n    json: {\n      messageType: 'body_clip',\n      scenarioName: bodyMatch[1],\n      clipIndex: parseInt(bodyMatch[2], 10),\n      section: bodyMatch[3] || '',\n      fileId: video.file_id,\n      fileSize: video.file_size || 0,\n      duration: video.duration || 0,\n      chatId,\n    }\n  }];\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 #hook scenario_name 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst hookMatch = text.match(/#hook\\s+(\\S+)/i);\nif (hasVideo && hookMatch) {\n  return [{\n    json: {\n      messageType: 'hook_clip',\n      scenarioName: hookMatch[1],\n      fileId: video.file_id,\n      fileSize: video.file_size || 0,\n      duration: video.duration || 0,\n      chatId,\n    }\n  }];\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 #outro scenario_name label 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst outroMatch = text.match(/#outro\\s+(\\S+)\\s+(\\S+)/i);\nif (hasVideo && outroMatch) {\n  return [{\n    json: {\n      messageType: 'outro_clip',\n      scenarioName: outroMatch[1],\n      label: outroMatch[2],\n      fileId: video.file_id,\n      fileSize: video.file_size || 0,\n      duration: video.duration || 0,\n      chatId,\n    }\n  }];\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 /produce [scenario_name] 脙垄脗聙脗聰 no args = next ready scenario 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst produceMatch = text.match(/^\\/produce(?:\\s+(\\S+))?$/i);\nif (produceMatch) {\n  return [{\n    json: {\n      messageType: 'produce',\n      scenarioName: produceMatch[1] || '',\n      chatId,\n    }\n  }];\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Access workflow static data (shared recording state) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst staticData = $getWorkflowStaticData('global');\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 /done 脙垄脗聙脗聰 finish recording 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nif (text.match(/^\\/done$/i)) {\n  const activeRec = staticData.activeRecording;\n  return [{\n    json: {\n      messageType: 'done_recording',\n      scenarioName: activeRec ? activeRec.scenarioName : '',\n      chatId,\n    }\n  }];\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Video with no recognized command during active recording 脙垄脗聠脗聮 auto body clip 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nif (hasVideo && staticData.activeRecording) {\n  return [{\n    json: {\n      messageType: 'auto_body_clip',\n      fileId: video.file_id,\n      fileSize: video.file_size || 0,\n      duration: video.duration || 0,\n      chatId,\n    }\n  }];\n}\n\n// Unknown 脙垄脗聙脗聰 ignore silently\nreturn [{\n  json: {\n    messageType: 'unknown',\n    text: text.substring(0, 100),\n    chatId,\n  }\n}];\n"
      },
      "id": "83339f99-1c75-4f66-a569-9dbf07663fda",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        -856
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "body_clip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Body Clip"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "hook_clip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hook Clip"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "outro_clip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Outro Clip"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "produce",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Produce"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "auto_body_clip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Auto Body Clip"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "done_recording",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Done Recording"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "19cc7fbd-2361-42b0-a54c-62353d5969f0",
      "name": "Route Message",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1952,
        -936
      ]
    },
    {
      "parameters": {},
      "id": "2ea8bd4e-a5cb-4c16-9bca-89ef291368b0",
      "name": "Ignore",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1728,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblcQaMBBPcOAy0NF"
        },
        "filterByFormula": "={{ '{scenario_name} = \"' + $('Parse Message').first().json.scenarioName + '\"' }}",
        "options": {}
      },
      "id": "b1c148eb-25db-4d39-ab86-60ba35135497",
      "name": "Find Scenario (Clip)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1728,
        -224
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Save Clip (unified handler for body/hook/outro)\n// Prepares the Airtable record for any clip type uploaded via Telegram\n// Mode: Run Once for All Items\n//\n// WIRING: Parse Message 脙垄脗聠脗聮 Route Message (Switch) 脙垄脗聠脗聮 Find Scenario 脙垄脗聠脗聮 this Code node 脙垄脗聠脗聮 Airtable Create 脙垄脗聠脗聮 Telegram confirm\n//\n// Input: parsed message data from Parse Message + scenario record from Find Scenario\n// Handles all 3 clip types: body_clip, hook_clip, outro_clip\n\nconst parsed = $('Parse Message').first().json;\nconst scenario = $('Find Scenario (Clip)').first().json;\n\nif (!scenario || !scenario.id) {\n  return [{\n    json: {\n      error: true,\n      chatId: parsed.chatId,\n      message: 'Scenario \"' + parsed.scenarioName + '\" not found in Airtable'\n    }\n  }];\n}\n\nconst messageType = parsed.messageType;\n\n// Build the Airtable record fields based on clip type\nconst record = {\n  scenario_id: [scenario.id],\n  telegram_file_id: parsed.fileId,\n  clip_duration_sec: parsed.duration,\n  status: 'uploaded',\n};\n\nif (messageType === 'body_clip') {\n  record.clip_name = parsed.scenarioName + '_body_' + parsed.clipIndex;\n  record.clip_type = 'body';\n  record.clip_index = parsed.clipIndex;\n  record.section = parsed.section || '';  // optional template section mapping\n} else if (messageType === 'hook_clip') {\n  record.clip_name = parsed.scenarioName + '_hook';\n  record.clip_type = 'hook_manual';\n  record.clip_index = 0;\n} else if (messageType === 'outro_clip') {\n  record.clip_name = parsed.scenarioName + '_outro_' + parsed.label;\n  record.clip_type = 'outro_manual';\n  record.clip_index = 0;\n  record.label = parsed.label || '';\n}\n\n// Build confirmation message\nlet confirmMsg = '';\nif (messageType === 'body_clip') {\n  confirmMsg = '\\u2705 Body clip #' + parsed.clipIndex + ' saved for \"' + parsed.scenarioName + '\"';\n  if (parsed.section) confirmMsg += ' (section: ' + parsed.section + ')';\n} else if (messageType === 'hook_clip') {\n  confirmMsg = '\\u2705 Hook clip saved for \"' + parsed.scenarioName + '\"';\n} else if (messageType === 'outro_clip') {\n  confirmMsg = '\\u2705 Outro clip \"' + parsed.label + '\" saved for \"' + parsed.scenarioName + '\"';\n}\n\nreturn [{\n  json: {\n    ...record,\n    chatId: parsed.chatId,\n    scenarioName: parsed.scenarioName,\n    confirmMsg,\n  }\n}];\n"
      },
      "id": "42fa8e12-94b4-48c5-8805-b15d7c83d9fb",
      "name": "Save Clip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        -224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e7f6ce0-b7c2-4018-b334-2e05cd7b714c",
      "name": "Clip Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1280,
        -224
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "d2630fbc-3393-44db-8774-3fcd704201bc",
      "name": "Send Clip Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -320
      ],
      "webhookId": "cc78f7bb-7e0a-4536-b8c2-2ef01e3a7bd5",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblJcmlW99FNxMNXk"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "clip_name": "={{ $json.clip_name }}",
            "scenario_id": "={{ $json.scenario_id }}",
            "clip_index": "={{ $json.clip_index }}",
            "clip_type": "={{ $json.clip_type }}",
            "clip_duration_sec": "={{ $json.clip_duration_sec }}",
            "telegram_file_id": "={{ $json.telegram_file_id }}",
            "label": "={{ $json.label || '' }}",
            "section": "={{ $json.section || '' }}",
            "status": "uploaded"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "bdefc323-ddae-4bcb-b26f-4a206011cb9e",
      "name": "Create Clip Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1056,
        -128
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Save Clip').first().json.chatId }}",
        "text": "={{ $('Save Clip').first().json.confirmMsg }}",
        "additionalFields": {}
      },
      "id": "bfa78754-cf51-4d50-8a87-d77128185365",
      "name": "Confirm Clip Saved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -832,
        -128
      ],
      "webhookId": "0a801001-57a0-4b0f-9cc2-8d0520ce6861",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').first().json.chatId }}",
        "text": "={{ '脙掳脗聼脗聨脗卢 Starting production for \"' + $('Parse Message').first().json.scenarioName + '\"...' }}",
        "additionalFields": {}
      },
      "id": "542b83b8-3a33-4edb-be12-0c50ce171d49",
      "name": "Ack Produce",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2400,
        200
      ],
      "webhookId": "5bed15fe-d02e-4ad6-871b-aa78df4febf0",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblcQaMBBPcOAy0NF"
        },
        "filterByFormula": "={{ 'AND({scenario_name} = \"' + $('Parse Message').first().json.scenarioName + '\", {status} = \"approved\")' }}",
        "options": {}
      },
      "id": "edd96747-b332-4277-ade6-75e93a16ab25",
      "name": "Find Scenario (Produce)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -2176,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblhhTVI4EYofdY32"
        },
        "filterByFormula": "={{ '{concept_name} = \"' + ($('Find Scenario (Produce)').first().json.concept_type || 'chat_screenshot') + '\"' }}",
        "options": {}
      },
      "id": "e1d782c7-8f56-4597-bc18-0b2210de88d1",
      "name": "Find Concept",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1952,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblJcmlW99FNxMNXk"
        },
        "filterByFormula": "={{ 'AND(FIND(\"' + $('Find Scenario (Produce)').first().json.id + '\", ARRAYJOIN(scenario_id)), {status} = \"uploaded\")' }}",
        "options": {}
      },
      "id": "21200b99-db90-4d31-ad71-e3cea4168fe6",
      "name": "Find Body Clips",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1728,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblmyK72H7PlJeskQ"
        },
        "filterByFormula": "={{ '{template_name} = \"' + ($('Parse Message').first().json.templateName || 'Standard') + '\"' }}",
        "options": {}
      },
      "id": "e1e952df-b0c9-4c0c-b82a-7e2ef0a85fd2",
      "name": "Find Template",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1504,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblrI9FPHxkfgyrii"
        },
        "filterByFormula": "{status} = 'active'",
        "options": {}
      },
      "id": "f14ee3c2-ef1c-4632-ac91-14d45fbdfefd",
      "name": "Find Music",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1280,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Prepare Production (MVP 脙垄脗聙脗聰 Concept 3: chat_screenshot)\n// Consolidates scenario data + body clips into a production plan\n// Mode: Run Once for All Items\n//\n// WIRING: Find Produce Clips (Airtable) 脙垄脗聠脗聮 this Code node 脙垄脗聠脗聮 Generate Hook\n// References: $('Load Production Data'), $('Find Produce Scenario'), $input (body clips)\n\n// Helper: \"toxic-sad-happy-girl-1771197483216\" 脙垄脗聠脗聮 \"Toxic Sad Happy Girl\"\nfunction formatName(raw) {\n  if (!raw) return 'Scenario';\n  return raw.replace(/-\\d{10,}$/, '').split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n}\n\nconst chatId = $('Load Production Data').first().json.chatId;\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Get scenario from Airtable search result 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst scenarioItems = $('Find Produce Scenario').all().map(i => i.json);\nif (scenarioItems.length === 0) {\n  return [{\n    json: {\n      error: true,\n      chatId,\n      message: '脙垄脗職脗聽脙炉脗赂脗聫 Nessuno scenario pronto (status=ready) trovato.',\n    }\n  }];\n}\n\nconst scenario = scenarioItems[0];\nconst scenarioName = scenario.scenario_name;\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Parse scenario JSON 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nlet scenarioJson = scenario.scenario_json;\nif (typeof scenarioJson === 'string') {\n  try { scenarioJson = JSON.parse(scenarioJson); } catch(e) { scenarioJson = null; }\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Parse copy JSON (contains VO scripts) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nlet copyJson = scenario.generated_copy_json;\nif (typeof copyJson === 'string') {\n  try { copyJson = JSON.parse(copyJson); } catch(e) { copyJson = null; }\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Get body clips from input (Airtable search result) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst clipRecords = $input.all().map(i => i.json);\n\nif (clipRecords.length === 0) {\n  return [{\n    json: {\n      error: true,\n      chatId,\n      message: '脙垄脗職脗聽脙炉脗赂脗聫 Nessuna body clip trovata per \"' + formatName(scenarioName) + '\". Registra prima le clip.',\n    }\n  }];\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Hook type: chat_screenshot for Concept 3 MVP 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst hookType = 'chat_screenshot';\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Outro: skip for Concept 3 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst selectedOutro = { type: 'none' };\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Standard body clip template 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst template = {\n  segments: [\n    { section: 'hook', duration: 3.0 },\n    { section: 'screenshot', duration: 1.0 },\n    { section: 'upload_chat', duration: 1.0 },\n    { section: 'toxic_score', duration: 3.0 },\n    { section: 'soul_type', duration: 3.0 },\n    { section: 'deep_dive', duration: 3.0 },\n  ],\n  totalDuration: 14.0,\n};\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Sort and map body clips 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst bodyClips = clipRecords\n  .filter(c => c.clip_type === 'body' || !c.clip_type)\n  .sort((a, b) => (a.clip_index || 0) - (b.clip_index || 0))\n  .map(clip => ({\n    clipIndex: clip.clip_index,\n    section: clip.section || 'body_' + clip.clip_index,\n    fileId: clip.telegram_file_id,\n    duration: clip.clip_duration_sec || 0,\n    clipName: clip.clip_name,\n  }));\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Map clips to template body segments 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst bodySegments = template.segments.filter(s => s.section !== 'hook' && s.section !== 'outro');\nconst clipMapping = bodySegments.map((seg, i) => {\n  let clip = bodyClips.find(c => c.section === seg.section);\n  if (!clip && i < bodyClips.length) clip = bodyClips[i];\n  return {\n    section: seg.section,\n    targetDuration: seg.duration,\n    fileId: clip ? clip.fileId : null,\n    actualDuration: clip ? clip.duration : null,\n  };\n});\n\nreturn [{\n  json: {\n    scenarioName,\n    displayName: formatName(scenarioName),\n    chatId,\n    hookType,\n    selectedOutro,\n    scenarioJson,\n    copyJson,\n    template,\n    bodyClips,\n    clipMapping,\n    scenarioRecordId: scenario.id,\n    hookText: scenario.generated_hook_text || '',\n  }\n}];\n"
      },
      "id": "a96028c6-535c-42c6-85c2-2c78c83270fc",
      "name": "Prepare Production",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        -1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f8c58f80-aed7-4c70-8495-6630fce3da13",
      "name": "Produce Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -832,
        -1280
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "4183ee39-0d1d-408c-baa6-a20f59115212",
      "name": "Send Error (Produce)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2848,
        424
      ],
      "webhookId": "19f8d594-cfea-4dcf-b5e6-76c0bb3042c7",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tbltCYcVXrLYvyIJL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_label": "={{ 'run_' + $json.scenarioName + '_' + Date.now() }}",
            "scenario_id": "={{ [$json.scenarioRecordId] }}",
            "status": "started",
            "telegram_chat_id": "={{ $json.chatId }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "132318fa-3475-4ed6-9ae9-043945015525",
      "name": "Create Video Run",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -832,
        64
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Generate Hook (Modular)\n// Routes by hook type from concept config:\n//   - chat_screenshot 脙垄脗聠脗聮 Puppeteer screenshot of the chat conversation\n//   - manual_clip 脙垄脗聠脗聮 just passes through the already-uploaded hook clip file_id\n//   - ai_image 脙垄脗聠脗聮 kie.ai Nano Banana Pro (single image 脙垄脗聠脗聮 img2vid later)\n//   - ai_multi_image 脙垄脗聠脗聮 kie.ai x3 images (before_after: girl+bf moments)\n//\n// For ai_image/ai_multi_image: uses environment frame + girl reference\n// Mode: Run Once for All Items\n//\n// WIRING:\n//   manual_clip path:  Prepare Production 脙垄脗聠脗聮 this node 脙垄脗聠脗聮 [hook ready]\n//   ai_image path:     Prepare Production 脙垄脗聠脗聮 Download First Body Clip 脙垄脗聠脗聮 Extract Frame\n//                      脙垄脗聠脗聮 AI Agent (Generate Hook Prompt) 脙垄脗聠脗聮 this node 脙垄脗聠脗聮 Telegram Approval\n//   ai_multi_image:    same as ai_image but loops 3 times\n//\n// Input expects hookPrompt from $('Generate Hook Prompt') for AI modes\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 fetch polyfill (n8n Code node sandbox lacks global fetch) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst _https = require('https');\nconst _http = require('http');\nconst { URL } = require('url');\nfunction fetch(url, opts = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? _https : _http;\n    const body = opts.body || null;\n    const ro = {\n      hostname: u.hostname,\n      port: u.port || undefined,\n      path: u.pathname + u.search,\n      method: opts.method || 'GET',\n      headers: { ...(opts.headers || {}) },\n    };\n    if (body) ro.headers['Content-Length'] = Buffer.byteLength(body);\n    const req = lib.request(ro, res => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const buf = Buffer.concat(chunks);\n        resolve({\n          ok: res.statusCode >= 200 && res.statusCode < 300,\n          status: res.statusCode,\n          text: () => Promise.resolve(buf.toString()),\n          json: () => Promise.resolve(JSON.parse(buf.toString())),\n          arrayBuffer: () => Promise.resolve(buf.buffer.slice(buf.byteOffset, buf.byteOffset + buf.byteLength)),\n        });\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\nconst KIE_API_KEY = '7670ade582cc72601f388dbdc0525b9e';\nconst KIE_API_URL = 'https://api.kie.ai/api/v1/jobs';\nconst SCREENSHOT_URL = 'http://host.docker.internal:3456/screenshot';\nconst MAX_RETRIES = 1;\nconst RETRY_DELAY_MS = 5000;\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 retry helper 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nasync function withRetry(fn, label = 'API call') {\n  for (let attempt = 0; attempt <= MAX_RETRIES; attempt++) {\n    try {\n      return await fn();\n    } catch (err) {\n      if (attempt === MAX_RETRIES) throw err;\n      // Wait before retry\n      await new Promise(r => setTimeout(r, RETRY_DELAY_MS));\n    }\n  }\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 kie.ai helpers (inlined for n8n) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nasync function kieGenerate(prompt, imageRefs, options = {}) {\n  const { aspectRatio = '9:16', resolution = '2K' } = options;\n  const res = await fetch(KIE_API_URL + '/createTask', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer ' + KIE_API_KEY,\n    },\n    body: JSON.stringify({\n      model: 'nano-banana-pro',\n      input: { prompt, image_input: imageRefs, aspect_ratio: aspectRatio, resolution, output_format: 'png' },\n    }),\n  });\n  if (!res.ok) throw new Error('kie.ai createTask: ' + res.status + ' ' + (await res.text()));\n  const data = await res.json();\n  if (data.code !== 200) throw new Error('kie.ai: ' + JSON.stringify(data));\n  return data.data.taskId;\n}\n\nasync function kiePoll(taskId, timeoutMs = 180000) {\n  const start = Date.now();\n  while (Date.now() - start < timeoutMs) {\n    await new Promise(r => setTimeout(r, 3000));\n    const res = await fetch(KIE_API_URL + '/recordInfo?taskId=' + taskId, {\n      headers: { 'Authorization': 'Bearer ' + KIE_API_KEY },\n    });\n    if (!res.ok) continue;\n    const data = await res.json();\n    if (data.data?.state === 'success') {\n      return JSON.parse(data.data.resultJson).resultUrls?.[0];\n    }\n    if (data.data?.state === 'fail') throw new Error(data.data.failMsg || 'failed');\n  }\n  throw new Error('Timeout after ' + (timeoutMs / 1000) + 's');\n}\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 End helpers 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\n\nconst production = $('Prepare Production').first().json;\nconst hookType = production.hookType;\nconst chatId = production.chatId;\nconst scenarioName = production.scenarioName;\n\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n// MANUAL CLIP 脙垄脗聙脗聰 already uploaded via #hook\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\nif (hookType === 'manual_clip') {\n  if (!production.hookClipFileId) {\n    return [{ json: { error: true, chatId, message: '\\u274C No hook clip uploaded. Send: #hook ' + scenarioName + ' + video' } }];\n  }\n  return [{\n    json: {\n      hookReady: true,\n      hookSource: 'manual_clip',\n      hookFileId: production.hookClipFileId,\n      hookDuration: production.hookClipDuration,\n      chatId,\n      scenarioName,\n    }\n  }];\n}\n\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n// AI IMAGE 脙垄脗聙脗聰 single kie.ai generation\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\nif (hookType === 'ai_image') {\n  if (!KIE_API_KEY) {\n    return [{ json: { error: true, chatId, message: 'kie.ai API key not configured' } }];\n  }\n\n  const hookPrompt = $('Generate Hook Prompt').first().json.text || '';\n  if (!hookPrompt) {\n    return [{ json: { error: true, chatId, message: 'No hook prompt from AI Agent' } }];\n  }\n\n  // Reference images: env frame + girl character\n  const envFrameUrl = $input.first().json.envFrameUrl || '';\n  const girlRefUrl = production.girlRefUrl || '';\n  const imageRefs = [envFrameUrl, girlRefUrl].filter(Boolean);\n\n  if (imageRefs.length === 0) {\n    return [{ json: { error: true, chatId, message: 'No reference images (need env frame or girl ref)' } }];\n  }\n\n  try {\n    const result = await withRetry(async () => {\n      const taskId = await kieGenerate(hookPrompt, imageRefs);\n      const imageUrl = await kiePoll(taskId);\n      if (!imageUrl) throw new Error('kie.ai returned no image');\n      return imageUrl;\n    }, 'kie.ai hook');\n\n    const imgRes = await fetch(result);\n    const imgBuffer = Buffer.from(await imgRes.arrayBuffer());\n\n    return [{\n      json: {\n        hookReady: false, // needs Telegram approval + img2vid\n        hookSource: 'ai_image',\n        hookImageUrl: result,\n        chatId,\n        scenarioName,\n      },\n      binary: {\n        hookImage: {\n          data: imgBuffer.toString('base64'),\n          mimeType: 'image/png',\n          fileName: 'hook_ai.png',\n        }\n      }\n    }];\n  } catch (err) {\n    // Self-healing: AI hook failed after retry 脙垄脗聠脗聮 fall back to placeholder\n    return [{\n      json: {\n        hookReady: true,\n        hookSource: 'fallback_blank',\n        hookFailed: true,\n        hookError: err.message,\n        chatId,\n        scenarioName,\n        warning: '\\u26A0\\uFE0F Hook AI failed after retry: ' + err.message + '. Using blank placeholder.',\n      }\n    }];\n  }\n}\n\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n// AI MULTI IMAGE 脙垄脗聙脗聰 3 images for before_after\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\nif (hookType === 'ai_multi_image') {\n  if (!KIE_API_KEY) {\n    return [{ json: { error: true, chatId, message: 'kie.ai API key not configured' } }];\n  }\n\n  // For multi-image, we expect 3 separate prompts from the AI Agent\n  // The AI Agent should output: { prompt1, prompt2, prompt3 }\n  const aiOutput = $('Generate Hook Prompt').first().json;\n  const prompts = [\n    aiOutput.prompt1 || aiOutput.text || '',\n    aiOutput.prompt2 || '',\n    aiOutput.prompt3 || '',\n  ].filter(Boolean);\n\n  if (prompts.length === 0) {\n    return [{ json: { error: true, chatId, message: 'No hook prompts from AI Agent' } }];\n  }\n\n  const girlRefUrl = production.girlRefUrl || '';\n  const imageRefs = girlRefUrl ? [girlRefUrl] : [];\n  const generatedImages = [];\n\n  try {\n    for (let i = 0; i < prompts.length; i++) {\n      const imageUrl = await withRetry(async () => {\n        const taskId = await kieGenerate(prompts[i], imageRefs);\n        const url = await kiePoll(taskId);\n        if (!url) throw new Error('Image ' + (i + 1) + ' returned no URL');\n        return url;\n      }, 'kie.ai multi-hook #' + (i + 1));\n\n      const imgRes = await fetch(imageUrl);\n      const imgBuffer = Buffer.from(await imgRes.arrayBuffer());\n      generatedImages.push({\n        url: imageUrl,\n        base64: imgBuffer.toString('base64'),\n      });\n    }\n\n    // Return all images for Telegram approval (as a collage or sequential sends)\n    const binaryData = {};\n    generatedImages.forEach((img, i) => {\n      binaryData['hookImage' + (i + 1)] = {\n        data: img.base64,\n        mimeType: 'image/png',\n        fileName: 'hook_' + (i + 1) + '.png',\n      };\n    });\n\n    return [{\n      json: {\n        hookReady: false,\n        hookSource: 'ai_multi_image',\n        hookImageUrls: generatedImages.map(i => i.url),\n        imageCount: generatedImages.length,\n        chatId,\n        scenarioName,\n      },\n      binary: binaryData,\n    }];\n  } catch (err) {\n    // Self-healing: multi-image failed 脙垄脗聠脗聮 fall back to placeholder\n    return [{\n      json: {\n        hookReady: true,\n        hookSource: 'fallback_blank',\n        hookFailed: true,\n        hookError: err.message,\n        chatId,\n        scenarioName,\n        warning: '\\u26A0\\uFE0F Multi-image hook failed after retry: ' + err.message + '. Using blank placeholder.',\n      }\n    }];\n  }\n}\n\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n// CHAT SCREENSHOT 脙垄脗聙脗聰 Puppeteer screenshot of the chat conversation\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\nif (hookType === 'chat_screenshot') {\n  const scenarioJson = production.scenarioJson;\n  if (!scenarioJson || !scenarioJson.chat) {\n    return [{ json: { error: true, chatId, message: '\\u274C No chat data in scenario for screenshot' } }];\n  }\n\n  try {\n    const screenshotBuffer = await withRetry(async () => {\n      const res = await fetch(SCREENSHOT_URL, {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify(scenarioJson),\n      });\n      if (!res.ok) {\n        const errText = await res.text();\n        throw new Error('Screenshot server ' + res.status + ': ' + errText);\n      }\n      const buffer = Buffer.from(await res.arrayBuffer());\n      if (buffer.length < 1000) throw new Error('Screenshot too small (' + buffer.length + ' bytes)');\n      return buffer;\n    }, 'Screenshot server');\n\n    return [{\n      json: {\n        hookReady: true, // deterministic screenshot, no approval needed\n        hookSource: 'chat_screenshot',\n        chatId,\n        scenarioName,\n      },\n      binary: {\n        hookImage: {\n          data: screenshotBuffer.toString('base64'),\n          mimeType: 'image/png',\n          fileName: 'hook_screenshot.png',\n        }\n      }\n    }];\n  } catch (err) {\n    // Self-healing: screenshot server failed 脙垄脗聠脗聮 fall back to blank placeholder\n    return [{\n      json: {\n        hookReady: true,\n        hookSource: 'fallback_blank',\n        hookFailed: true,\n        hookError: err.message,\n        chatId,\n        scenarioName,\n        warning: '\\u26A0\\uFE0F Screenshot server failed: ' + err.message + '. Using blank placeholder.',\n      }\n    }];\n  }\n}\n\n// Unknown hook type\nreturn [{ json: { error: true, chatId, message: 'Unknown hook_type: ' + hookType } }];\n"
      },
      "id": "ef429bfe-32e4-4c7a-9381-b7d9f3245586",
      "name": "Generate Hook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -1000
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Production').first().json.chatId }}",
        "text": "={{ '\\uD83C\\uDFA3 Hook ready (' + $json.hookSource + ') for \"' + $json.scenarioName + '\"' }}",
        "additionalFields": {}
      },
      "id": "8fc7ac0b-bba3-45f4-aa0b-12ecdaf37ab3",
      "name": "Send Hook Preview",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -608,
        -568
      ],
      "webhookId": "a8f61a07-dc68-4d48-a9ee-8b93be3308be",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Generate Voiceover via Fish.audio\n// Takes the VO script from the copy JSON (generated by Workflow 1) and converts to audio\n// Copy JSON structure: { hookVO, bodyClips: [{ vo }], outroVO }\n// Self-healing: retries 1x on failure, falls back to no-VO if still failing\n// Mode: Run Once for All Items\n//\n// WIRING: Prepare Production 脙垄脗聠脗聮 this Code node 脙垄脗聠脗聮 Send VO to Telegram\n// Input: production data with copyJson containing VO scripts\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 fetch polyfill (n8n Code node sandbox lacks global fetch) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst _https = require('https');\nconst _http = require('http');\nconst { URL } = require('url');\nfunction fetch(url, opts = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? _https : _http;\n    const body = opts.body || null;\n    const ro = {\n      hostname: u.hostname,\n      port: u.port || undefined,\n      path: u.pathname + u.search,\n      method: opts.method || 'GET',\n      headers: { ...(opts.headers || {}) },\n    };\n    if (body) ro.headers['Content-Length'] = Buffer.byteLength(body);\n    const req = lib.request(ro, res => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const buf = Buffer.concat(chunks);\n        resolve({\n          ok: res.statusCode >= 200 && res.statusCode < 300,\n          status: res.statusCode,\n          text: () => Promise.resolve(buf.toString()),\n          json: () => Promise.resolve(JSON.parse(buf.toString())),\n          arrayBuffer: () => Promise.resolve(buf.buffer.slice(buf.byteOffset, buf.byteOffset + buf.byteLength)),\n        });\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\n// Config\nconst FISH_API_KEY = '145c958d4b194854b82e045f103472ee';\nconst REFERENCE_ID = '9d84b9dd0a11472a99d0a16915bbc622';\nconst MODEL = 's1';\nconst MAX_RETRIES = 1;\nconst RETRY_DELAY_MS = 5000;\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 retry helper 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nasync function withRetry(fn, label = 'API call') {\n  for (let attempt = 0; attempt <= MAX_RETRIES; attempt++) {\n    try {\n      return await fn();\n    } catch (err) {\n      if (attempt === MAX_RETRIES) throw err;\n      await new Promise(r => setTimeout(r, RETRY_DELAY_MS));\n    }\n  }\n}\n\nconst production = $('Prepare Production').first().json;\nconst chatId = production.chatId;\nconst copyJson = production.copyJson;\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Build VO text from copy JSON 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\n// Copy JSON has: hookVO, bodyClips[].vo, outroVO\n// We concatenate all VO lines with pauses between them\n\nif (!copyJson) {\n  // Self-healing: no copy data 脙垄脗聠脗聮 continue without VO\n  return [{\n    json: {\n      success: true,\n      voSkipped: true,\n      chatId,\n      scenarioName: production.scenarioName,\n      warning: '\\u26A0\\uFE0F No copy JSON found in scenario (generated_copy_json field missing). Continuing without voiceover.',\n    }\n  }];\n}\n\nconst voLines = [];\nif (copyJson.hookVO) voLines.push(copyJson.hookVO);\nif (Array.isArray(copyJson.bodyClips)) {\n  for (const clip of copyJson.bodyClips) {\n    if (clip.vo) voLines.push(clip.vo);\n  }\n}\nif (copyJson.outroVO) voLines.push(copyJson.outroVO);\n\nconst fullVoText = voLines.join(' ... ');\n\nif (!fullVoText.trim()) {\n  return [{\n    json: {\n      success: true,\n      voSkipped: true,\n      chatId,\n      scenarioName: production.scenarioName,\n      warning: '\\u26A0\\uFE0F All VO lines are empty in copy JSON. Continuing without voiceover.',\n    }\n  }];\n}\n\n// Fish.audio TTS API call with retry\ntry {\n  const audioBase64 = await withRetry(async () => {\n    const requestBody = {\n      text: fullVoText,\n      format: 'mp3',\n    };\n\n    if (REFERENCE_ID) {\n      requestBody.reference_id = REFERENCE_ID;\n    }\n\n    const response = await fetch('https://api.fish.audio/v1/tts', {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer ' + FISH_API_KEY,\n        'model': MODEL,\n      },\n      body: JSON.stringify(requestBody),\n    });\n\n    if (!response.ok) {\n      const errorText = await response.text();\n      throw new Error('Fish.audio API: ' + response.status + ' ' + errorText);\n    }\n\n    const audioBuffer = await response.arrayBuffer();\n    return Buffer.from(audioBuffer).toString('base64');\n  }, 'Fish.audio TTS');\n\n  return [{\n    json: {\n      success: true,\n      voSkipped: false,\n      chatId,\n      scenarioName: production.scenarioName,\n      voText: fullVoText,\n      voLineCount: voLines.length,\n      audioDurationEstimate: Math.ceil(fullVoText.split(' ').length / 2.5),\n    },\n    binary: {\n      voAudio: {\n        data: audioBase64,\n        mimeType: 'audio/mpeg',\n        fileName: 'voiceover.mp3',\n      }\n    }\n  }];\n} catch (err) {\n  // Self-healing: Fish.audio failed after retry 脙垄脗聠脗聮 continue without VO\n  return [{\n    json: {\n      success: true,\n      voSkipped: true,\n      chatId,\n      scenarioName: production.scenarioName,\n      voText: fullVoText,\n      warning: '\\u26A0\\uFE0F Fish.audio failed after retry: ' + err.message + '. Continuing without voiceover.',\n    }\n  }];\n}\n"
      },
      "id": "0640a6e1-4e80-4114-8acb-5530ec9a4532",
      "name": "Generate VO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -952
      ]
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $json.chatId }}",
        "additionalFields": {
          "caption": "={{ '\\uD83C\\uDFA4 VO preview for \"' + $json.scenarioName + '\"\\n\\n' + $json.voText.substring(0, 200) }}"
        }
      },
      "id": "18d51b5e-a2ac-46b9-8ce9-e3c0b389e74d",
      "name": "Send VO Preview",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        -376
      ],
      "webhookId": "605a7096-750e-450e-9ea9-fb55ddc71c9c",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Generate Outro (Modular)\n// Uses the selectedOutro from Prepare Production (weighted random from outroPool):\n//   - manual_clip 脙垄脗聠脗聮 pass through the already-uploaded outro clip file_id\n//   - ai_generated 脙垄脗聠脗聮 kie.ai with hook image as ref + girl ref 脙垄脗聠脗聮 img2vid\n//   - none 脙垄脗聠脗聮 skip outro\n// Mode: Run Once for All Items\n//\n// WIRING:\n//   manual_clip:   Prepare Production 脙垄脗聠脗聮 this node 脙垄脗聠脗聮 [outro ready]\n//   ai_generated:  After hook approved 脙垄脗聠脗聮 AI Agent (Generate Outro Prompt) 脙垄脗聠脗聮 this node 脙垄脗聠脗聮 Telegram Approval\n//   none:          Prepare Production 脙垄脗聠脗聮 this node 脙垄脗聠脗聮 [skip to VO]\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 fetch polyfill (n8n Code node sandbox lacks global fetch) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst _https = require('https');\nconst _http = require('http');\nconst { URL } = require('url');\nfunction fetch(url, opts = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? _https : _http;\n    const body = opts.body || null;\n    const ro = {\n      hostname: u.hostname,\n      port: u.port || undefined,\n      path: u.pathname + u.search,\n      method: opts.method || 'GET',\n      headers: { ...(opts.headers || {}) },\n    };\n    if (body) ro.headers['Content-Length'] = Buffer.byteLength(body);\n    const req = lib.request(ro, res => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const buf = Buffer.concat(chunks);\n        resolve({\n          ok: res.statusCode >= 200 && res.statusCode < 300,\n          status: res.statusCode,\n          text: () => Promise.resolve(buf.toString()),\n          json: () => Promise.resolve(JSON.parse(buf.toString())),\n          arrayBuffer: () => Promise.resolve(buf.buffer.slice(buf.byteOffset, buf.byteOffset + buf.byteLength)),\n        });\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\nconst KIE_API_KEY = '7670ade582cc72601f388dbdc0525b9e';\nconst KIE_API_URL = 'https://api.kie.ai/api/v1/jobs';\nconst MAX_RETRIES = 1;\nconst RETRY_DELAY_MS = 5000;\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 retry helper 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nasync function withRetry(fn, label = 'API call') {\n  for (let attempt = 0; attempt <= MAX_RETRIES; attempt++) {\n    try {\n      return await fn();\n    } catch (err) {\n      if (attempt === MAX_RETRIES) throw err;\n      await new Promise(r => setTimeout(r, RETRY_DELAY_MS));\n    }\n  }\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 kie.ai helpers 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nasync function kieGenerate(prompt, imageRefs, options = {}) {\n  const { aspectRatio = '9:16', resolution = '2K' } = options;\n  const res = await fetch(KIE_API_URL + '/createTask', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer ' + KIE_API_KEY,\n    },\n    body: JSON.stringify({\n      model: 'nano-banana-pro',\n      input: { prompt, image_input: imageRefs, aspect_ratio: aspectRatio, resolution, output_format: 'png' },\n    }),\n  });\n  if (!res.ok) throw new Error('kie.ai: ' + res.status + ' ' + (await res.text()));\n  const data = await res.json();\n  if (data.code !== 200) throw new Error('kie.ai: ' + JSON.stringify(data));\n  return data.data.taskId;\n}\n\nasync function kiePoll(taskId, timeoutMs = 180000) {\n  const start = Date.now();\n  while (Date.now() - start < timeoutMs) {\n    await new Promise(r => setTimeout(r, 3000));\n    const res = await fetch(KIE_API_URL + '/recordInfo?taskId=' + taskId, {\n      headers: { 'Authorization': 'Bearer ' + KIE_API_KEY },\n    });\n    if (!res.ok) continue;\n    const data = await res.json();\n    if (data.data?.state === 'success') return JSON.parse(data.data.resultJson).resultUrls?.[0];\n    if (data.data?.state === 'fail') throw new Error(data.data.failMsg || 'failed');\n  }\n  throw new Error('Timeout');\n}\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 End helpers 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\n\nconst production = $('Prepare Production').first().json;\nconst selectedOutro = production.selectedOutro || { type: 'none' };\nconst chatId = production.chatId;\nconst scenarioName = production.scenarioName;\n\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n// NONE 脙垄脗聙脗聰 no outro for this video\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\nif (selectedOutro.type === 'none') {\n  return [{\n    json: {\n      outroReady: true,\n      outroSkipped: true,\n      chatId,\n      scenarioName,\n    }\n  }];\n}\n\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n// MANUAL CLIP 脙垄脗聙脗聰 already uploaded via #outro\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\nif (selectedOutro.type === 'manual_clip') {\n  if (!production.outroClipFileId) {\n    return [{\n      json: {\n        error: true,\n        chatId,\n        message: '\\u274C Outro \"' + selectedOutro.label + '\" selected but no clip uploaded. Send: #outro ' + scenarioName + ' ' + selectedOutro.label + ' + video'\n      }\n    }];\n  }\n  return [{\n    json: {\n      outroReady: true,\n      outroSkipped: false,\n      outroSource: 'manual_clip',\n      outroFileId: production.outroClipFileId,\n      outroDuration: production.outroClipDuration,\n      outroLabel: selectedOutro.label,\n      chatId,\n      scenarioName,\n    }\n  }];\n}\n\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n// AI GENERATED 脙垄脗聙脗聰 kie.ai with hook image + girl ref\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\nif (selectedOutro.type === 'ai_generated') {\n  if (!KIE_API_KEY) {\n    return [{ json: { error: true, chatId, message: 'kie.ai API key not configured' } }];\n  }\n\n  // Outro prompt from AI Agent\n  const outroPrompt = $('Generate Outro Prompt').first().json.text || '';\n  if (!outroPrompt) {\n    return [{ json: { error: true, chatId, message: 'No outro prompt from AI Agent' } }];\n  }\n\n  // Reference: hook image (same girl, same setting) + girl character ref\n  const hookImageUrl = $input.first().json.hookImageUrl || '';\n  const girlRefUrl = production.girlRefUrl || '';\n  const imageRefs = [hookImageUrl, girlRefUrl].filter(Boolean);\n\n  if (imageRefs.length === 0) {\n    return [{ json: { error: true, chatId, message: 'No reference images for outro (need hook image + girl ref)' } }];\n  }\n\n  try {\n    const imageUrl = await withRetry(async () => {\n      const taskId = await kieGenerate(outroPrompt, imageRefs);\n      const url = await kiePoll(taskId);\n      if (!url) throw new Error('kie.ai returned no outro image');\n      return url;\n    }, 'kie.ai outro');\n\n    const imgRes = await fetch(imageUrl);\n    const imgBuffer = Buffer.from(await imgRes.arrayBuffer());\n\n    return [{\n      json: {\n        outroReady: false, // needs Telegram approval + img2vid\n        outroSkipped: false,\n        outroSource: 'ai_generated',\n        outroImageUrl: imageUrl,\n        outroLabel: selectedOutro.label,\n        chatId,\n        scenarioName,\n      },\n      binary: {\n        outroImage: {\n          data: imgBuffer.toString('base64'),\n          mimeType: 'image/png',\n          fileName: 'outro_ai.png',\n        }\n      }\n    }];\n  } catch (err) {\n    // Self-healing: outro AI failed after retry 脙垄脗聠脗聮 skip outro (video works without it)\n    return [{\n      json: {\n        outroReady: true,\n        outroSkipped: true,\n        outroSource: 'fallback_skip',\n        chatId,\n        scenarioName,\n        warning: '\\u26A0\\uFE0F Outro AI failed after retry: ' + err.message + '. Skipping outro.',\n      }\n    }];\n  }\n}\n\nreturn [{ json: { error: true, chatId, message: 'Unknown outro type: ' + selectedOutro.type } }];\n"
      },
      "id": "8dbf7663-9d83-494c-a2f1-f0318896df3d",
      "name": "Generate Outro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -896
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Download Assets\n// Downloads all clips from Telegram and music from URL to local filesystem\n// Must run BEFORE Assemble Video (FFmpeg needs local files)\n// Self-healing: retries downloads 2x with 3s delay, continues with partial assets\n// Mode: Run Once for All Items\n//\n// WIRING: After VO approved 脙垄脗聠脗聮 this Code node 脙垄脗聠脗聮 Assemble Video\n\nconst fs = require('fs');\nconst path = require('path');\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 fetch polyfill (n8n Code node sandbox lacks global fetch) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst _https = require('https');\nconst _http = require('http');\nconst { URL } = require('url');\nfunction fetch(url, opts = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? _https : _http;\n    const body = opts.body || null;\n    const ro = {\n      hostname: u.hostname,\n      port: u.port || undefined,\n      path: u.pathname + u.search,\n      method: opts.method || 'GET',\n      headers: { ...(opts.headers || {}) },\n    };\n    if (body) ro.headers['Content-Length'] = Buffer.byteLength(body);\n    const req = lib.request(ro, res => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const buf = Buffer.concat(chunks);\n        resolve({\n          ok: res.statusCode >= 200 && res.statusCode < 300,\n          status: res.statusCode,\n          text: () => Promise.resolve(buf.toString()),\n          json: () => Promise.resolve(JSON.parse(buf.toString())),\n          arrayBuffer: () => Promise.resolve(buf.buffer.slice(buf.byteOffset, buf.byteOffset + buf.byteLength)),\n        });\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\nconst BOT_TOKEN = '8506263958:AAHPYYEuETxqaIHiR-Ymf-VxrZKwugHYwgM';\nconst MAX_RETRIES = 2;\nconst RETRY_DELAY_MS = 3000;\n\nconst production = $('Prepare Production').first().json;\nconst scenarioName = production.scenarioName;\nconst outputDir = '/tmp/toxicornah/' + scenarioName;\n\nif (!fs.existsSync(outputDir)) {\n  fs.mkdirSync(outputDir, { recursive: true });\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 retry helper 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nasync function withRetry(fn, retries = MAX_RETRIES) {\n  for (let attempt = 0; attempt <= retries; attempt++) {\n    try {\n      return await fn();\n    } catch (err) {\n      if (attempt === retries) throw err;\n      await new Promise(r => setTimeout(r, RETRY_DELAY_MS));\n    }\n  }\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Telegram file download helper (with retry) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nasync function downloadTgFile(fileId, outputPath) {\n  return withRetry(async () => {\n    const getFileRes = await fetch('https://api.telegram.org/bot' + BOT_TOKEN + '/getFile?file_id=' + fileId);\n    const getFileData = await getFileRes.json();\n    const filePath = getFileData.result?.file_path;\n    if (!filePath) throw new Error('getFile failed for ' + fileId);\n    const downloadUrl = 'https://api.telegram.org/file/bot' + BOT_TOKEN + '/' + filePath;\n    const res = await fetch(downloadUrl);\n    if (!res.ok) throw new Error('Download failed: ' + res.status);\n    const buffer = Buffer.from(await res.arrayBuffer());\n    fs.writeFileSync(outputPath, buffer);\n    return outputPath;\n  });\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 URL download helper (with retry) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nasync function downloadUrl(url, outputPath) {\n  return withRetry(async () => {\n    const res = await fetch(url);\n    if (!res.ok) throw new Error('URL download failed: ' + res.status);\n    const buffer = Buffer.from(await res.arrayBuffer());\n    fs.writeFileSync(outputPath, buffer);\n    return outputPath;\n  });\n}\n\nconst chatId = production.chatId;\nconst warnings = [];\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Download hook 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nlet hookFile = null;\ntry {\n  const hookData = $('Generate Hook').first().json;\n\n  if (hookData.hookSource === 'fallback_blank') {\n    // Self-healing: hook AI failed 脙垄脗聠脗聮 create a blank black frame as placeholder\n    const { execSync } = require('child_process');\n    hookFile = path.join(outputDir, 'hook_blank.png');\n    execSync('ffmpeg -y -f lavfi -i color=black:s=1080x1920:d=1 -frames:v 1 \"' + hookFile + '\"', { timeout: 10000 });\n    warnings.push('Hook: using blank black placeholder (AI failed)');\n  } else if (production.hookType === 'manual_clip' && production.hookClipFileId) {\n    hookFile = await downloadTgFile(production.hookClipFileId, path.join(outputDir, 'hook.mp4'));\n  } else {\n    // For AI hooks, the binary is passed from Generate Hook node\n    const hookBinary = $('Generate Hook').first().binary;\n    if (hookBinary) {\n      if (hookBinary.hookVideo) {\n        hookFile = path.join(outputDir, 'hook.mp4');\n        fs.writeFileSync(hookFile, Buffer.from(hookBinary.hookVideo.data, 'base64'));\n      } else if (hookBinary.hookImage) {\n        hookFile = path.join(outputDir, 'hook.png');\n        fs.writeFileSync(hookFile, Buffer.from(hookBinary.hookImage.data, 'base64'));\n      }\n    }\n  }\n} catch (e) {\n  warnings.push('Hook download failed: ' + e.message);\n  // Self-healing: create blank placeholder\n  try {\n    const { execSync } = require('child_process');\n    hookFile = path.join(outputDir, 'hook_blank.png');\n    execSync('ffmpeg -y -f lavfi -i color=black:s=1080x1920:d=1 -frames:v 1 \"' + hookFile + '\"', { timeout: 10000 });\n    warnings.push('Hook: using blank placeholder as fallback');\n  } catch (e2) { warnings.push('Hook blank fallback also failed: ' + e2.message); }\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Download body clips 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst clipMapping = [];\nfor (let i = 0; i < (production.bodyClips || []).length; i++) {\n  const clip = production.bodyClips[i];\n  const localPath = path.join(outputDir, 'body_' + clip.clipIndex + '.mp4');\n  try {\n    if (clip.fileId) {\n      await downloadTgFile(clip.fileId, localPath);\n    }\n    // Find matching template segment\n    const segment = (production.clipMapping || [])[i] || {};\n    clipMapping.push({\n      section: segment.section || clip.section || 'body_' + clip.clipIndex,\n      targetDuration: segment.targetDuration || 3.0,\n      localPath,\n      actualDuration: clip.duration || 0,\n    });\n  } catch (e) {\n    warnings.push('Body clip ' + clip.clipIndex + ': ' + e.message + ' (skipped)');\n    // Don't add to clipMapping 脙垄脗聙脗聰 this clip will be excluded from assembly\n  }\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Download outro 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nlet outroFile = null;\ntry {\n  const outroData = $('Generate Outro').first().json;\n  if (outroData.outroSkipped) {\n    // No outro 脙垄脗聙脗聰 fine\n  } else if (outroData.outroSource === 'manual_clip' && outroData.outroFileId) {\n    outroFile = await downloadTgFile(outroData.outroFileId, path.join(outputDir, 'outro.mp4'));\n  } else if (outroData.outroSource === 'fallback_skip') {\n    // AI failed, outro was skipped 脙垄脗聙脗聰 fine\n    warnings.push('Outro skipped (AI fallback)');\n  } else {\n    const outroBinary = $('Generate Outro').first().binary;\n    if (outroBinary?.outroVideo) {\n      outroFile = path.join(outputDir, 'outro.mp4');\n      fs.writeFileSync(outroFile, Buffer.from(outroBinary.outroVideo.data, 'base64'));\n    } else if (outroBinary?.outroImage) {\n      outroFile = path.join(outputDir, 'outro.png');\n      fs.writeFileSync(outroFile, Buffer.from(outroBinary.outroImage.data, 'base64'));\n    }\n  }\n} catch (e) {\n  warnings.push('Outro: ' + e.message + ' (skipped)');\n  // Self-healing: outro is optional, just skip it\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Save VO from binary 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nlet voFile = null;\ntry {\n  const voData = $('Generate VO').first().json;\n  if (voData.voSkipped) {\n    warnings.push('VO skipped: ' + (voData.warning || 'no VO available'));\n  } else {\n    const voBinary = $('Generate VO').first().binary;\n    if (voBinary?.voAudio) {\n      voFile = path.join(outputDir, 'voiceover.mp3');\n      fs.writeFileSync(voFile, Buffer.from(voBinary.voAudio.data, 'base64'));\n    }\n  }\n} catch (e) {\n  warnings.push('VO: ' + e.message + ' (skipped)');\n  // Self-healing: video works without VO\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Download music 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nlet musicFile = null;\ntry {\n  if (production.musicTrack) {\n    if (production.musicTrack.telegramFileId) {\n      musicFile = await downloadTgFile(production.musicTrack.telegramFileId, path.join(outputDir, 'music.mp3'));\n    } else if (production.musicTrack.fileUrl) {\n      musicFile = await downloadUrl(production.musicTrack.fileUrl, path.join(outputDir, 'music.mp3'));\n    }\n  }\n} catch (e) {\n  warnings.push('Music: ' + e.message + ' (skipped)');\n  // Self-healing: video works without music\n}\n\n// Only hard-fail if we have NO body clips at all\nif (clipMapping.length === 0) {\n  return [{ json: { error: true, chatId, message: '\\u274C All body clip downloads failed. Cannot assemble video.\\n' + warnings.join('\\n') } }];\n}\n\nreturn [{\n  json: {\n    scenarioName,\n    outputDir,\n    hookFile,\n    outroFile,\n    voFile,\n    musicFile,\n    clipMapping,\n    template: production.template,\n    chatId,\n    runRecordId: (() => { try { return $('Create Video Run').first().json.id; } catch(e) { return null; } })(),\n    warnings: warnings.length > 0 ? warnings : undefined,\n  }\n}];\n"
      },
      "id": "e2bdbc1b-a542-4375-8e49-27b4499113e7",
      "name": "Download Assets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -896
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Assemble Video with FFmpeg (Modular + Smart Trim + Music Sync)\n// Combines all approved assets into the final video:\n//   - Hook clip/video (manual or AI-generated, or blank placeholder)\n//   - Body clips (smart-trimmed to template durations)\n//   - Outro clip/video (manual, AI, or skipped)\n//   - Voiceover audio (Fish.audio, or skipped)\n//   - Background music (120 BPM, trimmed to total duration, or skipped)\n// Self-healing: handles missing optional assets, retries FFmpeg with simpler params on failure\n// Mode: Run Once for All Items\n//\n// WIRING: After all assets approved 脙垄脗聠脗聮 Download All Clips 脙垄脗聠脗聮 this Code node 脙垄脗聠脗聮 Send Final to Telegram\n//\n// Expects all clips downloaded to /tmp/toxicornah/{scenarioName}/\n// Input: production data with template, clip mapping, file paths\n\nconst fs = require('fs');\nconst path = require('path');\nconst { execSync } = require('child_process');\n\nconst production = $input.first().json;\nconst {\n  scenarioName,\n  template,\n  clipMapping,      // [{ section, targetDuration, localPath, actualDuration }]\n  hookFile,         // path to hook clip/video\n  outroFile,        // path to outro clip/video (null if skipped)\n  voFile,           // path to voiceover MP3\n  musicFile,        // path to background music MP3\n  chatId,\n  runRecordId,\n} = production;\n\nconst outputDir = production.outputDir || '/tmp/toxicornah/' + scenarioName;\nconst outputFile = path.join(outputDir, scenarioName + '_final.mp4');\nconst WIDTH = 1080;\nconst HEIGHT = 1920;\nconst FPS = 30;\n\nif (!fs.existsSync(outputDir)) {\n  fs.mkdirSync(outputDir, { recursive: true });\n}\n\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n// STEP 1: Probe all clip durations with FFprobe\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\nfunction probeDuration(filePath) {\n  try {\n    const result = execSync(\n      'ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 \"' + filePath + '\"',\n      { timeout: 10000 }\n    ).toString().trim();\n    return parseFloat(result) || 0;\n  } catch (e) {\n    return 0;\n  }\n}\n\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n// STEP 2: Calculate speed factors for smart trimming\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\nfunction calcTrimStrategy(actualDuration, targetDuration) {\n  if (actualDuration <= 0 || targetDuration <= 0) {\n    return { method: 'none', speedFactor: 1.0 };\n  }\n\n  const sf = actualDuration / targetDuration;\n\n  // Within 5%: just hard trim to exact duration\n  if (sf >= 0.95 && sf <= 1.05) {\n    return { method: 'trim', speedFactor: 1.0 };\n  }\n\n  // Slightly longer (up to 1.4x): speed up\n  if (sf > 1.05 && sf <= 1.4) {\n    return { method: 'speed', speedFactor: sf };\n  }\n\n  // Much longer: hard trim from end\n  if (sf > 1.4) {\n    return { method: 'trim', speedFactor: 1.0 };\n  }\n\n  // Slightly shorter (down to 0.7x): slow down\n  if (sf >= 0.7 && sf < 0.95) {\n    return { method: 'speed', speedFactor: sf };\n  }\n\n  // Much shorter: freeze last frame\n  if (sf < 0.7) {\n    const gap = targetDuration - actualDuration;\n    return { method: 'freeze', speedFactor: 1.0, freezeDuration: gap };\n  }\n\n  return { method: 'none', speedFactor: 1.0 };\n}\n\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n// STEP 3: Build FFmpeg command\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\nconst inputs = [];\nconst filterParts = [];\nconst scaledStreams = [];\nlet streamIdx = 0;\n\n// Helper: quote path for shell\nfunction q(p) { return '\"' + p.replace(/\"/g, '\\\\\"') + '\"'; }\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Hook input 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst hookSegment = template.segments.find(s => s.section === 'hook');\nconst hookTarget = hookSegment ? hookSegment.duration : 3.0;\n\nif (hookFile && fs.existsSync(hookFile)) {\n  const hookActual = probeDuration(hookFile);\n  const hookTrim = calcTrimStrategy(hookActual, hookTarget);\n  const hookIdx = streamIdx++;\n\n  if (hookFile.endsWith('.png') || hookFile.endsWith('.jpg')) {\n    // Still image 脙垄脗聠脗聮 create video\n    inputs.push('-loop 1 -t ' + hookTarget + ' -framerate ' + FPS + ' -i ' + q(hookFile));\n    filterParts.push('[' + hookIdx + ':v]scale=' + WIDTH + ':' + HEIGHT + ':force_original_aspect_ratio=decrease,pad=' + WIDTH + ':' + HEIGHT + ':(ow-iw)/2:(oh-ih)/2,setsar=1,fps=' + FPS + '[hook]');\n  } else {\n    inputs.push('-i ' + q(hookFile));\n    let vf = '[' + hookIdx + ':v]';\n    if (hookTrim.method === 'speed' && hookTrim.speedFactor !== 1.0) {\n      vf += 'setpts=PTS/' + hookTrim.speedFactor.toFixed(4) + ',';\n    }\n    vf += 'scale=' + WIDTH + ':' + HEIGHT + ':force_original_aspect_ratio=decrease,pad=' + WIDTH + ':' + HEIGHT + ':(ow-iw)/2:(oh-ih)/2,setsar=1,fps=' + FPS;\n    if (hookTrim.method === 'freeze') {\n      vf += ',tpad=stop=-1:stop_mode=clone:stop_duration=' + hookTrim.freezeDuration.toFixed(3);\n    }\n    vf += ',trim=0:' + hookTarget.toFixed(3) + ',setpts=PTS-STARTPTS[hook]';\n    filterParts.push(vf);\n  }\n  scaledStreams.push('[hook]');\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Body clip inputs 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst bodySegments = (clipMapping || []).filter(c => c.localPath && fs.existsSync(c.localPath));\n\nfor (let i = 0; i < bodySegments.length; i++) {\n  const seg = bodySegments[i];\n  const idx = streamIdx++;\n  const label = 'body' + i;\n  const actual = seg.actualDuration || probeDuration(seg.localPath);\n  const target = seg.targetDuration || 3.0;\n  const trim = calcTrimStrategy(actual, target);\n\n  inputs.push('-i ' + q(seg.localPath));\n\n  let vf = '[' + idx + ':v]';\n  if (trim.method === 'speed' && trim.speedFactor !== 1.0) {\n    vf += 'setpts=PTS/' + trim.speedFactor.toFixed(4) + ',';\n  }\n  vf += 'scale=' + WIDTH + ':' + HEIGHT + ':force_original_aspect_ratio=decrease,pad=' + WIDTH + ':' + HEIGHT + ':(ow-iw)/2:(oh-ih)/2,setsar=1,fps=' + FPS;\n  if (trim.method === 'freeze') {\n    vf += ',tpad=stop=-1:stop_mode=clone:stop_duration=' + trim.freezeDuration.toFixed(3);\n  }\n  vf += ',trim=0:' + target.toFixed(3) + ',setpts=PTS-STARTPTS[' + label + ']';\n  filterParts.push(vf);\n  scaledStreams.push('[' + label + ']');\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Outro input 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst outroSegment = template.segments.find(s => s.section === 'outro');\nconst outroTarget = outroSegment ? outroSegment.duration : 3.0;\n\nif (outroFile && fs.existsSync(outroFile)) {\n  const outroActual = probeDuration(outroFile);\n  const outroTrim = calcTrimStrategy(outroActual, outroTarget);\n  const outroIdx = streamIdx++;\n\n  inputs.push('-i ' + q(outroFile));\n\n  let vf = '[' + outroIdx + ':v]';\n  if (outroTrim.method === 'speed' && outroTrim.speedFactor !== 1.0) {\n    vf += 'setpts=PTS/' + outroTrim.speedFactor.toFixed(4) + ',';\n  }\n  vf += 'scale=' + WIDTH + ':' + HEIGHT + ':force_original_aspect_ratio=decrease,pad=' + WIDTH + ':' + HEIGHT + ':(ow-iw)/2:(oh-ih)/2,setsar=1,fps=' + FPS;\n  if (outroTrim.method === 'freeze') {\n    vf += ',tpad=stop=-1:stop_mode=clone:stop_duration=' + outroTrim.freezeDuration.toFixed(3);\n  }\n  vf += ',trim=0:' + outroTarget.toFixed(3) + ',setpts=PTS-STARTPTS[outro]';\n  filterParts.push(vf);\n  scaledStreams.push('[outro]');\n}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Concatenate all video streams 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nif (scaledStreams.length === 0) {\n  return [{ json: { error: true, chatId, message: 'No video streams to assemble' } }];\n}\nfilterParts.push(scaledStreams.join('') + 'concat=n=' + scaledStreams.length + ':v=1:a=0[outv]');\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Audio: VO + Music 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nlet voIdx = -1;\nlet musicIdx = -1;\n\nif (voFile && fs.existsSync(voFile)) {\n  voIdx = streamIdx++;\n  inputs.push('-i ' + q(voFile));\n  filterParts.push('[' + voIdx + ':a]volume=1.0[vo]');\n}\n\nif (musicFile && fs.existsSync(musicFile)) {\n  musicIdx = streamIdx++;\n  inputs.push('-i ' + q(musicFile));\n  // Trim music to total video duration, fade out last 1s\n  const totalDur = template.totalDuration || template.segments.reduce((s, seg) => s + seg.duration, 0);\n  filterParts.push('[' + musicIdx + ':a]atrim=0:' + totalDur.toFixed(3) + ',asetpts=PTS-STARTPTS,volume=0.15,afade=t=out:st=' + (totalDur - 1).toFixed(3) + ':d=1[music]');\n}\n\n// Mix audio\nif (voIdx >= 0 && musicIdx >= 0) {\n  filterParts.push('[vo][music]amix=inputs=2:duration=first:dropout_transition=1[outa]');\n} else if (voIdx >= 0) {\n  filterParts.push('[vo]acopy[outa]');\n} else if (musicIdx >= 0) {\n  filterParts.push('[music]acopy[outa]');\n}\n\nconst hasAudio = voIdx >= 0 || musicIdx >= 0;\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Build full command 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst filterComplex = filterParts.join(';\\\\n');\n\nlet cmd = 'ffmpeg -y ' + inputs.join(' ') +\n  ' -filter_complex \"' + filterComplex + '\"' +\n  ' -map \"[outv]\"';\n\nif (hasAudio) {\n  cmd += ' -map \"[outa]\"';\n}\n\ncmd += ' -c:v libx264 -preset fast -crf 23' +\n  ' -c:a aac -b:a 192k' +\n  ' -shortest' +\n  ' -movflags +faststart' +\n  ' ' + q(outputFile);\n\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n// STEP 4: Execute FFmpeg (with retry using simpler params)\n// 脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬脙垄脗聲脗聬\n\n// Collect warnings from Download Assets\nconst assetWarnings = production.warnings || [];\n\nlet ffmpegSuccess = false;\nlet ffmpegError = '';\n\n// Attempt 1: full command with all features\ntry {\n  execSync(cmd, { timeout: 600000, maxBuffer: 50 * 1024 * 1024 }); // 10 min timeout\n  ffmpegSuccess = true;\n} catch (err) {\n  ffmpegError = err.stderr?.toString()?.substring(0, 500) || err.message;\n\n  // Self-healing attempt 2: simpler command (no audio mixing, just video + VO)\n  if (hasAudio && musicIdx >= 0 && voIdx >= 0) {\n    try {\n      // Rebuild without music 脙垄脗聙脗聰 just video + VO\n      const simpleFilterParts = filterParts.filter(p =>\n        !p.includes('[music]') && !p.includes('amix') && !p.includes('[outa]')\n      );\n      // Replace audio output: just use VO directly\n      simpleFilterParts.push('[vo]acopy[outa]');\n\n      const simpleFilter = simpleFilterParts.join(';\\\\n');\n      const simpleInputs = inputs.filter(inp => !inp.includes(q(musicFile)));\n\n      let simpleCmd = 'ffmpeg -y ' + simpleInputs.join(' ') +\n        ' -filter_complex \"' + simpleFilter + '\"' +\n        ' -map \"[outv]\" -map \"[outa]\"' +\n        ' -c:v libx264 -preset fast -crf 23' +\n        ' -c:a aac -b:a 192k -shortest -movflags +faststart ' + q(outputFile);\n\n      execSync(simpleCmd, { timeout: 600000, maxBuffer: 50 * 1024 * 1024 });\n      ffmpegSuccess = true;\n      assetWarnings.push('FFmpeg: retry without music succeeded');\n    } catch (err2) {\n      ffmpegError += '\\nRetry without music: ' + (err2.stderr?.toString()?.substring(0, 300) || err2.message);\n    }\n  }\n\n  // Self-healing attempt 3: video only, no audio at all\n  if (!ffmpegSuccess) {\n    try {\n      const videoOnlyFilter = filterParts.filter(p =>\n        !p.includes(':a]') && !p.includes('[vo]') && !p.includes('[music]') && !p.includes('amix') && !p.includes('[outa]') && !p.includes('acopy')\n      ).join(';\\\\n');\n\n      const videoOnlyInputs = inputs.filter(inp =>\n        !inp.includes(q(voFile)) && !inp.includes(q(musicFile))\n      );\n\n      let videoOnlyCmd = 'ffmpeg -y ' + videoOnlyInputs.join(' ') +\n        ' -filter_complex \"' + videoOnlyFilter + '\"' +\n        ' -map \"[outv]\"' +\n        ' -c:v libx264 -preset fast -crf 23 -an -movflags +faststart ' + q(outputFile);\n\n      execSync(videoOnlyCmd, { timeout: 600000, maxBuffer: 50 * 1024 * 1024 });\n      ffmpegSuccess = true;\n      assetWarnings.push('FFmpeg: video-only fallback (no audio)');\n    } catch (err3) {\n      ffmpegError += '\\nVideo-only retry: ' + (err3.stderr?.toString()?.substring(0, 300) || err3.message);\n    }\n  }\n}\n\nif (!ffmpegSuccess || !fs.existsSync(outputFile)) {\n  return [{\n    json: {\n      error: true,\n      chatId,\n      message: '\\u274C FFmpeg failed after all retries:\\n' + ffmpegError,\n      command: cmd,\n    }\n  }];\n}\n\nconst stats = fs.statSync(outputFile);\nconst videoBase64 = fs.readFileSync(outputFile).toString('base64');\n\nreturn [{\n  json: {\n    success: true,\n    outputFile,\n    fileSizeMB: (stats.size / (1024 * 1024)).toFixed(1),\n    scenarioName,\n    chatId,\n    runRecordId,\n    warnings: assetWarnings.length > 0 ? assetWarnings : undefined,\n  },\n  binary: {\n    video: {\n      data: videoBase64,\n      mimeType: 'video/mp4',\n      fileName: scenarioName + '_final.mp4',\n    }\n  }\n}];\n"
      },
      "id": "15fa4f1b-5316-4f60-bce0-a5fefc8afab7",
      "name": "Assemble Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -896
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b3e2166-3a7b-473c-899f-3aa57a9bfcfc",
      "name": "Assembly Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        -656
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "204e3c3f-92e9-462f-9830-f426c9777cee",
      "name": "Send Assembly Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        -608
      ],
      "webhookId": "3285acc3-3843-45fb-837d-963ede3ad265",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $json.chatId }}",
        "additionalFields": {
          "caption": "={{ \"脙掳脗聼脗聨脗卢 Video pronto: \" + $json.scenarioName + \"\\nDimensione: \" + $json.fileSizeMB + \" MB\" + ($json.warnings ? \"\\n\\n脙垄脗職脗聽脙炉脗赂脗聫 \" + $json.warnings.join(\"\\n脙垄脗職脗聽脙炉脗赂脗聫 \") : \"\") }}"
        }
      },
      "id": "ad5e4649-71b0-439e-b3cf-a021feb21b6e",
      "name": "Send Final Video",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        -848
      ],
      "webhookId": "8e094203-3836-444a-ab59-3c7ad362dc07",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tbltCYcVXrLYvyIJL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.runRecordId }}",
            "status": "completed"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "6fbb6c28-b4d5-4a3e-9844-dc488f8bd288",
      "name": "Update Run Complete",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        736,
        -848
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Assemble Video').first().json.chatId }}",
        "text": "={{ '\\u2705 Production complete for \"' + $('Assemble Video').first().json.scenarioName + '\"!\\nSize: ' + $('Assemble Video').first().json.fileSizeMB + ' MB\\n\\nVideo is ready for upload.' + ($('Assemble Video').first().json.warnings ? '\\n\\n\\u26A0\\uFE0F Warnings:\\n' + $('Assemble Video').first().json.warnings.join('\\n') : '') }}",
        "additionalFields": {}
      },
      "id": "b8107888-55f4-4a91-a4c3-97cb2e18a4a7",
      "name": "Done Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -848
      ],
      "webhookId": "28df6b0f-0626-4d00-a2e7-7b4c1413d8ed",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Handle Telegram Callback\n// Parses the callback_data from inline keyboard button press\n\nconst update = $input.first().json;\n\nconst callbackData = update.callback_query\n  ? update.callback_query.data\n  : (update.data || '');\n\nconst callbackQueryId = update.callback_query\n  ? update.callback_query.id\n  : '';\n\nconst chatId = update.callback_query\n  ? update.callback_query.message.chat.id\n  : '';\n\nconst parts = callbackData.split('_');\nconst action = parts[0];\nconst scenarioName = parts.slice(1).join('_');\n\nlet newStatus = '';\nlet responseText = '';\nswitch (action) {\n  case 'approve':\n    newStatus = 'approved';\n    responseText = '\\u2705 Scenario \"' + scenarioName + '\" approved!';\n    break;\n  case 'redo':\n    newStatus = 'draft';\n    responseText = '\\uD83D\\uDD04 Scenario \"' + scenarioName + '\" marked for regeneration.';\n    break;\n  case 'skip':\n    newStatus = 'skipped';\n    responseText = '\\u274C Scenario \"' + scenarioName + '\" skipped.';\n    break;\n  default:\n    newStatus = '';\n    responseText = '\\u2753 Unknown action: ' + action;\n}\n\nreturn [{\n  json: {\n    action,\n    scenarioName,\n    newStatus,\n    responseText,\n    callbackQueryId,\n    chatId\n  }\n}];"
      },
      "id": "ef77009c-991c-431c-a719-fc5b2bfd7b19",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1952,
        -1760
      ]
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callbackQueryId }}",
        "additionalFields": {
          "show_alert": false,
          "text": "={{ $json.responseText }}"
        }
      },
      "id": "b44828e7-bede-49d0-8fc5-140f3ac9bb5d",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1728,
        -1760
      ],
      "webhookId": "460cb4c2-0a48-444b-94e7-831ad4f1ad7e",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblcQaMBBPcOAy0NF"
        },
        "filterByFormula": "={{ '{scenario_name} = \"' + $('Parse Callback').first().json.scenarioName + '\"' }}",
        "options": {}
      },
      "id": "ae96327a-b2cf-423d-b14b-8661a5af007f",
      "name": "Find Scenario (Callback)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1504,
        -1760
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblcQaMBBPcOAy0NF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "={{ $('Parse Callback').first().json.newStatus }}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "75a8c610-084e-4ea1-ad40-1027559d5caa",
      "name": "Update Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1280,
        -1760
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-approve",
              "leftValue": "={{ $('Parse Callback').first().json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73eccd1b-596c-4998-b8f5-cd12ad60c279",
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1056,
        -1760
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Save Scenario to Supabase\n// Saves approved scenario JSON to Supabase content_scenarios table\n// Returns the UUID for building the demo URL (?sid=xxx)\n// Mode: Run Once for All Items\n//\n// WIRING: In Workflow 2, placed on the \"approve\" branch of the IF node after Update Status.\n// References $('Find Scenario') for scenario_json and $('Parse Callback') for action/scenarioName.\n//\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 fetch polyfill (n8n Code node sandbox lacks global fetch) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nconst _https = require('https');\nconst _http = require('http');\nconst { URL } = require('url');\nfunction fetch(url, opts = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? _https : _http;\n    const body = opts.body || null;\n    const ro = {\n      hostname: u.hostname,\n      port: u.port || undefined,\n      path: u.pathname + u.search,\n      method: opts.method || 'GET',\n      headers: { ...(opts.headers || {}) },\n    };\n    if (body) ro.headers['Content-Length'] = Buffer.byteLength(body);\n    const req = lib.request(ro, res => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const buf = Buffer.concat(chunks);\n        resolve({\n          ok: res.statusCode >= 200 && res.statusCode < 300,\n          status: res.statusCode,\n          text: () => Promise.resolve(buf.toString()),\n          json: () => Promise.resolve(JSON.parse(buf.toString())),\n          arrayBuffer: () => Promise.resolve(buf.buffer.slice(buf.byteOffset, buf.byteOffset + buf.byteLength)),\n        });\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\n// Config 脙垄脗聙脗聰 hardcoded for private self-hosted n8n\nconst SUPABASE_URL = 'https://iilqnbumccqxlyloerzd.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpbHFuYnVtY2NxeGx5bG9lcnpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODcyMzAyOCwiZXhwIjoyMDg0Mjk5MDI4fQ.XUKQTfMrtg2gYwIiJX_dMBX6C4VSlKZS09cNC7h7yVQ'; // 脙垄脗聠脗聬 Replace with your service_role key from Supabase Dashboard 脙垄脗聠脗聮 Settings 脙垄脗聠脗聮 API\nconst APP_URL = 'https://toxicor-nah.vercel.app';\n\n// Get action and scenarioName from the callback handler node\nconst callback = $('Parse Callback').first().json;\nconst action = callback.action;\nconst scenarioName = callback.scenarioName;\n\n// Only save if action is approve\nif (action !== 'approve') {\n  return [{ json: { skipped: true, reason: 'Action is not approve: ' + action } }];\n}\n\n// Get scenario_json from the Find Scenario node (not $input 脙垄脗聙脗聰 after Update Status, input only has id+status)\nconst airtableRecord = $('Find Scenario (Callback)').first().json;\nlet scenarioJson = airtableRecord.scenario_json || airtableRecord.fields?.scenario_json;\n\nif (!scenarioJson) {\n  return [{ json: { error: true, message: 'No scenario_json found in Airtable record. Fields: ' + Object.keys(airtableRecord).join(', ') } }];\n}\n\n// Parse if stored as string in Airtable\nif (typeof scenarioJson === 'string') {\n  try {\n    scenarioJson = JSON.parse(scenarioJson);\n  } catch (e) {\n    return [{ json: { error: true, message: 'Failed to parse scenario_json: ' + e.message } }];\n  }\n}\n\n// Supabase REST API insert\n\nconst response = await fetch(SUPABASE_URL + '/rest/v1/content_scenarios', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': SUPABASE_KEY,\n    'Authorization': 'Bearer ' + SUPABASE_KEY,\n    'Prefer': 'return=representation',\n  },\n  body: JSON.stringify({\n    scenario_id: scenarioName,\n    scenario_json: scenarioJson,\n    status: 'approved',\n  }),\n});\n\nif (!response.ok) {\n  const errorText = await response.text();\n  return [{ json: { error: true, scenarioName, message: 'Supabase insert failed: ' + response.status + ' ' + errorText } }];\n}\n\nconst [inserted] = await response.json();\nconst uuid = inserted.id;\n\n// Build the demo URL\nconst appUrl = APP_URL;\nconst demoUrl = appUrl + '/?sid=' + uuid;\n\nreturn [{\n  json: {\n    success: true,\n    uuid,\n    scenarioName,\n    demoUrl,\n    message: '脙掳脗聼脗聯脗卤 Demo URL: ' + demoUrl,\n  }\n}];\n"
      },
      "id": "126d66ed-7d9c-4e98-8641-966a0b01c326",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -1856
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Callback').first().json.chatId }}",
        "text": "={{ $json.success ? '\\u2705 Scenario \"' + $json.scenarioName + '\" approved and saved!\\n\\n\\uD83D\\uDCF1 Demo URL:\\n' + $json.demoUrl : '\\u26A0\\uFE0F Approved but Supabase save failed:\\n' + $json.message }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "91d02112-80f9-4a02-8f12-d09784169d8e",
      "name": "Send DemoUrl",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -608,
        -1952
      ],
      "webhookId": "4b736a75-c6b4-4766-9a15-41a8d18d0480",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Callback').first().json.chatId }}",
        "text": "={{ $('Parse Callback').first().json.responseText }}",
        "additionalFields": {}
      },
      "id": "6fcaa147-1c38-4bd5-9afe-3d89db03a294",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -608,
        -1568
      ],
      "webhookId": "c9c060fe-1de4-4dbe-907e-231947e6c98b",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Detect Telegram update type: callback_query or message\nconst update = $input.first().json;\nif (update.callback_query) {\n  return [{ json: { ...update, updateType: \"callback\" } }];\n}\nreturn [{ json: { ...update, updateType: \"message\" } }];"
      },
      "id": "28b27e5f-dcb7-45e5-80dc-a141feb00ee6",
      "name": "Detect Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        -1720
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.updateType }}",
                    "rightValue": "callback",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Callback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.updateType }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message"
            }
          ]
        },
        "options": {}
      },
      "id": "b4c58a2d-ea93-4493-8480-fdee20457615",
      "name": "Route Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2400,
        -1720
      ]
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblcQaMBBPcOAy0NF",
          "mode": "list",
          "cachedResultName": "Scenarios",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblcQaMBBPcOAy0NF"
        },
        "id": "={{ $('Find Scenario (Callback)').first().json.id }}"
      },
      "id": "6cda028c-21e7-4420-b7c0-86898138d8d2",
      "name": "Delete Scenario",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -832,
        -1568
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Send Recording Instructions\n// After scenario approval, tells the user which body clips to record\n// Stores recording state in workflow static data (activeRecording)\n// Mode: Run Once for All Items\n//\n// WIRING: After Save to Supabase (approve branch) 脙垄脗聠脗聮 this Code node 脙垄脗聠脗聮 Telegram Send Message\n//         Also wire to: Airtable Update Scenario (set status = 'recording')\n//\n// The Telegram Send node should use {{ $json.message }} as text and {{ $json.chatId }} as chat ID.\n// The Airtable Update node should set status = 'recording' for record {{ $json.scenarioRecordId }}.\n\nconst staticData = $getWorkflowStaticData('global');\n\n// Helper: \"toxic-sad-happy-girl-1771197483216\" 脙垄脗聠脗聮 \"Toxic Sad Happy Girl\"\nfunction formatName(raw) {\n  if (!raw) return 'Scenario';\n  return raw.replace(/-\\d{10,}$/, '').split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n}\n\n// Get data from approval flow\nconst supabaseResult = $('Save to Supabase').first().json;\n\n// scenarioName: try multiple sources\nlet scenarioName = supabaseResult.scenarioName;\nif (!scenarioName) {\n  try { scenarioName = $('Find Scenario (Callback)').first().json.scenario_name; } catch(e) {}\n}\nif (!scenarioName) {\n  try { scenarioName = $('Parse Callback').first().json.scenarioName; } catch(e) {}\n}\n\n// chatId: try multiple sources\nlet chatId;\ntry { chatId = $('Parse Callback').first().json.chatId; } catch(e) {}\nif (!chatId) chatId = supabaseResult.chatId || '';\n\n// Scenario record ID for Airtable status update\nlet scenarioRecordId = '';\ntry {\n  const scenarioRecord = $('Find Scenario (Callback)').first().json;\n  scenarioRecordId = scenarioRecord.id || '';\n} catch(e) {}\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 Body segments (Standard template 脙垄脗聙脗聰 covers most concepts) 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\n// These describe what the user needs to record on their phone screen\nconst bodySegments = [\n  { section: 'screenshot', duration: 1, label: 'Screenshot della chat' },\n  { section: 'upload_chat', duration: 1, label: 'Upload chat (caricamento)' },\n  { section: 'toxic_score', duration: 3, label: 'Toxic score reveal' },\n  { section: 'soul_type', duration: 3, label: 'Soul type card' },\n  { section: 'deep_dive', duration: 3, label: 'Deep dive (categorie)' },\n];\n\n// Store recording state\nstaticData.activeRecording = {\n  scenarioName,\n  chatId,\n  scenarioRecordId,\n  expectedClips: bodySegments,\n  receivedCount: 0,\n};\n\n// Build Telegram message\nconst displayName = formatName(scenarioName);\nlet msg = '脙掳脗聼脗聨脗卢 \"' + displayName + '\" approvato!\\n\\n';\nmsg += 'Registra queste body clip in ordine:\\n\\n';\nbodySegments.forEach((seg, i) => {\n  msg += '  ' + (i + 1) + '. ' + seg.label + ' (~' + seg.duration + 's)\\n';\n});\nmsg += '\\nManda i video uno alla volta, senza caption.\\n';\nmsg += '脙掳脗聼脗聭脗聣 /done quando hai finito.';\n\nreturn [{\n  json: {\n    message: msg,\n    chatId,\n    scenarioName,\n    scenarioRecordId,\n    newStatus: 'recording',\n  }\n}];\n"
      },
      "id": "b03b130f-d5ce-4287-a898-9a6d9d8a8ad3",
      "name": "Send Recording Instructions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -1760
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "fa640e27-463f-453a-bdc9-82915f376515",
      "name": "Send Recording Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        -1760
      ],
      "webhookId": "d686bd39-a133-4c30-9dc6-face20663b73",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Handle Auto Body Clip\n// When user sends a video without caption during active recording session.\n// Reads state from workflow static data, auto-numbers the clip.\n// Mode: Run Once for All Items\n//\n// WIRING: Switch (auto_body_clip) 脙垄脗聠脗聮 this Code node 脙垄脗聠脗聮 Save Body Clip (Airtable Create) 脙垄脗聠脗聮 Send Confirmation (Telegram)\n//\n// Airtable Create node should map:\n//   clip_name     脙垄脗聠脗聮 {{ $json.clipName }}\n//   scenario_id   脙垄脗聠脗聮 {{ [$json.scenarioRecordId] }}   (linked record 脙垄脗聙脗聰 must be array)\n//   clip_index    脙垄脗聠脗聮 {{ $json.clipIndex }}\n//   telegram_file_id 脙垄脗聠脗聮 {{ $json.fileId }}\n//   clip_duration_sec 脙垄脗聠脗聮 {{ $json.duration }}\n//   clip_type     脙垄脗聠脗聮 {{ $json.clipType }}\n//   section       脙垄脗聠脗聮 {{ $json.section }}\n//   status        脙垄脗聠脗聮 uploaded\n//\n// Telegram Send node should use {{ $json.confirmMessage }} as text.\n\nconst staticData = $getWorkflowStaticData('global');\nconst input = $input.first().json;\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 No active recording? 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nif (!staticData.activeRecording) {\n  return [{\n    json: {\n      error: true,\n      chatId: input.chatId,\n      message: '脙垄脗職脗聽脙炉脗赂脗聫 Nessuna registrazione attiva. Approva prima uno scenario.',\n    }\n  }];\n}\n\nconst rec = staticData.activeRecording;\nconst clipIndex = rec.receivedCount + 1;\nconst expected = rec.expectedClips || [];\nconst totalExpected = expected.length;\nconst segment = expected[rec.receivedCount] || {};\n\n// Increment counter\nrec.receivedCount = clipIndex;\n\n// Build clip data for Airtable\nconst clipName = rec.scenarioName + '_body_' + clipIndex;\nconst section = segment.section || 'body_' + clipIndex;\nconst sectionLabel = segment.label || section;\n\n// Confirmation message\nlet confirm = '脙垄脗聹脗聟 Clip ' + clipIndex + '/' + totalExpected + ' (' + sectionLabel + ')';\nif (clipIndex >= totalExpected) {\n  confirm += '\\n\\n脙垄脗聹脗聟 Tutte le clip ricevute! Manda /done per avviare la produzione.';\n} else {\n  const nextSeg = expected[clipIndex];\n  if (nextSeg) {\n    confirm += '\\n\\n脙掳脗聼脗聭脗聣 Prossima: ' + (clipIndex + 1) + '. ' + nextSeg.label;\n  }\n}\n\nreturn [{\n  json: {\n    clipName,\n    scenarioName: rec.scenarioName,\n    scenarioRecordId: rec.scenarioRecordId,\n    clipIndex,\n    section,\n    fileId: input.fileId,\n    duration: input.duration,\n    clipType: 'body',\n    chatId: input.chatId,\n    confirmMessage: confirm,\n    allReceived: clipIndex >= totalExpected,\n  }\n}];\n"
      },
      "id": "3f4ab48c-472d-45d9-965c-8b9182cf2c5d",
      "name": "Handle Auto Clip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        -608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "auto-clip-error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ea0af6ea-0ca9-4e71-a161-442efbc544f6",
      "name": "Auto Clip Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1504,
        -608
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "92bfff8d-6326-416b-9fc5-b94942e80607",
      "name": "Send Auto Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1280,
        -704
      ],
      "webhookId": "9cbc63f9-e074-4fe0-a24b-6e1c72b8e54c",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblJcmlW99FNxMNXk"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "clip_name": "={{ $json.clipName }}",
            "scenario_id": "={{ [$json.scenarioRecordId] }}",
            "clip_index": "={{ $json.clipIndex }}",
            "clip_type": "={{ $json.clipType }}",
            "clip_duration_sec": "={{ $json.duration }}",
            "telegram_file_id": "={{ $json.fileId }}",
            "section": "={{ $json.section }}",
            "status": "uploaded"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "eda0fc7d-3039-4cdf-a843-1f75a1b3a498",
      "name": "Save Auto Clip",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1280,
        -512
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Handle Auto Clip\").first().json.chatId }}",
        "text": "={{ $(\"Handle Auto Clip\").first().json.confirmMessage }}",
        "additionalFields": {}
      },
      "id": "68caf918-4315-444d-8d07-f85d56c08162",
      "name": "Confirm Auto Clip",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -512
      ],
      "webhookId": "057f8de9-45ce-4007-9643-1f68a9bb1b71",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Handle Done Recording\n// When user sends /done, marks current scenario as recorded (NOT production).\n// Production runs separately on a schedule (Monday-Sunday).\n// Clears recording state from workflow static data.\n// Mode: Run Once for All Items\n//\n// WIRING: Switch (done_recording) 脙垄脗聠脗聮 this Code node 脙垄脗聠脗聮\n//   IF error 脙垄脗聠脗聮 Telegram Send (error message)\n//   ELSE 脙垄脗聠脗聮 Update Scenario Recorded (Airtable) 脙垄脗聠脗聮 Find Next Approved (Airtable) 脙垄脗聠脗聮 Queue Next Scenario (Code) 脙垄脗聠脗聮 Telegram\n\nconst staticData = $getWorkflowStaticData('global');\nconst input = $input.first().json;\n\n// 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙 No active recording? 脙垄脗聰脗聙脙垄脗聰脗聙脙垄脗聰脗聙\nif (!staticData.activeRecording) {\n  return [{\n    json: {\n      error: true,\n      chatId: input.chatId,\n      message: '脙垄脗職脗聽脙炉脗赂脗聫 Nessuna registrazione attiva.',\n    }\n  }];\n}\n\n// Helper: \"toxic-sad-happy-girl-1771197483216\" 脙垄脗聠脗聮 \"Toxic Sad Happy Girl\"\nfunction formatName(raw) {\n  if (!raw) return 'Scenario';\n  return raw.replace(/-\\d{10,}$/, '').split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n}\n\nconst rec = staticData.activeRecording;\nconst scenarioName = rec.scenarioName;\nconst scenarioRecordId = rec.scenarioRecordId;\nconst receivedCount = rec.receivedCount;\n\n// Need at least 1 clip 脙垄脗聙脗聰 keep session active so user can retry\nif (receivedCount === 0) {\n  return [{\n    json: {\n      error: true,\n      chatId: input.chatId,\n      message: '脙垄脗職脗聽脙炉脗赂脗聫 Non hai mandato nessuna body clip. Registra almeno un video prima di /done.',\n    }\n  }];\n}\n\n// Clear recording state (will be set again by Queue Next Scenario if there's a next one)\ndelete staticData.activeRecording;\n\n// Output: scenario marked as recorded, next step is Airtable update + find next\nreturn [{\n  json: {\n    scenarioName,\n    scenarioRecordId,\n    chatId: input.chatId,\n    clipCount: receivedCount,\n    message: '脙垄脗聹脗聟 ' + receivedCount + ' clip salvate per \"' + formatName(scenarioName) + '\".',\n  }\n}];\n"
      },
      "id": "90ee5d4d-8c28-45a0-b773-c83c4e3c734e",
      "name": "Handle Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        -992
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "done-error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "221a0df0-2e1a-4bd4-a08c-67b94b0bba87",
      "name": "Done Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1504,
        -992
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "681f4a64-5c78-4d52-bb85-a7f157d25c55",
      "name": "Send Done Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1280,
        -1088
      ],
      "webhookId": "2a29b4af-290c-4aae-b894-2b86b50275d3",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblcQaMBBPcOAy0NF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.scenarioRecordId }}",
            "status": "ready"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "bb73a33d-79c2-40d5-8dd1-d054fc6c7af5",
      "name": "Update Scenario Recorded",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1280,
        -896
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblcQaMBBPcOAy0NF"
        },
        "filterByFormula": "={status} = \"approved\"",
        "options": {},
        "sort": {
          "property": [
            {
              "field": "created_at"
            }
          ]
        }
      },
      "id": "5d419148-8604-4fdc-a977-75cb8bc0844d",
      "name": "Find Next Approved",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1056,
        -896
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// NODE: Queue Next Scenario\n// After /done saves clips, this node checks if there's another approved scenario to record.\n// If yes 脙垄脗聠脗聮 sets recording state + returns instructions message\n// If no 脙垄脗聠脗聮 returns \"all done\" message\n// Mode: Run Once for All Items\n//\n// WIRING: Find Next Approved (Airtable Search) 脙垄脗聠脗聮 this Code node 脙垄脗聠脗聮\n//   IF hasNext 脙垄脗聠脗聮 Send Next Recording Msg (Telegram)\n//   ELSE 脙垄脗聠脗聮 Send All Done Msg (Telegram)\n//\n// Input: Airtable search result for next approved scenario (may be empty)\n\n// Helper: \"toxic-sad-happy-girl-1771197483216\" 脙垄脗聠脗聮 \"Toxic Sad Happy Girl\"\nfunction formatName(raw) {\n  if (!raw) return 'Scenario';\n  return raw.replace(/-\\d{10,}$/, '').split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst chatId = $('Handle Done').first().json.chatId;\nconst prevScenario = formatName($('Handle Done').first().json.scenarioName);\nconst prevClipCount = $('Handle Done').first().json.clipCount;\n\n// Check if Airtable returned a next scenario\nconst items = $input.all();\nconst nextScenario = items.length > 0 ? items[0].json : null;\n\nif (!nextScenario || !nextScenario.id) {\n  // No more approved scenarios\n  return [{\n    json: {\n      hasNext: false,\n      chatId,\n      message: '脙垄脗聹脗聟 ' + prevClipCount + ' clip salvate per \"' + prevScenario + '\".\\n\\n脙掳脗聼脗聨脗聣 Nessun altro scenario da registrare! Hai finito.',\n    }\n  }];\n}\n\n// Found next scenario 脙垄脗聙脗聰 set up recording state\nconst scenarioNameRaw = nextScenario.scenario_name;\nconst scenarioName = scenarioNameRaw;\nconst scenarioRecordId = nextScenario.id;\nconst displayName = formatName(scenarioNameRaw);\n\n// Standard body segments\nconst bodySegments = [\n  { section: 'screenshot', duration: 1, label: 'Screenshot della chat' },\n  { section: 'upload_chat', duration: 1, label: 'Upload chat (caricamento)' },\n  { section: 'toxic_score', duration: 3, label: 'Toxic score reveal' },\n  { section: 'soul_type', duration: 3, label: 'Soul type card' },\n  { section: 'deep_dive', duration: 3, label: 'Deep dive (categorie)' },\n];\n\n// Store recording state for next scenario\nstaticData.activeRecording = {\n  scenarioName,\n  chatId,\n  scenarioRecordId,\n  expectedClips: bodySegments,\n  receivedCount: 0,\n};\n\n// Build message\nlet msg = '脙垄脗聹脗聟 ' + prevClipCount + ' clip salvate per \"' + prevScenario + '\".\\n\\n';\nmsg += '脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛脙垄脗聰脗聛\\n\\n';\nmsg += '脙掳脗聼脗聨脗卢 Prossimo: \"' + displayName + '\"\\n\\n';\nmsg += 'Registra queste body clip:\\n\\n';\nbodySegments.forEach((seg, i) => {\n  msg += '  ' + (i + 1) + '. ' + seg.label + ' (~' + seg.duration + 's)\\n';\n});\nmsg += '\\nManda i video senza caption.\\n';\nmsg += '脙掳脗聼脗聭脗聣 /done quando hai finito.';\n\nreturn [{\n  json: {\n    hasNext: true,\n    chatId,\n    scenarioName,\n    scenarioRecordId,\n    message: msg,\n    newStatus: 'recording',\n  }\n}];\n"
      },
      "id": "feba0d8b-6936-47d9-9b85-2a318c5aefaa",
      "name": "Queue Next Scenario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -896
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "a22231f4-89cd-437f-8dc2-5b1222b06706",
      "name": "Send Queue Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        -568
      ],
      "webhookId": "7691814a-762e-4aad-a65e-560b84a4b3ee",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Load Production Data\n// Parses /produce command and builds Airtable filter for scenario lookup\n// /produce 脙垄脗聠脗聮 picks next ready scenario (oldest first)\n// /produce scenario_name 脙垄脗聠脗聮 finds specific scenario\n// Mode: Run Once for All Items\n//\n// WIRING: Route Message (Produce) 脙垄脗聠脗聮 this Code node 脙垄脗聠脗聮 Find Produce Scenario (Airtable Search)\n\nconst input = $input.first().json;\nconst scenarioName = input.scenarioName || '';\nconst chatId = input.chatId || '';\n\nif (!scenarioName) {\n  // No scenario name 脙垄脗聠脗聮 pick next ready scenario\n  return [{\n    json: {\n      scenarioName: '',\n      chatId,\n      scenarioFilter: '{status} = \"ready\"',\n    }\n  }];\n}\n\n// Specific scenario\nreturn [{\n  json: {\n    scenarioName,\n    chatId,\n    scenarioFilter: 'AND({scenario_name} = \"' + scenarioName + '\", {status} = \"ready\")',\n  }\n}];\n"
      },
      "id": "bef2198f-da16-44c2-8792-d7de700821f5",
      "name": "Load Production Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        -1280
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblcQaMBBPcOAy0NF"
        },
        "filterByFormula": "={{ $json.scenarioFilter }}",
        "options": {},
        "sort": {
          "property": [
            {
              "field": "created_at"
            }
          ]
        }
      },
      "id": "938e73df-9e16-4a3c-b748-430e809cea83",
      "name": "Find Produce Scenario",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1504,
        -1280
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblJcmlW99FNxMNXk"
        },
        "filterByFormula": "={{ 'FIND(\"' + $json.scenario_name + '\", {clip_name})' }}",
        "options": {}
      },
      "id": "54a49bd6-16f7-43e8-8b53-10e2c052d2b3",
      "name": "Find Produce Clips",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1280,
        -1280
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "05a85b7e-d879-4f72-a512-bfb1c8bf0bcf",
      "name": "Send Produce Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -608,
        -1376
      ],
      "webhookId": "5090240c-6c85-4716-b44f-e0df60a72a6f",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "has-next-check",
              "leftValue": "={{ $json.hasNext }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "51dbf61e-500c-453d-a5d5-518e7b949b26",
      "name": "Has Next Scenario?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        -808
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "cNliMecIH6Yg1tGj"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "cb5e52ce-3ee9-4e0a-99bd-2a4e25b81091",
      "name": "Generate Next Scenario",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -160,
        -1280
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message + \"\\n\\n脙垄脗聫脗鲁 Generando nuovo scenario...\" }}",
        "additionalFields": {}
      },
      "id": "8ad1f53c-8bc2-4eec-8656-635614d80fb5",
      "name": "Send Generating Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        -760
      ],
      "webhookId": "40ebe4f0-8a18-435a-854b-d21c1cdbc9dd",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-redo",
              "leftValue": "={{ $('Parse Callback').first().json.action }}",
              "rightValue": "redo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "351ed8d6-ed22-4b98-ae58-c2ad7438237d",
      "name": "Is Redo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -384,
        -1568
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Detect Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Route Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message": {
      "main": [
        [
          {
            "node": "Find Scenario (Clip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Scenario (Clip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Scenario (Clip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Production Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Auto Clip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Scenario (Clip)": {
      "main": [
        [
          {
            "node": "Save Clip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Clip": {
      "main": [
        [
          {
            "node": "Clip Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clip Error?": {
      "main": [
        [
          {
            "node": "Send Clip Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Clip Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Clip Record": {
      "main": [
        [
          {
            "node": "Confirm Clip Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Produce": {
      "main": [
        [
          {
            "node": "Find Scenario (Produce)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Scenario (Produce)": {
      "main": [
        [
          {
            "node": "Find Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Concept": {
      "main": [
        [
          {
            "node": "Find Body Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Body Clips": {
      "main": [
        [
          {
            "node": "Find Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Template": {
      "main": [
        [
          {
            "node": "Find Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Music": {
      "main": [
        [
          {
            "node": "Prepare Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Production": {
      "main": [
        [
          {
            "node": "Produce Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produce Error?": {
      "main": [
        [
          {
            "node": "Send Produce Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Hook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video Run": {
      "main": [
        [
          {
            "node": "Generate Hook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hook": {
      "main": [
        [
          {
            "node": "Generate VO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Hook Preview": {
      "main": [
        [
          {
            "node": "Generate VO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate VO": {
      "main": [
        [
          {
            "node": "Generate Outro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send VO Preview": {
      "main": [
        [
          {
            "node": "Generate Outro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Outro": {
      "main": [
        [
          {
            "node": "Download Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Assets": {
      "main": [
        [
          {
            "node": "Assemble Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Video": {
      "main": [
        [
          {
            "node": "Send Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assembly Error?": {
      "main": [
        [
          {
            "node": "Send Assembly Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Final Video": {
      "main": [
        [
          {
            "node": "Update Run Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Run Complete": {
      "main": [
        [
          {
            "node": "Done Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback": {
      "main": [
        [
          {
            "node": "Find Scenario (Callback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Scenario (Callback)": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Send DemoUrl",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Recording Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Type": {
      "main": [
        [
          {
            "node": "Route Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Type": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Scenario": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Recording Instructions": {
      "main": [
        [
          {
            "node": "Send Recording Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Auto Clip": {
      "main": [
        [
          {
            "node": "Auto Clip Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Clip Error?": {
      "main": [
        [
          {
            "node": "Send Auto Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Auto Clip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Auto Clip": {
      "main": [
        [
          {
            "node": "Confirm Auto Clip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Done": {
      "main": [
        [
          {
            "node": "Done Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done Error?": {
      "main": [
        [
          {
            "node": "Send Done Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Scenario Recorded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scenario Recorded": {
      "main": [
        [
          {
            "node": "Find Next Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Next Approved": {
      "main": [
        [
          {
            "node": "Queue Next Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Next Scenario": {
      "main": [
        [
          {
            "node": "Has Next Scenario?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Production Data": {
      "main": [
        [
          {
            "node": "Find Produce Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Produce Scenario": {
      "main": [
        [
          {
            "node": "Find Produce Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Produce Clips": {
      "main": [
        [
          {
            "node": "Prepare Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Next Scenario?": {
      "main": [
        [
          {
            "node": "Send Queue Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Generating Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Generating Msg": {
      "main": [
        [
          {
            "node": "Generate Next Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation": {
      "main": [
        [
          {
            "node": "Is Redo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Redo?": {
      "main": [
        [
          {
            "node": "Generate Next Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca5be114-c52d-416a-8db6-bb923af0f9ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ac2834f06c1f2877b895f0b14af7f505db182392bdf8fe2cc40fc00a3d79632"
  },
  "id": "RRgAksDtf25gecjh",
  "tags": [
    {
      "updatedAt": "2026-02-11T21:29:53.448Z",
      "createdAt": "2026-02-11T21:29:53.448Z",
      "id": "zwksa6JlUNkobY51",
      "name": "ToxicOrNah"
    }
  ]
}