n8n/workflow-telegram-callback.json
{
  "name": "ToxicOrNah - Telegram Callback Handler",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "id": "cb-node-001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "webhookId": "toxicornah-callback",
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram Bot API account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// NODE: Handle Telegram Callback\n// Parses the callback_data from inline keyboard button press\n\nconst update = $input.first().json;\n\nconst callbackData = update.callback_query\n  ? update.callback_query.data\n  : (update.data || '');\n\nconst callbackQueryId = update.callback_query\n  ? update.callback_query.id\n  : '';\n\nconst chatId = update.callback_query\n  ? update.callback_query.message.chat.id\n  : '';\n\nconst parts = callbackData.split('_');\nconst action = parts[0];\nconst scenarioName = parts.slice(1).join('_');\n\nlet newStatus = '';\nlet responseText = '';\nswitch (action) {\n  case 'approve':\n    newStatus = 'approved';\n    responseText = '\\u2705 Scenario \"' + scenarioName + '\" approved!';\n    break;\n  case 'redo':\n    newStatus = 'draft';\n    responseText = '\\uD83D\\uDD04 Scenario \"' + scenarioName + '\" marked for regeneration.\\n\\n\\u23F3 Generating new scenario...';\n    break;\n  case 'skip':\n    newStatus = 'skipped';\n    responseText = '\\u274C Scenario \"' + scenarioName + '\" skipped.';\n    break;\n  default:\n    newStatus = '';\n    responseText = '\\u2753 Unknown action: ' + action;\n}\n\nreturn [{\n  json: {\n    action,\n    scenarioName,\n    newStatus,\n    responseText,\n    callbackQueryId,\n    chatId\n  }\n}];"
      },
      "id": "cb-node-002",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "callback",
        "operation": "answerQuery",
        "queryId": "={{ $json.callbackQueryId }}",
        "additionalFields": {
          "text": "={{ $json.responseText }}",
          "show_alert": false
        }
      },
      "id": "cb-node-003",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 300],
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram Bot API account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblcQaMBBPcOAy0NF"
        },
        "filterByFormula": "={{ '{scenario_name} = \"' + $('Parse Callback').first().json.scenarioName + '\"' }}",
        "options": {}
      },
      "id": "cb-node-004",
      "name": "Find Scenario",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [750, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblcQaMBBPcOAy0NF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "={{ $('Parse Callback').first().json.newStatus }}"
          },
          "matchingColumns": ["id"]
        },
        "options": {}
      },
      "id": "cb-node-005",
      "name": "Update Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1000, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-approve",
              "leftValue": "={{ $('Parse Callback').first().json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb-node-007",
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// NODE: Save Scenario to Supabase\n// Saves approved scenario JSON to Supabase content_scenarios table\n// Returns the UUID for building the demo URL (?sid=xxx)\n//\n// Config — hardcoded for private self-hosted n8n\nconst SUPABASE_URL = 'https://iilqnbumccqxlyloerzd.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpbHFuYnVtY2NxeGx5bG9lcnpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODcyMzAyOCwiZXhwIjoyMDg0Mjk5MDI4fQ.XUKQTfMrtg2gYwIiJX_dMBX6C4VSlKZS09cNC7h7yVQ';\nconst APP_URL = 'https://toxicor-nah.vercel.app';\n\nconst callback = $('Parse Callback').first().json;\nconst scenarioName = callback.scenarioName;\n\n// Get scenario_json from the Find Scenario node\nconst airtableRecord = $('Find Scenario').first().json;\nlet scenarioJson = airtableRecord.scenario_json || airtableRecord.fields?.scenario_json;\n\nif (!scenarioJson) {\n  return [{ json: { error: true, message: 'No scenario_json found in Airtable record. Fields: ' + Object.keys(airtableRecord).join(', ') } }];\n}\n\n// Parse if stored as string in Airtable\nif (typeof scenarioJson === 'string') {\n  try {\n    scenarioJson = JSON.parse(scenarioJson);\n  } catch (e) {\n    return [{ json: { error: true, message: 'Failed to parse scenario_json: ' + e.message } }];\n  }\n}\n\n// Supabase REST API insert\nconst response = await fetch(SUPABASE_URL + '/rest/v1/content_scenarios', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': SUPABASE_KEY,\n    'Authorization': 'Bearer ' + SUPABASE_KEY,\n    'Prefer': 'return=representation',\n  },\n  body: JSON.stringify({\n    scenario_id: scenarioName,\n    scenario_json: scenarioJson,\n    status: 'approved',\n  }),\n});\n\nif (!response.ok) {\n  const errorText = await response.text();\n  return [{ json: { error: true, message: 'Supabase insert failed: ' + response.status + ' ' + errorText } }];\n}\n\nconst [inserted] = await response.json();\nconst uuid = inserted.id;\nconst demoUrl = APP_URL + '/?sid=' + uuid;\n\nreturn [{\n  json: {\n    success: true,\n    uuid,\n    scenarioName,\n    demoUrl,\n  }\n}];"
      },
      "id": "cb-node-008",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 150]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Parse Callback').first().json.chatId }}",
        "text": "={{ $json.success ? '\\u2705 Scenario \"' + $json.scenarioName + '\" approved and saved!\\n\\n\\uD83D\\uDCF1 Demo URL:\\n' + $json.demoUrl : '\\u26A0\\uFE0F Approved but Supabase save failed:\\n' + $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "cb-node-009",
      "name": "Send DemoUrl",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1750, 150],
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram Bot API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Parse Callback').first().json.chatId }}",
        "text": "={{ $('Parse Callback').first().json.responseText }}",
        "additionalFields": {}
      },
      "id": "cb-node-006",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1500, 450],
      "credentials": {
        "telegramApi": {
          "id": "pyWK5SqqdZeXs1WU",
          "name": "Telegram Bot API account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-redo",
              "leftValue": "={{ $('Parse Callback').first().json.action }}",
              "rightValue": "redo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb-node-010",
      "name": "Is Redo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1750, 450]
    },
    {
      "parameters": {
        "mode": "each",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "cNliMecIH6Yg1tGj"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "cb-node-011",
      "name": "Regenerate Scenario",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2000, 400]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback": {
      "main": [
        [
          {
            "node": "Find Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Scenario": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Send DemoUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation": {
      "main": [
        [
          {
            "node": "Is Redo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Redo?": {
      "main": [
        [
          {
            "node": "Regenerate Scenario",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "toxicornah-telegram-callback-v4",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "ToxicOrNah"
    }
  ]
}
