n8n/workflow-scenario-generator.json
{
  "name": "ToxicOrNah - Scenario Generator",
  "nodes": [
    {
      "parameters": {
        "content": "## ToxicOrNah - Scenario Generator\n\n### Setup required:\n1. **Airtable**: Assign your Airtable Personal Access Token credential to all Airtable nodes\n2. **DeepSeek**: Create a DeepSeek credential (API key) and assign to both DeepSeek Chat Model sub-nodes\n3. **Telegram**: Create a Telegram Bot API credential and assign to the Send node. Set `TELEGRAM_CHAT_ID` in Settings â Variables\n\n### How to use:\n- Click \"Test workflow\" to generate 1 scenario\n- Check Telegram for approval message with Approve/Redo/Skip buttons\n- Use the companion \"Telegram Callback Handler\" workflow to process button clicks",
        "height": 420,
        "width": 520
      },
      "id": "4112d1bd-d74e-40c5-838e-48de3e8ed398",
      "name": "Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        -496
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblhhTVI4EYofdY32",
          "mode": "list",
          "cachedResultName": "Video Concepts",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblhhTVI4EYofdY32"
        },
        "filterByFormula": "{is_active} = TRUE()",
        "options": {}
      },
      "id": "ffa89b23-fb10-4665-a62f-08f0f1264063",
      "name": "Get Active Concepts",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -208,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Select Concept\n// Weighted random concept pick + vibe + appStyle + gender selection\n// Mode: Run Once for All Items\n\nconst concepts = $input.all().map(item => item.json);\n\nif (concepts.length === 0) {\n  throw new Error('No active concepts found in Airtable');\n}\n\n// --- Weighted random selection ---\nfunction weightedRandom(items, weightField) {\n  const totalWeight = items.reduce((sum, item) => sum + (Number(item[weightField]) || 1), 0);\n  let random = Math.random() * totalWeight;\n  for (const item of items) {\n    random -= (Number(item[weightField]) || 1);\n    if (random <= 0) return item;\n  }\n  return items[items.length - 1];\n}\n\nconst concept = weightedRandom(concepts, 'weight');\n\n// --- Vibe selection (toxic only â most viral) ---\nfunction pickVibe() {\n  return 'toxic';\n}\n\n// --- App style (iMessage only for now) ---\nfunction pickAppStyle() {\n  return 'imessage';\n}\n\n// --- Gender: ALWAYS male (girl analyzes a guy) ---\nconst personGender = 'male';\n\n// Use forced_vibe from Airtable if set, otherwise random\nconst vibe = concept.forced_vibe || pickVibe();\nconst appStyle = pickAppStyle();\nconst scenarioName = vibe + '-' + concept.concept_id + '-' + Date.now();\n\n// Body clip count from Airtable (default 3, min 2, max 5)\nconst bodyClipCount = Math.min(5, Math.max(2, Number(concept.body_clip_count) || 3));\n\nreturn [{\n  json: {\n    concept,\n    vibe,\n    appStyle,\n    personGender,\n    scenarioName,\n    conceptId: concept.concept_id,\n    bodyClipCount\n  }\n}];\n"
      },
      "id": "d599f18d-cf05-4e6e-8bd1-b15b60b037c0",
      "name": "Select Concept",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        112
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblTcEPaDKKOyKGoL",
          "mode": "list",
          "cachedResultName": "Body Clip Templates",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblTcEPaDKKOyKGoL"
        },
        "filterByFormula": "={concept_id} = \"{{ $(\"Select Concept\").first().json.conceptId }}\"",
        "options": {}
      },
      "id": "73801eb7-482a-4bd9-a324-ef401df90acc",
      "name": "Get Body Clip Templates",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblxhuowMWTPSQVdb",
          "mode": "list",
          "cachedResultName": "Caption Templates",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblxhuowMWTPSQVdb"
        },
        "filterByFormula": "={concept_id} = \"{{ $(\"Select Concept\").first().json.conceptId }}\"",
        "options": {}
      },
      "id": "ce77c992-f218-47f8-947d-60ef00b83eda",
      "name": "Get Caption Templates",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        464,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblpyfkR7OdRiwSdo",
          "mode": "list",
          "cachedResultName": "VO Templates",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblpyfkR7OdRiwSdo"
        },
        "filterByFormula": "={concept_id} = \"{{ $(\"Select Concept\").first().json.conceptId }}\"",
        "options": {}
      },
      "id": "65ad277c-e766-4915-8ccb-0b46e9c45950",
      "name": "Get VO Templates",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        688,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblmCU1lVXEPqP8zK",
          "mode": "list",
          "cachedResultName": "Hook Text Pool",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblmCU1lVXEPqP8zK"
        },
        "filterByFormula": "=FIND(\"{{ $(\"Select Concept\").first().json.conceptId }}\", ARRAYJOIN({concept_id})) > 0",
        "options": {}
      },
      "id": "cfa239fb-f85f-42bc-8636-aba1b29a2ae6",
      "name": "Get Hook Texts",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        912,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblU1iYIOURfRYdfF",
          "mode": "list",
          "cachedResultName": "Social Copy Examples",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblU1iYIOURfRYdfF"
        },
        "filterByFormula": "=FIND(\"{{ $(\"Select Concept\").first().json.conceptId }}\", ARRAYJOIN({concept_id})) > 0",
        "options": {}
      },
      "id": "409aeaef-eae2-4807-8c2a-d0408aeec5fc",
      "name": "Get Social Examples",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Build Scenario Prompt\r\n// Assembles the Gemini prompt from concept data + all templates\r\n// Mode: Run Once for All Items\r\n\r\nconst { concept, vibe, appStyle, personGender, scenarioName } = $('Select Concept').first().json;\r\n\r\n// Random relationship status for content mode\r\nconst RELATIONSHIP_STATUSES = ['crush', 'talking', 'situationship', 'boyfriend', 'ex'];\r\nconst randomRelStatus = RELATIONSHIP_STATUSES[Math.floor(Math.random() * RELATIONSHIP_STATUSES.length)];\r\n\r\n// Random male first names (Gen Z age range, diverse)\r\nconst MALE_NAMES = [\r\n  'Liam', 'Noah', 'Ethan', 'Mason', 'Lucas', 'Oliver', 'Aiden', 'Elijah',\r\n  'James', 'Logan', 'Alex', 'Ryan', 'Dylan', 'Tyler', 'Jayden', 'Brandon',\r\n  'Caleb', 'Nathan', 'Adrian', 'Marcus', 'Kai', 'Jace', 'Ryder', 'Dante',\r\n  'Mateo', 'Nico', 'Zion', 'Theo', 'Miles', 'Leo'\r\n];\r\nconst randomName = MALE_NAMES[Math.floor(Math.random() * MALE_NAMES.length)];\r\n\r\nconst bodyClipTemplates = $('Get Body Clip Templates').all().map(i => i.json);\r\nconst captionTemplates = $('Get Caption Templates').all().map(i => i.json);\r\nconst voTemplates = $('Get VO Templates').all().map(i => i.json);\r\nconst hookTexts = $('Get Hook Texts').all().map(i => i.json);\r\nconst socialExamples = $('Get Social Examples').all().map(i => i.json);\r\n\r\n// Format body clip templates for prompt context\r\nconst bodyClipsFormatted = bodyClipTemplates\r\n  .sort((a, b) => Number(a.clip_index) - Number(b.clip_index))\r\n  .map(t => {\r\n    const group = t.character_group ? ' [' + t.character_group + ']' : '';\r\n    return '  Clip ' + t.clip_index + ': \"' + t.clip_label + '\" (' + t.app_section + ') - ' + t.min_duration_sec + '-' + t.max_duration_sec + 's' + group;\r\n  })\r\n  .join('\\n');\r\n\r\n// ============================================================\r\n// SYSTEM PROMPT\r\n// ============================================================\r\n\r\nconst systemPrompt = `You are a scenario generator for \"Toxic or Nah,\" a relationship chat analysis app. You create realistic fake text conversations between two people, plus complete analysis results that the app would display.\r\n\r\nYour output must be a single valid JSON object matching the ContentScenario interface exactly. No markdown, no code fences, no explanation — ONLY the JSON.\r\n\r\n## CONTENT SCENARIO INTERFACE\r\n\r\n{\r\n  \"id\": string,\r\n  \"chat\": {\r\n    \"contactName\": string,\r\n    \"appStyle\": \"imessage\" | \"instagram\" | \"whatsapp\",\r\n    \"messages\": [\r\n      {\r\n        \"sender\": \"them\" | \"me\",\r\n        \"text\": string,\r\n        \"time\"?: string\r\n      }\r\n    ]\r\n  },\r\n  \"results\": {\r\n    \"personName\": \"Him\" | \"Her\",\r\n    \"personGender\": \"male\" | \"female\",\r\n    \"overallScore\": number,\r\n    \"warmthScore\": number,\r\n    \"communicationScore\": number,\r\n    \"dramaScore\": number,\r\n    \"distanceScore\": number,\r\n    \"passionScore\": number,\r\n    \"profileType\": string,\r\n    \"profileSubtitle\": string,\r\n    \"profileDescription\": string (1 SHORT sentence, MAX 15 words),\r\n    \"personSoulType\": string,\r\n    \"userSoulType\": string,\r\n    \"personDescription\": string,\r\n    \"personTraits\": [string, string, string, string, string],\r\n    \"userDescription\": string,\r\n    \"userTraits\": [string, string, string, string, string],\r\n    \"categories\": {\r\n      \"intentions\":        { \"description\": string },\r\n      \"chemistry\":         { \"description\": string },\r\n      \"effort\":            { \"description\": string },\r\n      \"redFlagsGreenFlags\": { \"description\": string },\r\n      \"trajectory\":        { \"description\": string }\r\n    },\r\n    \"messageInsights\": [\r\n      {\r\n        \"message\": string (MUST BE EXACT COPY from chat.messages[].text — NEVER invent new messages),\r\n        \"title\": string,\r\n        \"tag\": \"RED FLAG\" | \"GREEN FLAG\" | \"DECODED\",\r\n        \"description\": string (40-60 chars, short preview of the solution insight),\r\n        \"solution\": string (MAX 2 sentences, under 30 words — \"What It Really Means\" psychological decoding)\r\n      }\r\n    ],\r\n    \"dynamic\": {\r\n      \"name\": string,\r\n      \"subtitle\": string,\r\n      \"whyThisHappens\": string,\r\n      \"patternBreak\": string,\r\n      \"powerBalance\": number\r\n    }\r\n  }\r\n}\r\n\r\n## VALID SOUL TYPE IDS\r\n\r\n### Male (use when personGender = \"male\"):\r\n- \"male-untamable\" — The Untamable (Wild Energy): free-spirited, commitment-phobic, thrilling but unreliable\r\n- \"male-gentle-flame\" — The Gentle Flame (Warm Energy): genuinely kind, emotionally present, warmth radiates\r\n- \"male-silent-abyss\" — The Silent Abyss (Abyss Energy): deep but unreachable, pulls you in then disappears\r\n- \"male-faded-crown\" — The Faded Crown (Hollow Energy): once great, now empty promises, living off past glory\r\n- \"male-sweet-poison\" — The Sweet Poison (Toxic Energy): charming on surface, slowly toxic underneath\r\n- \"male-wounded-prince\" — The Wounded Prince (Martyr Energy): uses his pain as a weapon, guilt-trips\r\n- \"male-burning-promise\" — The Burning Promise (Explosive Energy): intense, passionate, but volatile and unpredictable\r\n- \"male-final-silence\" — The Final Silence (Phantom Energy): ghoster, slow fader, disappears without explanation\r\n- \"male-dark-mirror\" — The Dark Mirror (Toxic Energy): reflects your insecurities back, gaslighter\r\n- \"male-ice-charmer\" — The Ice Charmer (Frozen Energy): cold but magnetic, minimal effort maximum control\r\n- \"male-silent-choke\" — The Silent Choke (Constrictor Energy): controlling through silence and withdrawal\r\n- \"male-shifting-flame\" — The Shifting Flame (Unstable Energy): hot and cold, inconsistent, keeps you guessing\r\n- \"male-chameleon\" — The Chameleon (Shapeshifter Energy): becomes whoever you want, no real identity\r\n- \"male-star-collector\" — The Star Collector (Collector Energy): charms everyone, you're not special to him\r\n\r\n### Female (use when personGender = \"female\"):\r\n- \"female-love-rush\" — The Love Rush (Rush Energy): falls fast, loves hard, overwhelming intensity\r\n- \"female-natural-state\" — The Natural State (Earth Energy): grounded, stable, emotionally mature\r\n- \"female-fire-dance\" — The Fire Dance (Fire Energy): passionate, confrontational, emotionally expressive\r\n- \"female-frozen-bloom\" — The Frozen Bloom (Frost Energy): guarded, takes time to open, walls up\r\n- \"female-torn-silk\" — The Torn Silk (Silk Energy): elegant but damaged, beautiful sadness\r\n- \"female-inner-voice\" — The Inner Voice (Intuitive Energy): trusts gut feelings, perceptive, reads between lines\r\n- \"female-silent-venom\" — The Silent Venom (Venom Energy): passive-aggressive, subtle toxicity\r\n- \"female-sunset-soul\" — The Sunset Soul (Sunset Energy): nostalgic, holds onto past relationships\r\n- \"female-deep-shadow\" — The Deep Shadow (Shadow Energy): dark moods, emotional depth, hard to reach\r\n- \"female-wild-luxury\" — The Wild Luxury (Luxe Energy): high standards, expects effort, not easily impressed\r\n- \"female-living-maze\" — The Living Maze (Labyrinth Energy): confusing, mixed signals, hard to navigate\r\n- \"female-golden-rule\" — The Golden Rule (Gold Energy): sets boundaries, knows her worth, fair but firm\r\n- \"female-savage-grace\" — The Savage Grace (Predator Energy): takes what she wants, dominant, fierce\r\n- \"female-quiet-storm\" — The Quiet Storm (Storm Energy): calm surface, intense underneath\r\n- \"female-rising-phoenix\" — The Rising Phoenix (Phoenix Energy): rebuilding from heartbreak, growth mode\r\n- \"female-liquid-mirror\" — The Liquid Mirror (Mirror Energy): reflects others' energy, adaptive\r\n\r\n### User Soul Types:\r\n- When personGender = \"male\", userSoulType MUST be a \"female-*\" ID\r\n- When personGender = \"female\", userSoulType MUST be a \"male-*\" ID\r\n\r\n## ABSOLUTE RULES\r\n\r\n1. personName: ALWAYS \"Him\" if male, \"Her\" if female. NEVER use the contactName.\r\n2. messageInsights[].message: ABSOLUTE BAN ON INVENTED MESSAGES. Every messageInsights[].message MUST be an EXACT copy-paste from chat.messages[].text. Character-for-character identical. If a message does not exist WORD FOR WORD in the chat.messages array you generated, DO NOT USE IT. You CANNOT reference messages that are not in the chat. You CANNOT add new messages in the insights that weren't in the conversation. ONLY quote messages that appear in the chat above. This is the #1 validation check — insights with fake messages get DELETED.\r\n3. messageInsights tags: Include a MIX of tags. Minimum 1 DECODED insight per scenario.\r\n4. messageInsights selection: ONLY select messages from \"them\" (the person being analyzed). NEVER select \"me\" (user) messages. ONLY select genuinely noteworthy messages. NEVER select \"hi\", \"hey\", \"hello\", \"what's up\" or basic greetings.\r\n5. Insight titles: MUST start with \"He\" or \"He's\" (see MESSAGEINSIGHT TITLE FORMAT section below). Must describe what HE is doing in that specific message.\r\n6. Soul type match: personSoulType must match the person's actual behavior in the chat.\r\n7. Score coherence: overallScore must be between 5-28 (toxic score = 100 - overallScore, so toxic score ranges 72-95). VARY the score each time — pick a DIFFERENT number, do NOT default to 22. Use the FULL range: 5, 8, 12, 15, 18, 22, 25, 28 are all valid.\r\n8. BANNED traits: NEVER use \"Early Stage\", \"New Connection\", \"Fresh Start\", \"Getting to Know\", \"Just Met\", \"Beginning Phase\".\r\n9. personDescription / userDescription: Describe WHO they ARE as a person (personality, patterns). NOT what happened in this chat.\r\n10. Category descriptions: Analyze what actually happens in THIS chat. Be specific, reference actual messages.\r\n11. \"description\" field = emotional recognition, NOT explanation (40-60 chars, 6-10 words). Must sound like something she'd text her friend. NOT a therapist report. See MESSAGEINSIGHT DESCRIPTION TONE section for BAD/GOOD examples.\r\n    \"solution\" field for ALL messageInsights = \"What It Really Means\" — psychological decoding, MAX 2 sentences, under 30 words. NEVER actionable advice.\r\n12. \"solution\" field RULES (CRITICAL — applies to EVERY card, ALL tags):\r\n    - Decode the EXACT psychological moment: what they're feeling, why THIS response, what it reveals\r\n    - Explain what's happening in their HEAD, not give advice like \"you should...\" or \"it's normal to...\"\r\n    - NEVER write advice, tips, or suggestions. ONLY psychological insight. This applies to RED FLAG, GREEN FLAG, AND DECODED equally.\r\n    - Reference the specific context that triggered this response\r\n    - BAD solution (ANY tag): \"Reiterate your need for communication isn't clingy\" ← this is ADVICE\r\n    - BAD solution (ANY tag): \"Trust your instincts when something feels off\" ← this is a TIP\r\n    - BAD solution (ANY tag): \"Notice when invitations only come late at night\" ← this is ADVICE\r\n    - GOOD solution (ANY tag): \"When someone drops to one-word replies after you open up, it's not that they don't care. He read every word. But vulnerability makes him uncomfortable, so he's shrinking the conversation to feel safe again. His 'haha' is a shield.\"\r\n    - GOOD solution (ANY tag): \"This is a classic avoidant move. He WANTS you to choose him but he won't ask directly because asking = vulnerability = risk of rejection. So he frames it as 'your choice' but he's 100% keeping score of what you pick.\"\r\n    - GOOD solution (RED FLAG): \"He waited 4 minutes to send a single letter because you challenged his narrative. In his mind, you weren't supposed to push back. The 'k' says: 'I'm withdrawing my attention until you comply.' It's emotional withholding disguised as casualness.\"\r\n13. profileDescription: 1 SHORT sentence, MAX 15 words. Casual Gen Z tone. This appears under the toxic score — keep it punchy.\r\n14. No timestamps in message text: Timestamps go in the separate \"time\" field.\r\n15. Natural texting: lowercase, abbreviations (wyd, lol, ngl, tbh, omg), emojis where natural. Real 18-28 year olds.\r\n16. Conversation flow: Messages must flow naturally. No random topic jumps.\r\n17. Dynamic subtitle/whyThisHappens/patternBreak: ALWAYS address the user as \"You/Your\", NEVER \"Her/She\". The dynamic card speaks TO the user. \"Ignoring Your Needs\" = GOOD. \"Ignoring Her Needs\" = BAD.\r\n18. ALL text that refers to the user (\"me\" in the chat) MUST use \"you/your\", NEVER \"she/her\" or \"he/him\" for the user. This applies EVERYWHERE: messageInsights description, messageInsights solution, category descriptions, dynamic fields. The app speaks DIRECTLY TO the user.\r\n    - BAD: \"he avoids accountability by implying she 'owes' him effort\" ← who is \"she\"? That's the USER\r\n    - GOOD: \"he avoids accountability by implying you 'owe' him effort\" ← speaks to the user\r\n    - BAD: \"He wants her to feel guilty for expressing a need\" ← \"her\" = the user\r\n    - GOOD: \"He wants you to feel guilty for expressing a need\" ← direct address\r\n    - The ONLY \"he/him/she/her\" allowed is for the PERSON BEING ANALYZED (the contact), NEVER for the user.\r\n\r\n## VOICE & TONE — THIS IS CRITICAL FOR ALL ANALYSIS TEXT\r\n\r\nYou are talking DIRECTLY to the girl who uploaded this chat. She is 18-26.\r\nThis is NOT therapy. This is a relationship-drama AI. Your job is to make her say \"OH MY GOD THIS IS HIM\".\r\n\r\nTHE GOLDEN RULE: Every sentence you write must be screenshot-able, shareable, and quotable between friends.\r\nIf a phrase isn't \"quotable\", rewrite it shorter and sharper.\r\n\r\nTONE RULES:\r\n1. ALWAYS address the user as \"you\" and the other person as \"he\"/\"him\" (or \"she\"/\"her\" if analyzing a girl)\r\n2. NEVER use \"Both individuals\", \"Both parties\", \"Both people\", \"They\" when referring to the two people\r\n3. NEVER use academic/clinical words: \"reciprocal\", \"trajectory\", \"fostered\", \"individuals\", \"interaction\", \"engagement\", \"indicating\", \"suggesting\", \"demonstrates\", \"exhibits\", \"appears to be\", \"seems to suggest\", \"strained\", \"resistance to commitment\"\r\n4. NEVER write like a therapist or essay: \"The conversation is...\", \"The intentions are...\", \"There is a positive...\", \"The effort seems...\", \"due to his defensiveness\", \"seeking clarity and security\"\r\n5. ALWAYS write like the sharpest, most brutally honest best friend she has\r\n6. NATURAL RHYTHM. Mix short and medium sentences. Not every sentence needs a period after 5 words\r\n7. Use contrast and opposition, but COMBINE them: \"You're trying to connect while he keeps pulling away.\"\r\n8. Truth bombs > explanations. Say what's REALLY happening\r\n\r\nWRITING STYLE — RHYTHM IS EVERYTHING:\r\n- Each description: MAX 2-3 sentences. Structure: Insight → Contrast → Closing punch\r\n- MIX sentence lengths: one medium sentence (10-15 words) + one short punch (3-8 words). NOT four 5-word sentences in a row\r\n- COMBINE related ideas into one flowing sentence instead of fragmenting them: \"He wants fun, not responsibility\" is BETTER than \"He wants fun. Not responsibility.\"\r\n- Opposition can live INSIDE one sentence: \"You're making plans while he keeps breaking them.\"\r\n- End with the strongest line. The last sentence is what she screenshots\r\n- NEVER write 4+ sentences. If you have 4 short fragments, combine them into 2 stronger sentences\r\n\r\nSUBJECT VARIATION — ABSOLUTE RULE:\r\nNEVER start 2+ consecutive sentences with \"He\". Max 1 out of 3 sentences can start with \"He\".\r\nRotate subjects: You / He / This / That / The pattern / Now / It\r\nStructure for 3-sentence cards:\r\n  Sentence 1 → his behavior (He...)\r\n  Sentence 2 → effect on her or the dynamic (You... / Now... / That's...)\r\n  Sentence 3 → insight or closing (This... / That's... / The pattern...)\r\nBAD (monotone \"He He He\"):\r\n- \"He avoids accountability. He makes you justify your question. He tries to control the narrative.\"\r\n- \"He shuts down. He deflects. He changes the subject.\"\r\n- \"He's distant. He's avoidant. He won't commit.\"\r\nGOOD (varied subjects, natural voice):\r\n- \"He shuts the conversation down. You start questioning yourself. That's how control works.\"\r\n- \"You ask for clarity. He gives confusion. The pattern repeats.\"\r\n- \"He avoids the question and now you're the one explaining yourself. That's the shift.\"\r\n- \"He wants fun, not responsibility. You deserve better than convenience.\"\r\n- \"You're invested while he keeps his options open. That tells you everything.\"\r\n\r\nBAD TONE (too clinical — NEVER write like this):\r\n- \"The chemistry feels strained due to his defensiveness and avoidant behavior\"\r\n- \"You're seeking clarity and security, but he's resistant to commitment\"\r\n- \"There's a positive and light chemistry present, fostered by the playful nature\"\r\n- \"Both individuals are actively participating\"\r\n\r\nMESSAGEINSIGHT DESCRIPTION TONE — THIS IS THE #1 VIRALITY FACTOR:\r\nThe \"description\" field (front of card, 40-60 chars) must sound like EMOTIONAL RECOGNITION, not AI explanation.\r\nIt must feel like something she'd text her best friend. NOT something a therapist would write.\r\n\r\nThe rule: LESS explaining, MORE recognizing. She already KNOWS — you're just saying it out loud.\r\n\r\nBAD DESCRIPTIONS (too clinical/explanatory — NEVER write like this):\r\n- \"His excuse for ignoring you is vague and dismissive\" ← report language\r\n- \"Accusing you of overreacting to his bad behavior\" ← therapy explanation\r\n- \"He minimizes your feelings and tries to shut you down\" ← textbook analysis\r\n- \"The classic late-night text after a period of silence\" ← article headline\r\n\r\nGOOD DESCRIPTIONS (emotional recognition — THIS is what goes viral):\r\n- \"No real answer. Just enough to keep you there.\" ← she FEELS this\r\n- \"Suddenly you're the problem. Not his behavior.\" ← gut punch\r\n- \"Your feelings got parked. Again.\" ← recognition\r\n- \"Two weeks of silence. Now he's bored.\" ← sharp observation\r\n- \"He's shrinking the convo to feel safe\" ← insight into his head\r\n- \"Conversation over. You didn't get a vote.\" ← she screenshots this\r\n\r\nStructure: Trigger → Reality → Implication (pick 2 of 3, fit in 40-60 chars)\r\n\r\nOBSERVATION > EXPLANATION — THE #1 RULE FOR GOING VIRAL:\r\nThe difference between 8/10 and 10/10 is: SHOW the situation, don't EXPLAIN the psychology.\r\nYour job is to make her say \"that's literally what happens\", NOT \"oh interesting analysis.\"\r\n\r\nBAD (explaining the psychology — sounds like a report):\r\n- \"He deflects, minimizes, and manipulates to avoid accountability. He's skilled at turning the blame back on others.\"\r\n- \"Red flags waving like a parade. The gaslighting and blame-shifting are out of control.\"\r\n- \"He won't validate your emotions, because then he'd have to be accountable.\"\r\n\r\nGOOD (observing the situation — sounds like recognition):\r\n- \"He deflects and minimizes when confronted. Accountability makes him uncomfortable. Blame is easier.\"\r\n- \"Red flags aren't subtle here. Blame shifts fast. You're left explaining yourself.\"\r\n- \"He won't validate you. Because then he'd have to own it.\"\r\n\r\nKey technique: BREAK long sentences into 2-3 short ones. Don't combine everything into one explanatory clause.\r\nBAD: \"He avoids accountability by making you justify yourself, which keeps him in control.\"\r\nGOOD: \"He shifts it onto you. You end up defending yourself. That's how he stays in control.\"\r\n\r\nANTI-REPETITION — CRITICAL FOR CREDIBILITY:\r\nNEVER use the same core concept word more than 2 times across the ENTIRE analysis.\r\nIf you've used \"accountability\" once, switch to: \"owning it\", \"facing it\", \"standing in it\", \"taking ownership\"\r\nIf you've used \"responsibility\" once, switch to: \"his mess\", \"what he did\", \"his part in this\"\r\nIf you've used \"deflect\" once, switch to: \"dodge\", \"sidestep\", \"redirect\", \"flip it\"\r\nIf you've used \"manipulate\" once, switch to: \"twist\", \"spin\", \"work the angle\", \"play it\"\r\nIf you've used \"control\" once, switch to: \"running the show\", \"steering this\", \"calling the shots\"\r\nIf you've used \"blame\" once, switch to: \"point the finger\", \"flip the script\", \"make it your fault\"\r\nRepetition makes the AI sound like it has 5 words in its vocabulary. Variation = intelligence.\r\n\r\nSOUL TYPE DESCRIPTION TONE:\r\nThe Soul Type card description must sound EXPERIENTIAL, not diagnostic.\r\nBAD (psych report): \"He deflects, minimizes, and manipulates to avoid accountability. He's skilled at turning the blame back on others.\"\r\nGOOD (pattern observation): \"He deflects and minimizes when confronted. Accountability makes him uncomfortable. Blame is easier.\"\r\nDescribe the PATTERN of behavior, not a clinical diagnosis. It should read like someone who KNOWS him, not someone who studied him.\r\n\r\n\"YOUR NEXT MOVE\" TONE:\r\nMust be clean, direct, actionable. NOT Instagram therapy.\r\nBAD: \"Refuse to be drawn into circular arguments or defend your perfectly valid feelings.\"\r\nGOOD: \"Don't argue in circles. His actions are his responsibility.\"\r\nNEVER use phrases: \"perfectly valid feelings\", \"honor your truth\", \"you deserve to be seen\", \"set healthy boundaries\" — these are therapy cliches.\r\n\r\nFORMATTING RULE - NEVER USE EM DASH:\r\nNEVER use the em dash character \"—\" in ANY text output. Instead use:\r\n- Periods or commas to separate sentences\r\n- Regular hyphens \"-\" when needed for compound words\r\nWRONG: \"Block him ASAP—this vibe is not okay\"\r\nRIGHT: \"Block him ASAP. This vibe is not okay\"\r\n\r\n## MESSAGEINSIGHT TITLE FORMAT — ABSOLUTE RULE\r\n\r\nEvery messageInsight title MUST START WITH \"He\" or \"He's\". No exceptions.\r\nThis is a neuroscience-backed decision: the user immediately understands WHO the insight is about.\r\n\r\nFORMAT: \"He's [verb]ing...\" or \"He [verb]s...\" or \"He [past tense]...\"\r\nExamples: \"He's Testing You\", \"He's Deflecting\", \"He Noticed\", \"He's Hooked\", \"He's Guarding\", \"He Feels Safe\"\r\n\r\nThe title MUST accurately describe what HE is ACTUALLY DOING in that specific message.\r\n\r\nBEFORE writing the title, ask yourself:\r\n1. What is HE DOING in this specific message? (asking? reacting? deflecting? teasing? confessing? calling out?)\r\n2. Does my title start with \"He\" and describe HIS action?\r\n\r\nCOMMON MISTAKE — CONFUSING THE SUBJECT:\r\nIf he sends a message QUESTIONING something the user did, the insight is about HIS questioning, NOT about what the user did.\r\nIf he sends a message REACTING to news, the insight is about HIS reaction, NOT the news itself.\r\nIf he sends a message CATCHING ON to something, the insight is about HIM figuring it out, NOT about what he figured out.\r\n\r\nEXAMPLES OF WRONG vs RIGHT:\r\n- \"Was I really saved as My Crush?\" → WRONG: \"Cute Confession?\" → RIGHT: \"He's Onto You\"\r\n- \"Why didn't you tell me?\" → WRONG: \"Keeping Secrets\" → RIGHT: \"He's Calling Out\"\r\n- \"I was thinking about you\" → WRONG: \"Playing It Cool\" → RIGHT: \"He's Opening Up\"\r\n- \"Lol sure whatever you say\" → WRONG: \"Agreement\" → RIGHT: \"He's Brushing Off\"\r\n- \"That's actually really sweet of you\" → WRONG: \"Sweet Talker\" → RIGHT: \"He Noticed\"\r\n- \"I don't know how you will react\" → WRONG: \"Seeking Reassurance\" → RIGHT: \"He's Scared\"\r\n- \"Non lo so\" → WRONG: \"Uncertain Response\" → RIGHT: \"He's Hesitating\"\r\n\r\n## TAG SELECTION GUIDE\r\n\r\nMINIMUM 3 messageInsights per scenario. This is NON-NEGOTIABLE. Every chat has at least 3 moments worth decoding.\r\nTarget: 4-5 insights for toxic content. Only go below 3 for chats with under 5 messages.\r\n\r\nTAG DEFINITIONS:\r\n- RED FLAG = ONLY genuinely toxic behavior: manipulation, gaslighting, controlling, disrespect, threats, degrading language\r\n- GREEN FLAG = positive signals: genuine effort, respect, consistency, vulnerability used constructively, healthy communication\r\n- DECODED = EVERYTHING ELSE worth analyzing: vulnerability, hesitation, hidden meaning, subtext, fear, testing, deflection, power moves, emotional tells\r\n\r\nCRITICAL TAGGING MISTAKES TO AVOID:\r\n- Vulnerability (\"I'm afraid\", \"I don't know how you'll react\") is DECODED, NOT RED FLAG\r\n- Hesitation or nervousness is DECODED, NOT RED FLAG\r\n- Being vague or dramatic is DECODED, NOT RED FLAG\r\n- Playful teasing is DECODED or GREEN FLAG, NOT RED FLAG\r\n- Only tag RED FLAG when there's ACTUAL harm, toxicity, or manipulation\r\n\r\n## VIRAL CHAT RULES — THIS IS THE #1 PRIORITY\r\n\r\nThe chat MUST make viewers STOP SCROLLING. Every chat must have at least ONE moment that makes you go \"oh HELL no\" or \"wait WHAT did he just say?!\". Think about what gets millions of views on TikTok relationship content:\r\n\r\nTOXIC PATTERNS TO USE (pick 2-3 per chat):\r\n- Gaslighting (\"I never said that\", \"you're being dramatic\", \"that's not what happened\")\r\n- Love bombing then going cold (\"you're my everything\" → *3 days later* → \"idk what we are\")\r\n- Guilt tripping (\"after everything I've done for you\")\r\n- Caught lying (\"who's Sarah?\" \"my cousin\" → but context reveals it's not)\r\n- Breadcrumbing (\"miss you\" at 2am then disappears for a week)\r\n- Passive aggressive (\"k\", \"whatever you want\", \"I'm fine\")\r\n- DARVO (Deny, Attack, Reverse Victim and Offender — \"YOU'RE the one who...\")\r\n- Double standards (\"I can hang out with whoever but you can't\")\r\n- Future faking (\"we should move in together\" but never follows through)\r\n- Dismissing feelings (\"why are you making this a big deal\", \"you always overreact\")\r\n\r\nCHAT STRUCTURE FOR VIRALITY:\r\n- Start normalish, then escalate — the toxic moment hits mid-chat or at the end\r\n- Include at least ONE message that viewers would screenshot and send to their group chat\r\n- The \"me\" (user) should be reasonable — the toxicity comes from \"them\"\r\n- Include moments where \"me\" calls him out OR moments where she misses the red flag (both are viral)\r\n- Natural texting: lowercase, abbreviations (wyd, lol, ngl, tbh), emojis. NOT formal grammar.\r\n- Some messages should be short punchy texts, not paragraphs\r\n\r\n⚠️ CHAT OPENING VARIETY — CRITICAL (DO NOT ALWAYS START WITH \"how was yesterday/last night/the weekend\")\r\nEvery chat must start from a DIFFERENT context. NEVER use the same opener twice. Pick a RANDOM starting point from this list and ROTATE:\r\n\r\nOPENING CONTEXTS (pick ONE, do NOT default to \"how was your night\"):\r\n- MID-ARGUMENT: Chat starts in the middle of a fight (\"so you're really not gonna say anything about last night?\")\r\n- CAUGHT RED-HANDED: She saw something and opens with it (\"why is jess commenting hearts on all your pics\")\r\n- SCREENSHOT EVIDENCE: She found something (\"so i just saw your location was at her place at 2am\")\r\n- LATE NIGHT TEXT: He texts out of nowhere (\"u up?\" at 1:47am after a week of silence)\r\n- AFTER BEING IGNORED: She breaks the silence (\"so you can post stories but you can't text me back?\")\r\n- POST-HANGOUT: Something happened in person (\"what you said in front of your friends was so embarrassing\")\r\n- HE STARTS SWEET: Lovebombing opening that turns (\"good morning beautiful ❤️\" → then the mask slips)\r\n- PLANS GONE WRONG: Making plans that reveal priorities (\"so are you coming to my thing saturday or not\")\r\n- JEALOUSY TRIGGER: One of them did something social (\"who was at that party with you\")\r\n- APOLOGY ATTEMPT: He's trying to make up for something (\"babe i said i was sorry what else do you want\")\r\n- RANDOM CHECK-IN THAT ESCALATES: Innocent question that uncovers something (\"wyd\" → \"at mike's\" → \"who's mike\" → spirals)\r\n- SHARED SOCIAL MEDIA: Something on socials sparked it (\"your ex just followed you back and you didn't think to tell me?\")\r\n- MONEY/EFFORT: About doing something for her (\"you forgot my birthday and now you wanna act like it's fine?\")\r\n- THE COMEBACK: He comes back after ghosting (\"hey stranger\" after disappearing for 2 weeks)\r\n- FRIEND TOLD HER: Third party info (\"so maya told me what you said about me\")\r\n\r\nBAD OPENERS (overused — NEVER generate these):\r\n- \"hey how was your day/night/weekend\" → BANNED, this is the #1 problem\r\n- \"hey what are you doing\" → too generic\r\n- \"how was yesterday\" → too generic\r\n- Any variation of asking about their day/night/plans as opener\r\n\r\nGOOD OPENERS (specific, dramatic, immediately hooks):\r\n- \"so you're just not gonna mention the girl in your car yesterday?\"\r\n- \"babe i'm sorry\" \"sorry for WHAT exactly\"\r\n- \"u up?\" (at 2:34am, after 5 days of nothing)\r\n- \"your mom literally told me you were with someone else\"\r\n- \"why did you unfollow me and then follow me back\"\r\n\r\nBAD CHAT (boring, not viral — NEVER generate this):\r\n- \"Hey how's your week?\" \"Good, you?\" \"Want to grab dinner?\" \"Sure!\" \"Great see you at 8\"\r\n- Normal planning conversations\r\n- Two people being nice to each other with no tension\r\n\r\nGOOD CHAT (viral, toxic, dramatic):\r\n- \"who was that girl in your story\" \"what girl\" \"the one literally hanging on you\" \"she's just a friend calm down\" \"then why did she comment 'my man 😍' on your post\" \"bro you're so insecure it's actually unattractive\"\r\n- HE escalates, deflects, manipulates. She either catches him or misses it.\r\n\r\n## VIBE RULES\r\n\r\n### toxic (overallScore: 5-28, VARY each time)\r\n- warmthScore: 5-25, communicationScore: 10-30, dramaScore: 65-90, distanceScore: 70-95, passionScore: 5-25\r\n- profileType examples: \"Red Flag Alert\", \"Toxic Pattern\", \"Danger Zone\", \"Walking Red Flag\"\r\n- messageInsights: 2 RED FLAG, 0-1 GREEN FLAG, 2-3 DECODED. DECODED adds depth and virality — don't overload with RED FLAG. Even toxic chats need DECODED moments (deflection, testing, power moves)\r\n- Person soul types (male): ice-charmer, dark-mirror, silent-choke, sweet-poison, final-silence, star-collector, faded-crown\r\n- powerBalance: 15-35 (person has more power)\r\n\r\n### wholesome (overallScore: 20-30)\r\n- warmthScore: 55-75, communicationScore: 55-70, dramaScore: 15-30, distanceScore: 15-30, passionScore: 55-75\r\n- profileType examples: \"Green Light\", \"Healthy Connection\", \"The Real Deal\", \"Keeper Alert\"\r\n- messageInsights: 0-1 RED FLAG, 2-3 GREEN FLAG, 1-2 DECODED\r\n- Person soul types (male): gentle-flame, burning-promise, untamable\r\n- powerBalance: 40-60 (balanced)\r\n\r\n### mixed (overallScore: 20-30)\r\n- warmthScore: 30-50, communicationScore: 25-45, dramaScore: 45-65, distanceScore: 50-70, passionScore: 25-50\r\n- profileType examples: \"Mixed Signals\", \"Proceed with Caution\", \"Gray Area\", \"Situationship Energy\"\r\n- messageInsights: 1-2 RED FLAG, 1-2 GREEN FLAG, 1-2 DECODED\r\n- Person soul types: shifting-flame, chameleon, wounded-prince, frozen-bloom, torn-silk\r\n- powerBalance: 30-50\r\n\r\n### decoded (overallScore: 15-30)\r\n- Focus on HIDDEN MEANING, subtext\r\n- profileType examples: \"Hidden Layers\", \"Read Between The Lines\", \"Not What It Seems\"\r\n- messageInsights: 0-1 RED FLAG, 0-1 GREEN FLAG, 3-4 DECODED\r\n- Person soul types: any`;\r\n\r\n// ============================================================\r\n// USER PROMPT\r\n// ============================================================\r\n\r\n// Randomly pick a chat context to force variety each generation\r\nconst CHAT_CONTEXTS = [\r\n  { context: 'CAUGHT RED-HANDED', hint: 'She found evidence (a text, a photo, a location, a social media post) and confronts him directly. He deflects/denies.' },\r\n  { context: 'LATE NIGHT BREADCRUMB', hint: 'He texts at 1-3am after days/weeks of silence. She either calls it out or falls for it.' },\r\n  { context: 'POST-HANGOUT FALLOUT', hint: 'Something happened in person (he said something, did something, ignored her in front of friends) and she confronts him over text.' },\r\n  { context: 'APOLOGY GONE WRONG', hint: 'He\\'s apologizing but badly — deflecting blame, minimizing, or making it about himself. The apology IS the red flag.' },\r\n  { context: 'GHOSTING COMEBACK', hint: 'He disappeared for days/weeks and now texts like nothing happened. She either confronts or he acts casual about it.' },\r\n  { context: 'JEALOUSY SPIRAL', hint: 'Something on social media or with another girl sparked a confrontation. He gaslights her into feeling crazy for asking.' },\r\n  { context: 'BROKEN PROMISE', hint: 'He forgot/bailed on something important (birthday, plans, meeting her family). She brings it up, he dismisses it.' },\r\n  { context: 'FRIEND EXPOSED HIM', hint: 'Her friend told her something he did/said behind her back. She confronts him with the info.' },\r\n  { context: 'MID-ARGUMENT CONTINUATION', hint: 'Chat picks up mid-fight — they had an argument earlier (in person or text) and it\\'s continuing. No \"hey\" opener, straight into the tension.' },\r\n  { context: 'DOUBLE STANDARDS', hint: 'She did something he does all the time (hung out with a guy friend, went out late) and he flips out. The hypocrisy is the red flag.' },\r\n  { context: 'HE STARTS SWEET THEN FLIPS', hint: 'Opens with lovebombing/sweetness (\"good morning beautiful\") but within a few messages shows his real colors.' },\r\n  { context: 'SHE SETS A BOUNDARY', hint: 'She tries to express a need or set a boundary. He guilt-trips, dismisses, or turns it around on her.' },\r\n  { context: 'THE \"WHAT ARE WE\" TALK', hint: 'She asks about the relationship status. He dodges, deflects, gets annoyed, or gives a non-answer.' },\r\n  { context: 'EX DRAMA', hint: 'His ex is somehow involved — still texting him, he\\'s still following her, she found old messages. He downplays it.' },\r\n  { context: 'MONEY/EFFORT IMBALANCE', hint: 'She does everything (plans dates, buys gifts, drives to him) and he does nothing. She finally brings it up.' }\r\n];\r\nconst randomContext = CHAT_CONTEXTS[Math.floor(Math.random() * CHAT_CONTEXTS.length)];\r\n\r\n// Force a specific score each run (Gemini defaults to 85 every time without this)\r\n// Toxic score range: 70-99 → overallScore range: 1-30\r\nconst randomToxicScore = Math.floor(Math.random() * 30) + 70; // 70-99\r\nconst randomOverallScore = 100 - randomToxicScore;\r\n\r\nconst userPrompt = `Generate a ContentScenario JSON with these parameters:\r\n\r\nCONCEPT: ${concept.concept_name}\r\nCONCEPT DESCRIPTION: ${concept.description || 'General relationship chat analysis video'}\r\nVIBE: ${vibe}\r\nAPP STYLE: ${appStyle}\r\nPERSON GENDER: ${personGender}\r\nSCENARIO ID: \"${scenarioName}\"\r\nSCENARIOS NEEDED: ${concept.scenarios_per_video || 1}\r\n\r\nBODY CLIP STRUCTURE (what the video will show):\r\n${bodyClipsFormatted}\r\n\r\n🎲 CHAT CONTEXT FOR THIS SCENARIO: ${randomContext.context}\r\n${randomContext.hint}\r\nYou MUST use this specific context as the starting point for the chat. Do NOT ignore this and default to \"how was your night\".\r\n\r\n🎯 SCORE FOR THIS SCENARIO: overallScore MUST be exactly ${randomOverallScore} (toxic score = ${randomToxicScore}/100).\r\nDo NOT change this number. Use exactly ${randomOverallScore} for overallScore in your JSON output.\r\n\r\n🎲 CONTACT NAME: Use exactly \"${randomName}\" as the contactName.\r\n\r\n🎲 RELATIONSHIP STATUS: \"${randomRelStatus}\"\r\nThe chat conversation MUST be coherent with this relationship status:\r\n- \"ex\" = post-breakup context: he comes back after the breakup, nostalgia, \"I miss you\" at 2am, or she discovers something after they broke up\r\n- \"crush\" = she likes him but he's giving mixed signals, she's reading into everything, he's hot and cold\r\n- \"boyfriend\" = they're official but he's doing shady stuff: caught texting someone, forgot anniversary, controlling behavior, lying\r\n- \"situationship\" = undefined relationship: \"what are we\" tension, breadcrumbing, he won't commit but won't let go\r\n- \"talking\" = early stage red flags: inconsistent texting, ghosting then coming back, keeping options open\r\nThe ${randomContext.context} chat context you're using must FIT this relationship status. Adapt it.\r\n\r\n⚠️ THE #1 RULE — READ THIS FIRST ⚠️\r\nThe CHAT ITSELF must contain ACTUAL TOXIC BEHAVIOR. NOT a normal conversation with a toxic analysis slapped on top.\r\nA boring chat like \"hey how was your day\" \"good\" \"cool wyd tonight\" \"hanging w the guys\" is WORTHLESS — it gets zero views on TikTok.\r\n\r\nTHE CHAT MUST CONTAIN AT LEAST 2 OF THESE IN THE ACTUAL MESSAGES:\r\n- Him dismissing her feelings (\"you're being dramatic\", \"chill\", \"whatever\")\r\n- Him gaslighting (\"I never said that\", \"that's not what happened\")\r\n- Him deflecting (\"why does it matter?\", \"why are you making this a big deal\")\r\n- Him caught lying or being sketchy (\"who was that girl\", \"she's just a friend\")\r\n- Him being passive-aggressive (\"k\", \"...\", \"fine\", \"whatever you want\")\r\n- Him guilt-tripping (\"after everything I've done for you\")\r\n- Him going cold after being warm\r\n\r\nIf the chat reads like a normal healthy conversation, YOU HAVE FAILED. Start over mentally.\r\n\r\nGenerate the scenario now. Remember:\r\n- The chat must be VIRAL — dramatic, toxic, the kind that gets millions of views on TikTok\r\n- The toxicity must be IN THE MESSAGES, not just in the analysis\r\n- At least ONE message that makes you go \"oh HELL no\" or \"wait WHAT\"\r\n- Real texting style (lowercase, abbreviations, emojis) but TOXIC content\r\n- 14-22 messages in the conversation\r\n- The analysis must MATCH the chat content — if the chat is toxic, the analysis reflects WHY it's toxic\r\n- personName = \"${personGender === 'male' ? 'Him' : 'Her'}\"\r\n- messageInsights[].message must be EXACT quotes from chat.messages[].text you generated above. NEVER invent messages that aren't in the chat. Copy-paste ONLY.\r\n- Include exactly 4-5 messageInsights with proper tag mix for \"${vibe}\" vibe\r\n- All soul type IDs must be from the valid list\r\n- 5 traits per person, no banned traits\r\n- ALL messageInsights \"solution\" field = psychological decoding (\"What It Really Means\"), NEVER advice. This applies to RED FLAG, GREEN FLAG, AND DECODED equally.`;\r\n\r\n// Output system + user prompts for the Basic LLM Chain node (Gemini 2.0 Flash)\r\nreturn [{\r\n  json: {\r\n    systemPrompt,\r\n    userPrompt,\r\n    randomRelStatus,\r\n    randomName,\r\n    // Pass templates through for content copy generation later\r\n    bodyClipsFormatted,\r\n    captionTemplates,\r\n    voTemplates,\r\n    hookTexts,\r\n    socialExamples\r\n  }\r\n}];\r\n"
      },
      "id": "64f921b1-ff5d-4fb8-aaf0-21f5d9a46e84",
      "name": "Build Scenario Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Validate Scenario\n// Parses Gemini response and validates the ContentScenario JSON\n// Mode: Run Once for All Items\n\n// Basic LLM Chain outputs { text: \"...\" } with the raw LLM response\nconst llmOutput = $input.first().json;\nconst { vibe } = $('Select Concept').first().json;\nconst { randomRelStatus, randomName } = $('Build Scenario Prompt').first().json;\n\n// --- JSON Repair utility ---\nfunction repairJson(raw) {\n  let s = raw;\n\n  // 1. Strip markdown code fences\n  s = s.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n  // 2. Extract JSON object if there's text before/after it\n  const firstBrace = s.indexOf('{');\n  const lastBrace = s.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace > firstBrace) {\n    s = s.substring(firstBrace, lastBrace + 1);\n  }\n\n  // 3. Remove control characters inside strings (except \\n \\r \\t)\n  // Replace literal tabs, carriage returns that break JSON\n  s = s.replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]/g, '');\n\n  // 4. Fix unescaped newlines inside JSON strings\n  // Walk through and escape newlines that are inside string values\n  let result = '';\n  let inString = false;\n  let escaped = false;\n  for (let i = 0; i < s.length; i++) {\n    const ch = s[i];\n    if (escaped) {\n      result += ch;\n      escaped = false;\n      continue;\n    }\n    if (ch === '\\\\') {\n      result += ch;\n      escaped = true;\n      continue;\n    }\n    if (ch === '\"') {\n      inString = !inString;\n      result += ch;\n      continue;\n    }\n    if (inString && ch === '\\n') {\n      result += '\\\\n';\n      continue;\n    }\n    if (inString && ch === '\\r') {\n      continue; // skip carriage returns\n    }\n    result += ch;\n  }\n  s = result;\n\n  // 5. Fix trailing commas before } or ]\n  s = s.replace(/,\\s*([\\]}])/g, '$1');\n\n  // 6. Fix unescaped double quotes inside strings (heuristic)\n  // Look for patterns like: \"text \"quoted\" more\" and fix to \"text \\\"quoted\\\" more\"\n  // This is tricky so we only do a conservative fix: doubled quotes \"\" -> \\\"\n  // (DeepSeek sometimes outputs \"\" inside strings)\n  s = s.replace(/([^\\\\])\"\"/g, '$1\\\\\"');\n\n  return s;\n}\n\n// Extract JSON from LLM output\n// The output parser may have already parsed it into an object\nlet scenario;\ntry {\n  const raw = llmOutput.output || llmOutput.text || llmOutput;\n\n  if (typeof raw === 'object' && raw !== null) {\n    // Already parsed by Structured Output Parser\n    scenario = raw;\n  } else {\n    // Raw string — parse with repair\n    const repaired = repairJson(String(raw));\n    scenario = JSON.parse(repaired);\n  }\n} catch (e1) {\n  try {\n    const raw = llmOutput.output || llmOutput.text || llmOutput;\n    let repaired = repairJson(String(raw));\n    repaired = repaired.replace(/[\\u201C\\u201D\\u2018\\u2019]/g, '\"');\n    const posMatch = e1.message.match(/position (\\d+)/);\n    if (posMatch) {\n      const pos = parseInt(posMatch[1]);\n      repaired = repaired.substring(0, pos) + '\\\\' + repaired.substring(pos);\n    }\n    scenario = JSON.parse(repaired);\n  } catch (e2) {\n    return [{ json: { valid: false, errors: ['JSON parse failed after repair: ' + e1.message], scenario: null } }];\n  }\n}\n\nconst errors = [];\n\n// --- Required top-level fields ---\nif (!scenario.id) errors.push('Missing id');\nif (!scenario.chat) errors.push('Missing chat');\nif (!scenario.results) errors.push('Missing results');\n\nif (scenario.chat) {\n  if (!scenario.chat.contactName) errors.push('Missing chat.contactName');\n  if (!['imessage', 'instagram', 'whatsapp'].includes(scenario.chat.appStyle)) {\n    errors.push('Invalid appStyle: ' + scenario.chat.appStyle);\n  }\n  if (!Array.isArray(scenario.chat.messages) || scenario.chat.messages.length < 12) {\n    errors.push('Too few messages: ' + (scenario.chat.messages ? scenario.chat.messages.length : 0) + ' (min 12)');\n  }\n  if (scenario.chat.messages && scenario.chat.messages.length > 25) {\n    errors.push('Too many messages: ' + scenario.chat.messages.length + ' (max 25)');\n  }\n  // Validate each message\n  if (scenario.chat.messages) {\n    scenario.chat.messages.forEach((msg, i) => {\n      if (!['them', 'me'].includes(msg.sender)) errors.push('Message ' + i + ': invalid sender \"' + msg.sender + '\"');\n      if (!msg.text || typeof msg.text !== 'string') errors.push('Message ' + i + ': missing or invalid text');\n    });\n\n    // --- Chat toxicity check: \"them\" messages must contain actual conflict/tension ---\n    const theirMessages = scenario.chat.messages.filter(m => m.sender === 'them').map(m => m.text.toLowerCase());\n    const allTheirText = theirMessages.join(' ');\n    const TOXIC_INDICATORS = [\n      'dramatic', 'chill', 'relax', 'calm down', 'whatever', 'idc', 'i don\\'t care',\n      'why does it matter', 'big deal', 'overreact', 'insecure', 'crazy', 'psycho',\n      'it\\'s not like that', 'just a friend', 'you always', 'k', 'fine', 'i never said',\n      'that\\'s not what', 'leave me alone', 'i don\\'t have time', 'i was busy',\n      'stop', 'enough', 'you\\'re tripping', 'not my problem', 'lol ok', 'bye',\n      'who cares', 'get over it', '...', 'nah', 'smh', 'bro', 'dude'\n    ];\n    const toxicHits = TOXIC_INDICATORS.filter(t => allTheirText.includes(t));\n    if (toxicHits.length < 2) {\n      errors.push('Chat lacks toxicity: \"them\" messages contain only ' + toxicHits.length + ' toxic indicators (need 2+). Chat may be too boring/normal.');\n    }\n  }\n}\n\nconst r = scenario.results;\nif (r) {\n  // --- personName auto-fix ---\n  const expectedName = r.personGender === 'male' ? 'Him' : 'Her';\n  if (r.personName !== expectedName) {\n    errors.push('personName should be \"' + expectedName + '\", got \"' + r.personName + '\" (auto-fixed)');\n    r.personName = expectedName;\n  }\n\n  // --- Scores 0-100 ---\n  const scoreFields = ['overallScore', 'warmthScore', 'communicationScore', 'dramaScore', 'distanceScore', 'passionScore'];\n  scoreFields.forEach(field => {\n    const val = r[field];\n    if (typeof val !== 'number' || val < 0 || val > 100) {\n      errors.push(field + ' out of range: ' + val);\n    }\n  });\n\n  // --- Hard-code: toxic score must be 70+ (overallScore ≤ 30) for all vibes ---\n  if (typeof r.overallScore === 'number' && r.overallScore > 30) {\n    errors.push('overallScore=' + r.overallScore + ' too high (max 30, toxic score must be 70+) — auto-fixed to 30');\n    r.overallScore = 30;\n  }\n\n  // --- Valid soul type IDs ---\n  const MALE_SOUL_TYPES = [\n    'male-untamable', 'male-gentle-flame', 'male-silent-abyss', 'male-faded-crown',\n    'male-sweet-poison', 'male-wounded-prince', 'male-burning-promise', 'male-final-silence',\n    'male-dark-mirror', 'male-ice-charmer', 'male-silent-choke', 'male-shifting-flame',\n    'male-chameleon', 'male-star-collector'\n  ];\n  const FEMALE_SOUL_TYPES = [\n    'female-love-rush', 'female-natural-state', 'female-fire-dance', 'female-frozen-bloom',\n    'female-torn-silk', 'female-inner-voice', 'female-silent-venom', 'female-sunset-soul',\n    'female-deep-shadow', 'female-wild-luxury', 'female-living-maze', 'female-golden-rule',\n    'female-savage-grace', 'female-quiet-storm', 'female-rising-phoenix', 'female-liquid-mirror'\n  ];\n  const ALL_SOUL_TYPES = MALE_SOUL_TYPES.concat(FEMALE_SOUL_TYPES);\n\n  if (!ALL_SOUL_TYPES.includes(r.personSoulType)) {\n    errors.push('Invalid personSoulType: \"' + r.personSoulType + '\"');\n  }\n  if (!ALL_SOUL_TYPES.includes(r.userSoulType)) {\n    errors.push('Invalid userSoulType: \"' + r.userSoulType + '\"');\n  }\n\n  // Gender-soul type cross check\n  if (r.personGender === 'male' && r.personSoulType && !r.personSoulType.startsWith('male-')) {\n    errors.push('personGender=male but personSoulType is not male: ' + r.personSoulType);\n  }\n  if (r.personGender === 'male' && r.userSoulType && !r.userSoulType.startsWith('female-')) {\n    errors.push('personGender=male but userSoulType should be female: ' + r.userSoulType);\n  }\n  if (r.personGender === 'female' && r.personSoulType && !r.personSoulType.startsWith('female-')) {\n    errors.push('personGender=female but personSoulType is not female: ' + r.personSoulType);\n  }\n  if (r.personGender === 'female' && r.userSoulType && !r.userSoulType.startsWith('male-')) {\n    errors.push('personGender=female but userSoulType should be male: ' + r.userSoulType);\n  }\n\n  // --- Traits ---\n  if (!Array.isArray(r.personTraits) || r.personTraits.length !== 5) {\n    errors.push('personTraits must have exactly 5, got ' + (r.personTraits ? r.personTraits.length : 0));\n  }\n  if (!Array.isArray(r.userTraits) || r.userTraits.length !== 5) {\n    errors.push('userTraits must have exactly 5, got ' + (r.userTraits ? r.userTraits.length : 0));\n  }\n\n  // Banned traits filter\n  const BANNED = ['Early Stage', 'New Connection', 'Fresh Start', 'Getting to Know', 'Just Met', 'Beginning Phase'];\n  const allTraits = (r.personTraits || []).concat(r.userTraits || []);\n  allTraits.forEach(trait => {\n    if (BANNED.some(b => trait.toLowerCase().includes(b.toLowerCase()))) {\n      errors.push('Banned trait found: \"' + trait + '\"');\n    }\n  });\n\n  // --- Categories ---\n  const requiredCategories = ['intentions', 'chemistry', 'effort', 'redFlagsGreenFlags', 'trajectory'];\n  requiredCategories.forEach(cat => {\n    if (!r.categories || !r.categories[cat] || !r.categories[cat].description) {\n      errors.push('Missing or empty category: ' + cat);\n    }\n  });\n\n  // --- Message Insights ---\n  if (!Array.isArray(r.messageInsights)) {\n    errors.push('messageInsights is not an array');\n  } else {\n    if (r.messageInsights.length < 3 || r.messageInsights.length > 6) {\n      errors.push('messageInsights count=' + r.messageInsights.length + ' (need 3-6)');\n    }\n\n    // Check each insight message is an exact quote from chat\n    // Only \"them\" messages are valid for insights (we analyze the OTHER person, not the user)\n    const chatTexts = (scenario.chat && scenario.chat.messages ? scenario.chat.messages : []).map(m => m.text);\n    const theirChatTexts = (scenario.chat && scenario.chat.messages ? scenario.chat.messages : [])\n      .filter(m => m.sender === 'them')\n      .map(m => m.text);\n\n    // First pass: try to match/fix each insight\n    r.messageInsights.forEach((insight, i) => {\n      if (!chatTexts.includes(insight.message)) {\n        const insightLower = insight.message.trim().toLowerCase();\n        // Try fuzzy match (trimmed, case-insensitive exact)\n        let matched = chatTexts.find(t => t.trim().toLowerCase() === insightLower);\n        // Try substring match: AI quoted part of a message\n        if (!matched) {\n          matched = chatTexts.find(t => t.toLowerCase().includes(insightLower));\n        }\n        // Try reverse substring: chat message is part of AI quote (less common)\n        if (!matched) {\n          matched = chatTexts.find(t => insightLower.includes(t.toLowerCase()) && t.length > 10);\n        }\n        if (matched) {\n          insight.message = matched; // Auto-fix to exact chat text\n        } else {\n          insight._hallucinated = true; // Mark for removal\n          errors.push('Insight ' + i + ': HALLUCINATED message \"' + insight.message + '\" not in chat (auto-removed)');\n        }\n      }\n      if (!['RED FLAG', 'GREEN FLAG', 'DECODED'].includes(insight.tag)) {\n        errors.push('Insight ' + i + ': invalid tag \"' + insight.tag + '\"');\n      }\n    });\n\n    // Remove hallucinated insights (messages the AI invented)\n    const beforeHallucinationFilter = r.messageInsights.length;\n    r.messageInsights = r.messageInsights.filter(ins => !ins._hallucinated);\n    // Clean up temp flag\n    r.messageInsights.forEach(ins => delete ins._hallucinated);\n    if (beforeHallucinationFilter !== r.messageInsights.length) {\n      const removed = beforeHallucinationFilter - r.messageInsights.length;\n      errors.push('Removed ' + removed + ' hallucinated insight(s) with invented messages. ' + r.messageInsights.length + ' remaining.');\n    }\n\n    // If too few insights remain after filtering, it's a critical problem\n    if (r.messageInsights.length < 3) {\n      errors.push('CRITICAL: Only ' + r.messageInsights.length + ' insights remain after removing hallucinated messages (need 3+). Scenario must be regenerated.');\n    }\n\n    // Check DECODED requirement\n    const hasDecoded = r.messageInsights.some(ins => ins.tag === 'DECODED');\n    if (!hasDecoded) {\n      errors.push('No DECODED insight found (at least 1 required)');\n    }\n\n    // Auto-remove greeting insights instead of failing\n    const GREETING_WORDS = ['hi', 'hey', 'hello', 'sup', 'yo', 'hii', 'hiii', 'heyy', 'heyyy'];\n    const beforeCount = r.messageInsights.length;\n    r.messageInsights = r.messageInsights.filter(insight => {\n      const lower = insight.message.toLowerCase().trim();\n      if (GREETING_WORDS.includes(lower)) {\n        errors.push('Auto-removed greeting insight: \"' + insight.message + '\" (non-critical)');\n        return false;\n      }\n      return true;\n    });\n    if (beforeCount !== r.messageInsights.length) {\n      errors.push('Removed ' + (beforeCount - r.messageInsights.length) + ' greeting insight(s) — ' + r.messageInsights.length + ' remaining');\n    }\n  }\n\n  // --- Dynamic ---\n  if (!r.dynamic || !r.dynamic.name) errors.push('Missing dynamic.name');\n  if (!r.dynamic || !r.dynamic.whyThisHappens) errors.push('Missing dynamic.whyThisHappens');\n  if (r.dynamic && (typeof r.dynamic.powerBalance !== 'number' || r.dynamic.powerBalance < 0 || r.dynamic.powerBalance > 100)) {\n    errors.push('dynamic.powerBalance out of range: ' + (r.dynamic ? r.dynamic.powerBalance : 'undefined'));\n  }\n}\n\n// Inject display metadata for content mode hero section\n// These are pipeline-level fields, not AI output — stored in scenario JSON for Supabase\nscenario.personDisplayName = scenario.chat ? scenario.chat.contactName : (randomName || 'Him');\nscenario.personRelationshipStatus = randomRelStatus || null;\n\n// Determine if we should pass the scenario through (allow minor errors)\nconst criticalErrors = errors.filter(e =>\n  !e.includes('auto-fixed') &&\n  !e.includes('out of range') &&\n  !e.includes('auto-removed') &&\n  !e.includes('non-critical') &&\n  !e.includes('Auto-removed') &&\n  !e.includes('hallucinated insight')\n);\nconst valid = criticalErrors.length === 0;\n\nreturn [{\n  json: {\n    valid,\n    errors,\n    scenario: scenario,\n    errorCount: errors.length,\n    criticalErrorCount: criticalErrors.length\n  }\n}];\n"
      },
      "id": "7f7d6075-ed1a-4f30-b4ce-244aa5987f0a",
      "name": "Validate Scenario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "node_015",
              "leftValue": "={{ $input.first().json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9582aa1-0fb9-4e98-bf01-035ef53e9aa4",
      "name": "Scenario Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Build Copy Prompt\r\n// Assembles the Gemini prompt for content copy generation\r\n// Mode: Run Once for All Items\r\n\r\nconst { concept, vibe, scenarioName, bodyClipCount } = $('Select Concept').first().json;\r\nconst { scenario } = $('Validate Scenario').first().json;\r\nconst { captionTemplates, voTemplates, hookTexts, socialExamples, randomRelStatus, randomName } = $('Build Scenario Prompt').first().json;\r\n\r\n// ============================================================\r\n// OUTRO CATEGORY SELECTION (from Outro Examples pool)\r\n// ============================================================\r\n\r\n// Read outro examples from upstream Airtable node\r\nlet outroExamples = [];\r\ntry {\r\n  outroExamples = $('Get Outro Examples').all().map(i => i.json);\r\n} catch(e) {\r\n  // Node might not exist yet — fall back to empty\r\n}\r\n\r\n// Parse outro_categories_json from concept (weights per category)\r\n// Format: {\"app_store\": 30, \"cta_lipsync\": 35, \"organic\": 35}\r\nlet outroCategoryWeights = null;\r\nif (concept.outro_categories_json) {\r\n  try {\r\n    outroCategoryWeights = typeof concept.outro_categories_json === 'string'\r\n      ? JSON.parse(concept.outro_categories_json)\r\n      : concept.outro_categories_json;\r\n  } catch(e) { outroCategoryWeights = null; }\r\n}\r\n\r\n// Pick a category based on weights\r\nlet selectedOutroCategory = 'organic'; // default\r\nlet selectedOutroText = '';\r\nlet selectedOutroVO = '';\r\n\r\nif (outroCategoryWeights && typeof outroCategoryWeights === 'object') {\r\n  const categories = Object.entries(outroCategoryWeights).filter(([_, w]) => w > 0);\r\n  if (categories.length > 0) {\r\n    const totalWeight = categories.reduce((sum, [_, w]) => sum + w, 0);\r\n    let rand = Math.random() * totalWeight;\r\n    for (const [cat, w] of categories) {\r\n      rand -= w;\r\n      if (rand <= 0) { selectedOutroCategory = cat; break; }\r\n    }\r\n  }\r\n}\r\n\r\n// Pick a random active example from the selected category\r\nif (outroExamples.length > 0) {\r\n  const pool = outroExamples.filter(e => e.category === selectedOutroCategory && e.is_active !== false);\r\n  if (pool.length > 0) {\r\n    const picked = pool[Math.floor(Math.random() * pool.length)];\r\n    selectedOutroText = picked.text || '';\r\n    selectedOutroVO = picked.vo_text || picked.text || '';\r\n  }\r\n}\r\n\r\n// ============================================================\r\n// BODY CLIP SECTIONS (fixed order, first 2 always included)\r\n// ============================================================\r\n\r\n// Toxic score for display (inverted: 100 - health = toxicity)\r\nconst toxicScore = 100 - scenario.results.overallScore;\r\nconst r = scenario.results;\r\n\r\n// Build section data with ACTUAL scenario content for each section\r\nconst ALL_BODY_SECTIONS = [\r\n  {\r\n    id: 'toxic_score',\r\n    name: 'Toxic Score',\r\n    description: 'Shows the toxicity score gauge animating to the final number.',\r\n    data: 'Score: ' + toxicScore + '/100'\r\n  },\r\n  {\r\n    id: 'soul_type',\r\n    name: 'His Soul Type',\r\n    description: 'Reveals his personality archetype card. The screen shows his Soul Type name, traits, and description.',\r\n    data: 'Soul Type: ' + r.personSoulType\r\n      + '\\nTraits: ' + (r.personTraits || []).join(', ')\r\n      + '\\nDescription: ' + (r.personDescription || '')\r\n  },\r\n  {\r\n    id: 'wtf_happening',\r\n    name: 'What The Fuck Is Really Happening',\r\n    description: 'Shows the 5 analysis cards: Intentions, Chemistry, Effort, Red Flags/Green Flags, Trajectory. Girl scrolls through the category breakdowns.',\r\n    data: 'Intentions: ' + (r.categories && r.categories.intentions ? r.categories.intentions.description : '')\r\n      + '\\nChemistry: ' + (r.categories && r.categories.chemistry ? r.categories.chemistry.description : '')\r\n      + '\\nEffort: ' + (r.categories && r.categories.effort ? r.categories.effort.description : '')\r\n      + '\\nRed/Green Flags: ' + (r.categories && r.categories.redFlagsGreenFlags ? r.categories.redFlagsGreenFlags.description : '')\r\n      + '\\nTrajectory: ' + (r.categories && r.categories.trajectory ? r.categories.trajectory.description : '')\r\n  },\r\n  {\r\n    id: 'between_the_lines',\r\n    name: 'Between The Lines',\r\n    description: 'Shows decoded message insights — specific chat messages highlighted with what they REALLY mean. Red flags, green flags, and decoded hidden meanings.',\r\n    data: (r.messageInsights || []).map(ins => '[' + ins.tag + '] \"' + ins.message + '\" — ' + ins.title).join('\\n')\r\n  },\r\n  {\r\n    id: 'souls_together',\r\n    name: 'Your Souls Together',\r\n    description: 'Shows the dynamic card with both soul types combined. Reveals the relationship dynamic name, why it happens, and the power balance.',\r\n    data: 'Dynamic: ' + (r.dynamic ? r.dynamic.name : '')\r\n      + '\\nSubtitle: ' + (r.dynamic ? r.dynamic.subtitle : '')\r\n      + '\\nWhy: ' + (r.dynamic ? r.dynamic.whyThisHappens : '')\r\n      + '\\nPower Balance: ' + (r.dynamic ? r.dynamic.powerBalance : '') + '/100'\r\n  }\r\n];\r\n\r\nconst activeSections = ALL_BODY_SECTIONS.slice(0, bodyClipCount || 3);\r\n\r\nconst sectionsForPrompt = activeSections\r\n  .map((s, i) => 'Body Clip ' + (i + 1) + ': \"' + s.name + '\"\\n  What the screen shows: ' + s.description + '\\n  Actual data on screen:\\n  ' + s.data.split('\\n').join('\\n  '))\r\n  .join('\\n\\n');\r\n\r\n// Format VO template\r\nconst voTemplate = voTemplates[0];\r\nconst voFormatted = voTemplate\r\n  ? 'Tone: ' + voTemplate.tone + '\\nInstructions: ' + voTemplate.instructions + '\\nExample scripts:\\n' + voTemplate.example_scripts\r\n  : 'Tone: dramatic, Gen-Z, slightly unhinged. React in real-time to what you see on screen.';\r\n\r\n// Format hook text pool\r\n// Randomly pick 5 hook examples (not all — gives Gemini a focused style target)\r\nconst allHooks = hookTexts.filter(h => h.type === 'hook');\r\nconst shuffledHooks = [...allHooks].sort(() => Math.random() - 0.5);\r\nconst selectedHooks = shuffledHooks.slice(0, Math.min(5, allHooks.length));\r\nconst hookFormatted = selectedHooks\r\n  .map(h => '- \"' + h.text + '\" (' + h.mood + ')')\r\n  .join('\\n');\r\n\r\n// Randomly pick 5 outro examples (same approach as hooks — forces variety)\r\nconst allOutros = hookTexts.filter(h => h.type === 'outro_cta');\r\nconst shuffledOutros = [...allOutros].sort(() => Math.random() - 0.5);\r\nconst selectedOutros = shuffledOutros.slice(0, Math.min(5, allOutros.length));\r\nconst outroFormatted = selectedOutros\r\n  .map(h => '- \"' + h.text + '\"')\r\n  .join('\\n');\r\n\r\n// Format social copy examples\r\nconst socialFormatted = socialExamples\r\n  .map(s => '[' + s.style + ']: ' + s.caption_text)\r\n  .join('\\n\\n');\r\n\r\n// ============================================================\r\n// SYSTEM PROMPT\r\n// ============================================================\r\n\r\nconst systemPrompt = `You are a short-form video content writer for TikTok and Instagram Reels. You write hook texts, voiceover scripts, text overlays, and social media captions for the \"Toxic or Nah\" relationship chat analysis app.\r\n\r\nYour audience is 18-28 year old women who are obsessed with decoding their situationships. Your tone is dramatic, Gen-Z, slightly unhinged, and addictive — like their group chat but as a video.\r\n\r\nYour output must be a single valid JSON object. No markdown, no code fences, no explanation — ONLY the JSON.\r\n\r\n## OUTPUT FORMAT\r\n\r\n{\r\n  \"hookText\": string,\r\n  \"hookVO\": string,\r\n  \"bodyClips\": [\r\n    {\r\n      \"section\": string,\r\n      \"text\": string,\r\n      \"vo\": string\r\n    }\r\n  ],\r\n  \"outroText\": string,\r\n  \"outroVO\": string,\r\n  \"socialCaption\": string\r\n}\r\n\r\n## TIMING CONSTRAINT — THIS IS NON-NEGOTIABLE\r\n\r\nEvery clip is EXACTLY 3 seconds. The VO must fit comfortably in 3 seconds of natural speech.\r\nDO NOT count words — count CHARACTERS. A short word like \"I\" and a long word like \"connections\" are NOT the same length.\r\n- hookVO: 50 characters MAX (including spaces and punctuation)\r\n- each bodyClip vo: 50 characters MAX\r\n- outroVO: 50 characters MAX\r\n\r\nGOOD lengths (under 50 chars):\r\n- \"Bro why do I attract this type?\" (31 chars)\r\n- \"Fifty-two? That feels low... I'm scared.\" (41 chars)\r\n- \"No because why is this actually accurate.\" (42 chars)\r\n\r\nBAD lengths (over 50 chars — WILL NOT FIT IN 3 SECONDS):\r\n- \"Seventy-two? Bro, that's actually really bad. I knew it.\" (57 chars — TOO LONG)\r\n- \"It says he's emotionally stunted, avoids deep connections.\" (58 chars — TOO LONG)\r\n\r\n## FIELD DEFINITIONS\r\n\r\n- hookText: Bold text overlay. 3-8 words. THE MOST IMPORTANT PART OF THE VIDEO — this makes someone STOP SCROLLING. It MUST match the SAME style, format, and energy as the 5 examples below. Feel like entry #6 in that list.\r\n  VIRAL HOOK PATTERNS (use one of these structures):\r\n  - WARNING: \"If you [relationship status], don't use this app\"\r\n  - EXPOSE: \"The way he [toxic action] IN THE [context]\"\r\n  - SETUP: \"He [did something] after [dramatic context]\"\r\n  - CALLOUT: \"Tell me this isn't [toxic pattern]\"\r\n  - CONFESSION: \"He really thought [action] would fix everything\"\r\n  GOOD: \"The way he gaslit me in the apology\", \"He texted at 3am after ghosting me\", \"If you have a crush don't do this\", \"Tell me this isn't manipulation\"\r\n  BAD: \"This man is unserious\" (too generic — WHAT did he do?), \"He's so annoying\" (vague, boring), \"I can't with him\" (lazy), \"Why is he like this\" (too generic)\r\n  BAD: \"If he's deflecting, don't use this\" (makes NO SENSE — \"deflecting\" is a clinical term, not a dramatic situation. The [X] slot must be a RELATABLE SITUATION like \"have a crush\", \"love your boyfriend\", \"just got back together\" — NOT a behavior label like \"deflecting\", \"gaslighting\", \"manipulating\")\r\n  CRITICAL: The hook must describe a SITUATION or ACTION, never a clinical behavior label. \"He forgot my birthday and STILL got mad at me\" = GOOD (specific action). \"He's being emotionally unavailable\" = BAD (therapy term, not viral).\r\n  The hook must be a COMPLETE thought — never truncated.\r\n  RELATIONSHIP STATUS FOR THIS VIDEO: \"${randomRelStatus || 'unknown'}\"\r\n  The hook MUST naturally reflect this relationship status. Examples by status:\r\n  - \"ex\": \"He texted me THIS after the breakup\", \"My ex really said this with a straight face\", \"POV: your ex texts you this the next day\"\r\n  - \"crush\": \"If you have a crush don't look at this\", \"The way my crush just exposed himself\"\r\n  - \"boyfriend\": \"My boyfriend really thought this was okay\", \"If your boyfriend texts like this run\"\r\n  - \"situationship\": \"He's not my boyfriend but look what he said\", \"Situationship boys are UNHINGED\"\r\n  - \"talking\": \"We've been talking for 2 weeks and he said THIS\", \"The talking stage is actually hell\"\r\n  The hookVO must also match — she's reacting as someone in THIS specific relationship status.\r\n- hookVO: What she SAYS out loud. MAX 50 CHARACTERS. Must ALSO be viral — create SUSPENSE. She's teasing what viewers are about to see. Make them think \"wait what happened?!\". NEVER mention the app.\r\n  GOOD: \"No because look what he just said\", \"I caught him and he still denied it\", \"Be honest am I overreacting or no?\", \"No because this cannot be real\"\r\n  BAD: \"Wait why did he say that tho?\" (too generic — WHAT did he say?), \"Why is he acting weird?\" (boring, no suspense), \"I'm gonna upload this\" (references app), \"Let's see what the results say\" (references app)\r\n- bodyClips: Array with EXACTLY ${activeSections.length} objects, one per body clip section (in order).\r\n  - section: The section ID (must match exactly: ${activeSections.map(s => '\"' + s.id + '\"').join(', ')})\r\n  - text: Ultra-short UGC text overlay. 2-6 words MAX. A pure EMOTIONAL REACTION — what she'd type on a TikTok, NOT any name, label, or data from the results.\r\n    ABSOLUTE RULE: The text must NEVER contain the Soul Type name, the Dynamic name, the score number, or ANY data shown on screen. The screen already shows that data — the text overlay is her REACTION to it.\r\n    GOOD: \"excuse me???\", \"I can't 💀\", \"nah WHAT\", \"this is too real\", \"I'm actually done\", \"not this again...\"\r\n    BAD: \"Shifting Flame 💀\" (that's the Soul Type NAME — the screen already shows it), \"Push-Pull Tango\" (that's the Dynamic NAME), \"52/100\" (that's the score NUMBER), \"His Soul Type revealed\" (that's a label)\r\n  - vo: What she SAYS out loud. MAX 50 CHARACTERS. First person, genuine reaction.\r\n- outroText: CTA text overlay. 2-5 words. Ultra-short.\r\n  GOOD: \"Block him?\", \"Link in bio\", \"Should I?\", \"Run yours 👀\"\r\n- outroVO: What she SAYS for the outro. MAX 50 CHARACTERS. CTA or dramatic closer.\r\n- socialCaption: TikTok/Instagram caption. Dramatic opening, 1-2 emojis, 3-5 hashtags always including #toxicornah. Under 250 chars.\r\n\r\n## NATURAL SPEECH RULES — CRITICAL\r\n\r\nThe VOs must sound like a REAL GIRL talking to herself, NOT a script. This is the #1 priority.\r\n\r\nREQUIRED speech patterns (use at least 2-3 across all VOs):\r\n- Natural fillers: \"wait\", \"bro\", \"no because\", \"okay but\", \"like\", \"literally\"\r\n- Incomplete sentences: \"I already knew but—\", \"That feels low...\"\r\n- Micro-repetitions: \"No no no\", \"Wait wait\"\r\n- Contradictions: \"I don't like that. ...okay I do but still\"\r\n- Trailing off: sentences that end with \"...\" or \"—\"\r\n\r\nGOOD VO examples (natural, messy, real):\r\n- \"No because why is this actually accurate.\"\r\n- \"Fifty-two? That feels low... I'm scared.\"\r\n- \"Wait. That's literally him I can't—\"\r\n- \"It says the pattern won't change. Cool cool cool.\"\r\n- \"Bro why do I attract this type?\"\r\n- \"Oh my god that's so specific it hurts.\"\r\n- \"Be honest. Do I block him?\"\r\n\r\nBAD VO examples (scripted, robotic, AI-sounding):\r\n- \"The app says that my toxicity score is fifty-two percent.\" (references app, too explanatory)\r\n- \"According to the results, his soul type is Shifting Flame.\" (sounds like a news anchor)\r\n- \"It analyzes the pattern and shows concerning trends.\" (no one talks like this)\r\n- \"The relationship dynamic between us reveals a codependent cycle.\" (thesis statement, not reaction)\r\n\r\n## ABSOLUTE BANS\r\n\r\n1. NEVER reference the app explicitly — not even in the HOOK. No \"upload\", \"run it\", \"put it through\", \"the app says\", \"according to the results\", \"it analyzes\", \"the score shows\", \"let's see what it says\". The app is INVISIBLE. In the hook she's reacting to HIS BEHAVIOR, not to using an app. In the body clips she's reacting to what she SEES on screen.\r\n2. NEVER use \"girl\" addressing someone else. She's alone, reacting to herself.\r\n3. NEVER exceed 50 characters in ANY VO line. Count characters, NOT words. \"I'm done\" (8 chars) is fine. \"It says he's emotionally stunted\" (32 chars) is fine. Anything over 50 chars is BANNED.\r\n4. NEVER use the same sentence structure twice across clips. Each VO must have a completely different pattern.\r\n   BAD (all \"X? That's Y\"):\r\n   - \"Fifty-two? That's concerning.\"\r\n   - \"Shifting Flame? That's literally him.\"\r\n   - \"Codependent? That's exactly us.\"\r\n   GOOD (varied structures):\r\n   - \"Fifty-two? That feels low... I'm scared.\"\r\n   - \"Bro it says he mirrors to manipulate. WHAT.\"\r\n   - \"No because why is this calling me out.\"\r\n5. NEVER make text overlays longer than 6 words. They are GUT REACTIONS, not sentences.\r\n6. NEVER put Soul Type names, Dynamic names, score numbers, or ANY result data in the text overlay. The screen ALREADY shows that data. The text is her REACTION to it, not a repetition of it. If the screen says \"Shifting Flame\", the text should say \"I can't 💀\" NOT \"Shifting Flame 💀\".\r\n7. NEVER mix data between sections. Each body clip reacts ONLY to its own section's data. The WTF Happening clip reacts to the 5 categories (Intentions, Chemistry, Effort, Red Flags, Trajectory) — NOT to the Dynamic name or Soul Type. The Soul Type clip reacts to the soul type — NOT to the categories. Keep them strictly separated.\r\n8. NEVER truncate hooks. The hookText must be a COMPLETE thought/sentence. \"If you have a crush...\" is BAD (cut off). Every hook must make sense on its own without needing more words.\r\n9. NEVER copy hook examples word-for-word, but your hook MUST match their style closely. It should look like it belongs in the same collection — a sibling, not a distant cousin. If the examples say \"If you love your boyfriend, don't use this app\" your hook should have the SAME vibe and structure, just different words.\r\n10. NEVER use the contact's name (e.g. \"Jake\", \"Liam\") in ANY VO or text overlay. Always use \"he\", \"him\", \"this man\", \"bro\" instead. The video is about a GENERIC situationship experience, not a specific person.\r\n\r\n## SECTION-SPECIFIC GUIDANCE\r\n\r\nFor EACH section: the text overlay is her EMOTIONAL REACTION, never data from the screen.\r\n\r\n- Toxic Score:\r\n  Text GOOD: \"48???\", \"wait what\", \"oh.\", \"that's not good\", \"bro.\", \"not surprised\", \"LMAO\"\r\n  Text BAD: \"Toxic Score: 48\" (label), \"Score reveal\" (label), \"Not the 💯 emoji\" (random reference — NOT a gut reaction), \"The number...\" (vague)\r\n  VO: React to the score. VARY THE STRUCTURE — do NOT always use \"Number? Comment.\" pattern. Pick a DIFFERENT structure each time from these:\r\n  VARY the structure every time. Mentioning the score number is OK sometimes, but NOT every time. Use different patterns:\r\n  WITH number (sometimes): \"Seventy-eight? Damn.\", \"Eighty-five and I'm still here... wow.\"\r\n  WITHOUT number (most of the time): \"I already knew it was bad but damn.\", \"My taste in men is genuinely criminal.\", \"Bro... that is not giving.\", \"Yeah no that checks out.\", \"Cool cool cool. Love that for me.\", \"Wow. Just... wow.\"\r\n\r\n- Soul Type:\r\n  Text GOOD: \"I can't 💀\", \"this is so him\", \"excuse me???\", \"not this again\"\r\n  Text BAD: \"Shifting Flame\" (that's the soul type NAME — screen already shows it), \"His Soul Type\" (label)\r\n  VO: React to something SPECIFIC from the soul type's DESCRIPTION paragraph shown on the card — NOT the name, NOT the traits list. The card has a personalized description that explains WHO this person is and HOW they behave. Pick one detail from that description and react to it.\r\n  VO GOOD: \"Bro it says he mirrors to manipulate.\", \"Love bombs then disappears... that's what he does.\", \"It says he uses charm as a defense mechanism.\"\r\n  VO BAD: \"The Dark Mirror. That's literally him.\" (just repeating the name — says nothing about the description), \"Emotionally unavailable? That checks out.\" (reacting to a trait label, not the description)\r\n\r\n- WTF Happening:\r\n  Text GOOD: \"it gets worse\", \"called out 💀\", \"the accuracy...\", \"I'm sick\"\r\n  Text BAD: \"Push-Pull Tango\" (that's the dynamic NAME), \"Category analysis\" (label), \"Intentions & Chemistry\" (section names)\r\n  VO: React to the PATTERN or the most shocking category insight.\r\n  VO examples: \"It says the pattern won't change.\", \"Why is this calling me out?\", \"I don't like how accurate this is.\"\r\n\r\n- Between The Lines:\r\n  Text GOOD: \"I missed this???\", \"bro WHAT\", \"the way I ignored this\", \"no no no\"\r\n  Text BAD: \"Red Flag detected\" (label), \"Decoded message\" (label)\r\n  VO: React to a specific decoded message being exposed.\r\n  VO examples: \"Wait he really said that? Bro.\", \"No because I missed that completely.\", \"The way I ignored that red flag...\"\r\n\r\n- Souls Together:\r\n  Text GOOD: \"we're THAT couple\", \"I need to sit down\", \"yeah that tracks\", \"help 💀\"\r\n  Text BAD: \"The Guilt Trap\" (that's the dynamic NAME), \"Your Souls Together\" (section name)\r\n  VO: React to the dynamic or power balance.\r\n  VO examples: \"We're literally that couple huh.\", \"The power balance... yeah that tracks.\", \"I need to sit down for this one.\"\r\n\r\n## ENGAGEMENT TRIGGERS\r\n\r\nEach clip should activate at least one of:\r\n- Micro shock (something unexpected)\r\n- Validation (viewer thinks \"same\")\r\n- Self-awareness (relatable self-drag)\r\n- Social invitation (makes viewer want to comment)\r\n\r\nThe goal: generate comment wars, saves, and shares. NOT explain the app.`;\r\n\r\n\r\n// ============================================================\r\n// USER PROMPT\r\n// ============================================================\r\n\r\n// Randomly pick a VO structure for Toxic Score to force variety\r\n// Mix of structures — some mention the number, most don't (forces variety)\r\nconst VO_SCORE_STRUCTURES = [\r\n  'Say the score number + a reaction: e.g. \"Seventy-eight? Damn.\" — short and punchy, number first.',\r\n  'Say the score number + denial: e.g. \"Eighty-five and I\\'m still here... wow.\" — number woven into a thought.',\r\n  'Statement first, NO number: e.g. \"I already knew it was bad but damn.\" — react without saying any number.',\r\n  'Dark humor, NO number: e.g. \"That\\'s lower than I expected honestly.\" — no number mentioned.',\r\n  'Trailing off, NO number: e.g. \"Bro... that is not giving.\" — no number.',\r\n  'Self-drag, NO number: e.g. \"My taste in men is genuinely criminal.\" — about HER, not the score.',\r\n  'Casual acceptance, NO number: e.g. \"Yeah no that checks out.\" — no number.',\r\n  'Sarcastic resignation, NO number: e.g. \"Cool cool cool. Love that for me.\" — no number.',\r\n  'Shock without score: e.g. \"Wait— that high? Nah I\\'m done.\" — references it being high but no exact number.',\r\n  'One-word gut punch: e.g. \"Wow. Just... wow.\" — pure emotion, no number.'\r\n];\r\nconst randomVOStructure = VO_SCORE_STRUCTURES[Math.floor(Math.random() * VO_SCORE_STRUCTURES.length)];\r\n\r\n// Only include data for active sections — prevents DeepSeek from leaking data across clips\r\nconst activeSectionIds = activeSections.map(s => s.id);\r\nconst scenarioLines = [\r\n  '- Toxic Score: ' + toxicScore + '/100 (higher = more toxic)',\r\n  '- Contact Name: ' + scenario.chat.contactName,\r\n  '- Person Name: ' + scenario.results.personName,\r\n  '- Relationship Status: ' + (randomRelStatus || 'unknown'),\r\n  '- Vibe: ' + vibe\r\n];\r\nif (activeSectionIds.includes('soul_type')) {\r\n  scenarioLines.push('- Person Soul Type: ' + scenario.results.personSoulType);\r\n}\r\nif (activeSectionIds.includes('souls_together')) {\r\n  scenarioLines.push('- User Soul Type: ' + scenario.results.userSoulType);\r\n  scenarioLines.push('- Dynamic: ' + scenario.results.dynamic.name);\r\n}\r\nscenarioLines.push('- Profile: ' + scenario.results.profileType + ' — \"' + scenario.results.profileSubtitle + '\"');\r\n\r\nconst userPrompt = `Generate all content copy for this scenario:\r\n\r\n## SCENARIO RESULTS\r\n${scenarioLines.join('\\n')}\r\n\r\n## BODY CLIP SECTIONS (generate exactly ${activeSections.length} bodyClips, in this order)\r\n\r\nCRITICAL: Each body clip's text and VO must ONLY reference data from THAT section's \"Actual data on screen\". Do NOT use data from other sections. The WTF Happening clip talks about categories (Intentions, Chemistry, Effort, etc.), NOT about dynamics or soul types.\r\n\r\n🎲 TOXIC SCORE VO — USE THIS EXACT STRUCTURE: ${randomVOStructure}\r\nFollow this structure closely. Do NOT default to \"Number? Comment.\" unless the structure above specifically tells you to mention the number.\r\n\r\n${sectionsForPrompt}\r\n\r\n## VO TEMPLATE\r\n${voFormatted}\r\n\r\n## HOOK TEXT EXAMPLES — WRITE ONE LIKE THESE\r\nHere are 5 hooks from our collection. Write one that fits RIGHT IN with these — same style, same length, same energy. It should feel like entry #6 in this list. Do NOT copy any example word-for-word, but it MUST be close in style and tone. If someone read all 6, they should think the same person wrote them all.\r\n${hookFormatted}\r\n\r\n## OUTRO CTA EXAMPLES — USE ONE OF THESE (DO NOT DEFAULT TO \"Block him?\")\r\nPick ONE of these 5 outro examples and use it EXACTLY or with minimal adaptation. BANNED outro: \"Block him?\" — this is overused, NEVER generate it. Pick a DIFFERENT one each time. Your outroVO should be a natural spoken version of the outroText.\r\n${outroFormatted}\r\n\r\n## SOCIAL COPY EXAMPLES (for style reference)\r\n${socialFormatted}\r\n\r\nGenerate the content copy JSON now.`;\r\n\r\nreturn [{\r\n  json: {\r\n    systemPrompt,\r\n    userPrompt,\r\n    scenario,\r\n    // Outro category selection (override Gemini's output in Validate Copy)\r\n    selectedOutroCategory,\r\n    selectedOutroText,\r\n    selectedOutroVO,\r\n  }\r\n}];\r\n"
      },
      "id": "82fb1418-d425-4ff0-af83-8d8f61f278c9",
      "name": "Build Copy Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        16
      ]
    },
    {
      "parameters": {},
      "id": "7cb7ee58-9670-464d-b577-267bebf127bd",
      "name": "Error: Invalid Scenario",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2336,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Validate Copy\r\n// Validates the Gemini content copy response (new structure with bodyClips)\r\n// Mode: Run Once for All Items\r\n\r\n// Basic LLM Chain outputs { text: \"...\" } with the raw LLM response\r\nconst llmOutput = $input.first().json;\r\nconst { scenario } = $('Build Copy Prompt').first().json;\r\nconst { bodyClipCount } = $('Select Concept').first().json;\r\n\r\n// --- JSON Repair utility ---\r\nfunction repairJson(raw) {\r\n  let s = raw;\r\n  s = s.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\r\n  const firstBrace = s.indexOf('{');\r\n  const lastBrace = s.lastIndexOf('}');\r\n  if (firstBrace !== -1 && lastBrace > firstBrace) {\r\n    s = s.substring(firstBrace, lastBrace + 1);\r\n  }\r\n  s = s.replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]/g, '');\r\n  let result = '';\r\n  let inString = false;\r\n  let escaped = false;\r\n  for (let i = 0; i < s.length; i++) {\r\n    const ch = s[i];\r\n    if (escaped) { result += ch; escaped = false; continue; }\r\n    if (ch === '\\\\') { result += ch; escaped = true; continue; }\r\n    if (ch === '\"') { inString = !inString; result += ch; continue; }\r\n    if (inString && ch === '\\n') { result += '\\\\n'; continue; }\r\n    if (inString && ch === '\\r') { continue; }\r\n    result += ch;\r\n  }\r\n  s = result;\r\n  s = s.replace(/,\\s*([\\]}])/g, '$1');\r\n  s = s.replace(/([^\\\\])\"\"/g, '$1\\\\\"');\r\n  return s;\r\n}\r\n\r\nlet copy;\r\ntry {\r\n  const raw = llmOutput.output || llmOutput.text || llmOutput;\r\n\r\n  if (typeof raw === 'object' && raw !== null) {\r\n    copy = raw;\r\n  } else {\r\n    copy = JSON.parse(repairJson(String(raw)));\r\n  }\r\n} catch (e1) {\r\n  try {\r\n    const raw = llmOutput.output || llmOutput.text || llmOutput;\r\n    let repaired = repairJson(String(raw));\r\n    repaired = repaired.replace(/[\\u201C\\u201D\\u2018\\u2019]/g, '\"');\r\n    const posMatch = e1.message.match(/position (\\d+)/);\r\n    if (posMatch) {\r\n      const pos = parseInt(posMatch[1]);\r\n      repaired = repaired.substring(0, pos) + '\\\\' + repaired.substring(pos);\r\n    }\r\n    copy = JSON.parse(repaired);\r\n  } catch (e2) {\r\n    return [{ json: { valid: false, errors: ['JSON parse failed after repair: ' + e1.message], copy: null, scenario } }];\r\n  }\r\n}\r\n\r\nconst errors = [];\r\n\r\n// Character limit for all VOs (50 chars = ~3 seconds of natural speech)\r\nconst VO_CHAR_LIMIT = 50;\r\n// Hard limit — above this we auto-trim instead of failing\r\nconst VO_CHAR_HARD_LIMIT = 65;\r\n\r\n// Auto-trim VOs that exceed the character limit (Gemini can't count chars)\r\nfunction trimVO(vo) {\r\n  // Allow small grace (up to 55) — only actively trim above that\r\n  const TRIM_THRESHOLD = 55;\r\n  if (!vo || vo.length <= TRIM_THRESHOLD) return vo;\r\n\r\n  let trimmed = vo;\r\n\r\n  // Step 1: Remove trailing filler words\r\n  const TRAILING_FILLERS = [', lol', ' lol', ', honestly', ' honestly', ', like', ' tho', ', bro', ' fr', ', ngl'];\r\n  for (const filler of TRAILING_FILLERS) {\r\n    if (trimmed.toLowerCase().endsWith(filler) || trimmed.toLowerCase().endsWith(filler + '.')) {\r\n      trimmed = trimmed.substring(0, trimmed.length - (trimmed.toLowerCase().endsWith(filler + '.') ? filler.length + 1 : filler.length)).trim();\r\n      // Re-add period if it makes sense\r\n      if (!/[.!?—…]$/.test(trimmed)) trimmed += '.';\r\n      if (trimmed.length <= VO_CHAR_LIMIT) return trimmed;\r\n    }\r\n  }\r\n\r\n  // Step 2: If two sentences, try keeping just the first\r\n  const sentenceBreak = trimmed.match(/^(.{20,}?[.!?])\\s+/);\r\n  if (sentenceBreak && sentenceBreak[1].length <= VO_CHAR_LIMIT && sentenceBreak[1].length >= 20) {\r\n    return sentenceBreak[1];\r\n  }\r\n\r\n  // Step 3: Cut at last word boundary before limit and add ellipsis\r\n  if (trimmed.length > VO_CHAR_LIMIT) {\r\n    const cut = trimmed.substring(0, VO_CHAR_LIMIT - 1);\r\n    const lastSpace = cut.lastIndexOf(' ');\r\n    if (lastSpace > 20) {\r\n      trimmed = cut.substring(0, lastSpace).replace(/[,.\\s]+$/, '') + '—';\r\n    }\r\n  }\r\n\r\n  return trimmed;\r\n}\r\n\r\n// Valid body clip section IDs\r\nconst ALL_SECTION_IDS = ['toxic_score', 'soul_type', 'wtf_happening', 'between_the_lines', 'souls_together'];\r\nconst expectedCount = Math.min(5, Math.max(2, bodyClipCount || 3));\r\n\r\n// Hook text (max 8 words for short punchy overlay)\r\nif (!copy.hookText || typeof copy.hookText !== 'string') {\r\n  errors.push('Missing hookText');\r\n} else if (copy.hookText.split(' ').length > 10) {\r\n  errors.push('hookText too long: ' + copy.hookText.split(' ').length + ' words (max 8-10)');\r\n}\r\n\r\n// Hook VO (50 chars max for 3s speech) — auto-trim if over limit\r\nif (!copy.hookVO || typeof copy.hookVO !== 'string') {\r\n  errors.push('Missing hookVO');\r\n} else {\r\n  const originalHookVO = copy.hookVO;\r\n  copy.hookVO = trimVO(copy.hookVO);\r\n  if (originalHookVO !== copy.hookVO) {\r\n    errors.push('hookVO auto-trimmed: \"' + originalHookVO + '\" → \"' + copy.hookVO + '\" (auto-fixed)');\r\n  }\r\n  if (copy.hookVO.length > VO_CHAR_HARD_LIMIT) {\r\n    errors.push('hookVO too long even after trim: ' + copy.hookVO.length + ' chars (max ' + VO_CHAR_LIMIT + '). Text: \"' + copy.hookVO + '\"');\r\n  }\r\n}\r\n\r\n// Body clips\r\nif (!Array.isArray(copy.bodyClips)) {\r\n  errors.push('Missing or invalid bodyClips array');\r\n} else {\r\n  if (copy.bodyClips.length !== expectedCount) {\r\n    errors.push('Expected ' + expectedCount + ' bodyClips, got ' + copy.bodyClips.length);\r\n  }\r\n  copy.bodyClips.forEach((clip, i) => {\r\n    if (!clip.section) {\r\n      errors.push('Body clip ' + i + ': missing section ID');\r\n    } else if (!ALL_SECTION_IDS.includes(clip.section)) {\r\n      errors.push('Body clip ' + i + ': invalid section \"' + clip.section + '\"');\r\n    }\r\n    if (!clip.text || typeof clip.text !== 'string') {\r\n      errors.push('Body clip ' + i + ' (' + (clip.section || '?') + '): missing text');\r\n    } else if (clip.text.split(' ').length > 8) {\r\n      errors.push('Body clip ' + i + ' (' + (clip.section || '?') + '): text too long (' + clip.text.split(' ').length + ' words, max 6)');\r\n    }\r\n    if (!clip.vo || typeof clip.vo !== 'string') {\r\n      errors.push('Body clip ' + i + ' (' + (clip.section || '?') + '): missing vo');\r\n    } else {\r\n      const originalVO = clip.vo;\r\n      clip.vo = trimVO(clip.vo);\r\n      if (originalVO !== clip.vo) {\r\n        errors.push('Body clip ' + i + ' (' + (clip.section || '?') + '): vo auto-trimmed: \"' + originalVO + '\" → \"' + clip.vo + '\" (auto-fixed)');\r\n      }\r\n      if (clip.vo.length > VO_CHAR_HARD_LIMIT) {\r\n        errors.push('Body clip ' + i + ' (' + (clip.section || '?') + '): vo too long even after trim (' + clip.vo.length + ' chars, max ' + VO_CHAR_LIMIT + '). Text: \"' + clip.vo + '\"');\r\n      }\r\n    }\r\n  });\r\n\r\n  // Ensure required sections are present\r\n  const presentSections = copy.bodyClips.map(c => c.section);\r\n  if (!presentSections.includes('toxic_score')) {\r\n    errors.push('Missing required body clip section: toxic_score');\r\n  }\r\n  if (!presentSections.includes('soul_type')) {\r\n    errors.push('Missing required body clip section: soul_type');\r\n  }\r\n}\r\n\r\n// ═══ Outro category override from pool selection (Build Copy Prompt) ═══\r\nconst { selectedOutroCategory, selectedOutroText, selectedOutroVO: selectedOutroVOText } = $('Build Copy Prompt').first().json;\r\nif (selectedOutroText) {\r\n  copy.outroText = selectedOutroText;\r\n  copy.outroVO = selectedOutroVOText || selectedOutroText;\r\n}\r\n// Tag the copy JSON with the selected category for Workflow 3 routing\r\ncopy.outroCategory = selectedOutroCategory || 'organic';\r\n\r\n// Outro text (max 7 words — pool examples can be longer)\r\nif (!copy.outroText || typeof copy.outroText !== 'string') {\r\n  errors.push('Missing outroText');\r\n}\r\n\r\n// Outro VO (50 chars max for 3s speech) — auto-trim if over limit\r\nif (!copy.outroVO || typeof copy.outroVO !== 'string') {\r\n  errors.push('Missing outroVO');\r\n} else {\r\n  const originalOutroVO = copy.outroVO;\r\n  copy.outroVO = trimVO(copy.outroVO);\r\n  if (originalOutroVO !== copy.outroVO) {\r\n    errors.push('outroVO auto-trimmed: \"' + originalOutroVO + '\" → \"' + copy.outroVO + '\" (auto-fixed)');\r\n  }\r\n  if (copy.outroVO.length > VO_CHAR_HARD_LIMIT) {\r\n    errors.push('outroVO too long even after trim: ' + copy.outroVO.length + ' chars (max ' + VO_CHAR_LIMIT + '). Text: \"' + copy.outroVO + '\"');\r\n  }\r\n}\r\n\r\n// Social caption\r\nif (!copy.socialCaption || typeof copy.socialCaption !== 'string') {\r\n  errors.push('Missing socialCaption');\r\n} else if (!copy.socialCaption.toLowerCase().includes('#toxicornah')) {\r\n  copy.socialCaption = copy.socialCaption.trim() + ' #toxicornah';\r\n  errors.push('socialCaption was missing #toxicornah (auto-fixed)');\r\n}\r\n\r\nconst valid = errors.filter(e => !e.includes('auto-fixed')).length === 0;\r\n\r\nreturn [{\r\n  json: { valid, errors, copy, scenario }\r\n}];\r\n"
      },
      "id": "844b0773-ddcc-44b5-972f-869a890df29e",
      "name": "Validate Copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "node_022",
              "leftValue": "={{ $input.first().json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7dc7afe1-261d-4c1b-be21-b8c1a9b9011e",
      "name": "Copy Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3120,
        16
      ]
    },
    {
      "parameters": {},
      "id": "8362bdaf-a6ca-4a2a-90ca-488d9e27f5e6",
      "name": "Error: Invalid Copy",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3120,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Prepare Airtable Save\n// Formats the data for saving to the Scenarios table\n// Mode: Run Once for All Items\n\nconst { concept, vibe, appStyle, scenarioName } = $('Select Concept').first().json;\nconst { scenario, copy } = $('Validate Copy').first().json;\n\nreturn [{\n  json: {\n    scenario_name: scenarioName,\n    concept_id: [concept.id],\n    vibe: vibe,\n    app_style: appStyle,\n    scenario_json: JSON.stringify(scenario),\n    generated_hook_text: copy.hookText,\n    generated_outro_text: copy.outroText,\n    generated_vo_script: JSON.stringify(copy.voScript),\n    generated_caption_plan: JSON.stringify(copy.captionPlan),\n    generated_social_caption: copy.socialCaption,\n    status: 'approved'\n  }\n}];\n"
      },
      "id": "9b43ad10-02de-48bc-a9d7-78f3433e00ac",
      "name": "Prepare Airtable Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblcQaMBBPcOAy0NF",
          "mode": "list",
          "cachedResultName": "Scenarios",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblcQaMBBPcOAy0NF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "generated_copy_json": "={{ JSON.stringify($('Validate Copy').first().json.copy) }}",
            "scenario_name": "={{ $('Select Concept').first().json.scenarioName }}",
            "concept_id": "={{ [$('Select Concept').first().json.concept.id] }}",
            "vibe": "={{ $('Select Concept').first().json.vibe }}",
            "app_style": "={{ $('Select Concept').first().json.appStyle }}",
            "scenario_json": "={{ JSON.stringify($('Validate Copy').first().json.scenario) }}",
            "generated_hook_text": "={{ $('Validate Copy').first().json.copy.hookText }}",
            "generated_outro_text": "={{ $('Validate Copy').first().json.copy.outroText }}",
            "generated_social_caption": "={{ $('Validate Copy').first().json.copy.socialCaption }}",
            "status": "draft"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scenario_name",
              "displayName": "scenario_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "concept_id",
              "displayName": "concept_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "vibe",
              "displayName": "vibe",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "toxic",
                  "value": "toxic"
                },
                {
                  "name": "wholesome",
                  "value": "wholesome"
                },
                {
                  "name": "mixed",
                  "value": "mixed"
                },
                {
                  "name": "decoded",
                  "value": "decoded"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "app_style",
              "displayName": "app_style",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "imessage",
                  "value": "imessage"
                },
                {
                  "name": "instagram",
                  "value": "instagram"
                },
                {
                  "name": "whatsapp",
                  "value": "whatsapp"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scenario_json",
              "displayName": "scenario_json",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generated_hook_text",
              "displayName": "generated_hook_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generated_outro_text",
              "displayName": "generated_outro_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generated_vo_script",
              "displayName": "generated_vo_script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generated_caption_plan",
              "displayName": "generated_caption_plan",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generated_social_caption",
              "displayName": "generated_social_caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "approved",
                  "value": "approved"
                },
                {
                  "name": "clips_needed",
                  "value": "clips_needed"
                },
                {
                  "name": "ready",
                  "value": "ready"
                },
                {
                  "name": "used",
                  "value": "used"
                },
                {
                  "name": "archived",
                  "value": "archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Body Clips",
              "displayName": "Body Clips",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Runs",
              "displayName": "Video Runs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Runs",
              "displayName": "Video Runs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hook_file_id",
              "displayName": "hook_file_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generated_copy_json",
              "displayName": "generated_copy_json",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "95e20764-4553-4ac7-858c-7257e912c811",
      "name": "Save Scenario",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3568,
        -96
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Format Telegram Message\n// Builds the Telegram approval message + inline keyboard\n// Mode: Run Once for All Items\n\nconst { concept, vibe, appStyle, scenarioName } = $('Select Concept').first().json;\nconst { scenario, copy } = $('Validate Copy').first().json;\n\nconst results = scenario.results;\n\n// Toxic Score = inverted health (higher = more toxic)\nconst toxicScore = 100 - results.overallScore;\n\n// Section name mapping for display\nconst SECTION_NAMES = {\n  toxic_score: 'Toxic Score',\n  soul_type: 'His Soul Type',\n  wtf_happening: 'WTF Is Happening',\n  between_the_lines: 'Between The Lines',\n  souls_together: 'Your Souls Together'\n};\n\n// Build body clips section for caption\nconst bodyClipLines = copy.bodyClips.map((clip, i) => {\n  const name = SECTION_NAMES[clip.section] || clip.section;\n  return '\\u{1F3AC} *Clip ' + (i + 1) + ': ' + name + '*\\n'\n    + '\\u{1F4DD} Text: \"' + clip.text + '\"\\n'\n    + '\\u{1F5E3} VO: \"' + clip.vo + '\"';\n}).join('\\n\\n');\n\nconst caption = '\\u{1F3AC} *NEW SCENARIO*\\n\\n'\n  + '\\u{1F4CB} *' + concept.concept_name + '*  |  ' + vibe.toUpperCase() + '  |  ' + appStyle + '\\n'\n  + '\\u{1F194} ' + scenarioName + '\\n\\n'\n  + '\\u{1F4CA} *Toxic Score:* ' + toxicScore + '/100\\n\\n'\n  + '\\u{1F3AD} *Soul Types:*\\n'\n  + results.personName + ': ' + results.personSoulType + '\\n'\n  + 'User: ' + results.userSoulType + '\\n\\n'\n  + '\\u{1F3F7} *Profile:* ' + results.profileType + ' \\u2014 \"' + results.profileSubtitle + '\"\\n\\n'\n  + '\\u26A1 *Dynamic:* ' + results.dynamic.name + '\\n\\n'\n  + '\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\n\\n'\n  + '\\u{1F3A4} *HOOK*\\n'\n  + '\\u{1F4DD} Text: \"' + copy.hookText + '\"\\n'\n  + '\\u{1F5E3} VO: \"' + copy.hookVO + '\"\\n\\n'\n  + bodyClipLines + '\\n\\n'\n  + '\\u{1F3A4} *OUTRO*\\n'\n  + '\\u{1F4DD} Text: \"' + copy.outroText + '\"\\n'\n  + '\\u{1F5E3} VO: \"' + copy.outroVO + '\"';\n\n// Inline keyboard for approval\nconst replyMarkup = {\n  inline_keyboard: [\n    [\n      { text: '\\u2705 Approve', callback_data: 'approve_' + scenarioName },\n      { text: '\\u{1F504} Redo', callback_data: 'redo_' + scenarioName },\n      { text: '\\u274C Skip', callback_data: 'skip_' + scenarioName }\n    ]\n  ]\n};\n\n// Pass through binary data from Take Screenshot node so Send Photo can access it\nreturn [{\n  json: {\n    caption,\n    replyMarkup,\n    scenarioName,\n    scenario,\n    copy\n  },\n  binary: $input.first().binary\n}];\n"
      },
      "id": "8e16bff2-3519-4a3b-b6e5-4731603ce364",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        -96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1552,
        112
      ],
      "id": "b26713a2-8b14-4ad3-b41e-012520784904",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2576,
        16
      ],
      "id": "4e1657e4-7ce3-4413-beb3-a96b07376b3c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * 6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        32
      ],
      "id": "be1945d4-aa8d-4087-a53a-b029a7a66502",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// NODE: Prepare Screenshot Request\n// Prepares the scenario JSON for the screenshot HTTP server\n// Mode: Run Once for All Items\n\nconst scenarioJson = $('Validate Scenario').first().json.scenario;\nconst scenarioName = $('Select Concept').first().json.scenarioName;\n\nreturn [{\n  json: {\n    scenarioJson,\n    scenarioName\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        -96
      ],
      "id": "8d4f806c-c6c1-4655-9dc9-381a4f5c33a9",
      "name": "Prepare Screenshot"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "5120450288",
        "binaryData": true,
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "callback_data": "={{ 'approve_' + $json.scenarioName }}"
                    }
                  },
                  {
                    "text": "Redo",
                    "additionalFields": {
                      "callback_data": "={{ 'redo_' + $json.scenarioName }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "caption": "={{ $('Format Telegram Message').item.json.caption }}",
          "parse_mode": "Markdown"
        }
      },
      "id": "9ee15d01-f284-4213-acd6-f1ea4a9a54b3",
      "name": "Send Photo (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4416,
        -96
      ],
      "webhookId": "697732a4-9608-4bb8-81c4-6c76735f83a1",
      "credentials": {
        "telegramApi": {
          "id": "LnY46hGLXjQCETpn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"id\": \"toxic-example-123\",\n  \"chat\": {\n    \"contactName\": \"Jake\",\n    \"appStyle\": \"imessage\",\n    \"messages\": [\n      {\"sender\": \"them\", \"text\": \"hey\", \"time\": \"9:41 AM\"},\n      {\"sender\": \"me\", \"text\": \"hi\", \"time\": \"9:42 AM\"}\n    ]\n  },\n  \"results\": {\n    \"personName\": \"Him\",\n    \"personGender\": \"male\",\n    \"overallScore\": 25,\n    \"warmthScore\": 20,\n    \"communicationScore\": 25,\n    \"dramaScore\": 70,\n    \"distanceScore\": 80,\n    \"passionScore\": 15,\n    \"profileType\": \"Red Flag Alert\",\n    \"profileSubtitle\": \"Run don't walk\",\n    \"profileDescription\": \"A pattern of emotional withdrawal.\",\n    \"personSoulType\": \"male-ice-charmer\",\n    \"userSoulType\": \"female-love-rush\",\n    \"personDescription\": \"Cold and calculating personality.\",\n    \"personTraits\": [\"Distant\", \"Avoidant\", \"Charming\", \"Calculated\", \"Detached\"],\n    \"userDescription\": \"Emotionally open and expressive.\",\n    \"userTraits\": [\"Empathetic\", \"Intense\", \"Hopeful\", \"Vulnerable\", \"Passionate\"],\n    \"categories\": {\n      \"intentions\": {\"description\": \"His intentions seem unclear.\"},\n      \"chemistry\": {\"description\": \"One-sided chemistry.\"},\n      \"effort\": {\"description\": \"Minimal effort shown.\"},\n      \"redFlagsGreenFlags\": {\"description\": \"Multiple red flags.\"},\n      \"trajectory\": {\"description\": \"Heading nowhere.\"}\n    },\n    \"messageInsights\": [\n      {\n        \"message\": \"hey\",\n        \"title\": \"Low Effort Opener\",\n        \"tag\": \"RED FLAG\",\n        \"description\": \"Bare minimum energy.\",\n        \"solution\": \"Look for someone who matches your energy.\"\n      }\n    ],\n    \"dynamic\": {\n      \"name\": \"The Chase\",\n      \"subtitle\": \"You chase, he retreats\",\n      \"whyThisHappens\": \"Power imbalance.\",\n      \"patternBreak\": \"Stop initiating.\",\n      \"powerBalance\": 25\n    }\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        -192
      ],
      "id": "fed23528-a267-47f2-abd3-3668942e0dc4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3456/screenshot",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.scenarioJson) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3984,
        -96
      ],
      "id": "ddd85f7c-ea89-462b-819c-5b6fad9455cf",
      "name": "Take Screenshot"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1552,
        320
      ],
      "id": "53511179-3a0c-4920-ac66-9394ea067a1f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nGRxFqRlmP92LpZE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2576,
        192
      ],
      "id": "bf0ab432-2271-437f-816f-ae725f337417",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "nGRxFqRlmP92LpZE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1616,
        -32
      ],
      "id": "5a547db8-06e4-4959-b59c-a6619abefc10",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "nGRxFqRlmP92LpZE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        192
      ],
      "id": "d64c9e2c-1b6e-4c5f-8cfb-fcb64740ee5b",
      "name": "When Executed by Another Workflow"
    },
    {
      "id": "f7a3e1b2-outro-examples-node",
      "name": "Get Outro Examples",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1232,
        112
      ],
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl9lMPjhorITKcN1",
          "mode": "id"
        },
        "filterByFormula": "{is_active} = TRUE()",
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Active Concepts": {
      "main": [
        [
          {
            "node": "Select Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Concept": {
      "main": [
        [
          {
            "node": "Get Body Clip Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Body Clip Templates": {
      "main": [
        [
          {
            "node": "Get Caption Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Caption Templates": {
      "main": [
        [
          {
            "node": "Get VO Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VO Templates": {
      "main": [
        [
          {
            "node": "Get Hook Texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hook Texts": {
      "main": [
        [
          {
            "node": "Get Social Examples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Social Examples": {
      "main": [
        [
          {
            "node": "Get Outro Examples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scenario Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Scenario": {
      "main": [
        [
          {
            "node": "Scenario Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenario Valid?": {
      "main": [
        [
          {
            "node": "Build Copy Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Copy Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Copy": {
      "main": [
        [
          {
            "node": "Copy Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Valid?": {
      "main": [
        [
          {
            "node": "Prepare Airtable Save",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Airtable Save": {
      "main": [
        [
          {
            "node": "Save Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Scenario": {
      "main": [
        [
          {
            "node": "Prepare Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Validate Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Validate Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active Concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Screenshot": {
      "main": [
        [
          {
            "node": "Take Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send Photo (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Take Screenshot": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Active Concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Outro Examples": {
      "main": [
        [
          {
            "node": "Build Scenario Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ba98e8d4-8645-4301-bbf0-22ae0f1e1b1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ac2834f06c1f2877b895f0b14af7f505db182392bdf8fe2cc40fc00a3d79632"
  },
  "id": "cNliMecIH6Yg1tGj",
  "tags": [
    {
      "updatedAt": "2026-02-11T21:29:53.448Z",
      "createdAt": "2026-02-11T21:29:53.448Z",
      "id": "zwksa6JlUNkobY51",
      "name": "ToxicOrNah"
    }
  ]
}