n8n/workflow-scenario-generator.json
{
  "name": "ToxicOrNah - Scenario Generator",
  "nodes": [
    {
      "parameters": {
        "content": "## ToxicOrNah - Scenario Generator\n\n### Setup required:\n1. **Airtable**: Assign your Airtable Personal Access Token credential to all Airtable nodes\n2. **DeepSeek**: Create a DeepSeek credential (API key) and assign to both DeepSeek Chat Model sub-nodes\n3. **Telegram**: Create a Telegram Bot API credential and assign to the Send node. Set `TELEGRAM_CHAT_ID` in Settings â Variables\n\n### How to use:\n- Click \"Test workflow\" to generate 1 scenario\n- Check Telegram for approval message with Approve/Redo/Skip buttons\n- Use the companion \"Telegram Callback Handler\" workflow to process button clicks",
        "height": 420,
        "width": 520
      },
      "id": "4112d1bd-d74e-40c5-838e-48de3e8ed398",
      "name": "Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        -496
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblhhTVI4EYofdY32",
          "mode": "list",
          "cachedResultName": "Video Concepts",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblhhTVI4EYofdY32"
        },
        "filterByFormula": "{is_active} = TRUE()",
        "options": {}
      },
      "id": "ffa89b23-fb10-4665-a62f-08f0f1264063",
      "name": "Get Active Concepts",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -208,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Select Concept\n// Weighted random concept pick + vibe + appStyle + gender selection\n// Mode: Run Once for All Items\n\nconst concepts = $input.all().map(item => item.json);\n\nif (concepts.length === 0) {\n  throw new Error('No active concepts found in Airtable');\n}\n\n// --- Weighted random selection ---\nfunction weightedRandom(items, weightField) {\n  const totalWeight = items.reduce((sum, item) => sum + (Number(item[weightField]) || 1), 0);\n  let random = Math.random() * totalWeight;\n  for (const item of items) {\n    random -= (Number(item[weightField]) || 1);\n    if (random <= 0) return item;\n  }\n  return items[items.length - 1];\n}\n\nconst concept = weightedRandom(concepts, 'weight');\n\n// --- Vibe selection (toxic only â most viral) ---\nfunction pickVibe() {\n  return 'toxic';\n}\n\n// --- App style (iMessage only for now) ---\nfunction pickAppStyle() {\n  return 'imessage';\n}\n\n// --- Gender: ALWAYS male (girl analyzes a guy) ---\nconst personGender = 'male';\n\n// Use forced_vibe from Airtable if set, otherwise random\nconst vibe = concept.forced_vibe || pickVibe();\nconst appStyle = pickAppStyle();\nconst scenarioName = vibe + '-' + concept.concept_id + '-' + Date.now();\n\n// Body clip count from Airtable (default 3, min 2, max 5)\nconst bodyClipCount = Math.min(5, Math.max(2, Number(concept.body_clip_count) || 3));\n\nreturn [{\n  json: {\n    concept,\n    vibe,\n    appStyle,\n    personGender,\n    scenarioName,\n    conceptId: concept.concept_id,\n    bodyClipCount\n  }\n}];\n"
      },
      "id": "d599f18d-cf05-4e6e-8bd1-b15b60b037c0",
      "name": "Select Concept",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        112
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblTcEPaDKKOyKGoL",
          "mode": "list",
          "cachedResultName": "Body Clip Templates",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblTcEPaDKKOyKGoL"
        },
        "filterByFormula": "={concept_id} = \"{{ $(\"Select Concept\").first().json.conceptId }}\"",
        "options": {}
      },
      "id": "73801eb7-482a-4bd9-a324-ef401df90acc",
      "name": "Get Body Clip Templates",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblxhuowMWTPSQVdb",
          "mode": "list",
          "cachedResultName": "Caption Templates",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblxhuowMWTPSQVdb"
        },
        "filterByFormula": "={concept_id} = \"{{ $(\"Select Concept\").first().json.conceptId }}\"",
        "options": {}
      },
      "id": "ce77c992-f218-47f8-947d-60ef00b83eda",
      "name": "Get Caption Templates",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        464,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblpyfkR7OdRiwSdo",
          "mode": "list",
          "cachedResultName": "VO Templates",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblpyfkR7OdRiwSdo"
        },
        "filterByFormula": "={concept_id} = \"{{ $(\"Select Concept\").first().json.conceptId }}\"",
        "options": {}
      },
      "id": "65ad277c-e766-4915-8ccb-0b46e9c45950",
      "name": "Get VO Templates",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        688,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblmCU1lVXEPqP8zK",
          "mode": "list",
          "cachedResultName": "Hook Text Pool",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblmCU1lVXEPqP8zK"
        },
        "filterByFormula": "=FIND(\"{{ $(\"Select Concept\").first().json.conceptId }}\", ARRAYJOIN({concept_id})) > 0",
        "options": {}
      },
      "id": "cfa239fb-f85f-42bc-8636-aba1b29a2ae6",
      "name": "Get Hook Texts",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        912,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblU1iYIOURfRYdfF",
          "mode": "list",
          "cachedResultName": "Social Copy Examples",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblU1iYIOURfRYdfF"
        },
        "filterByFormula": "=FIND(\"{{ $(\"Select Concept\").first().json.conceptId }}\", ARRAYJOIN({concept_id})) > 0",
        "options": {}
      },
      "id": "409aeaef-eae2-4807-8c2a-d0408aeec5fc",
      "name": "Get Social Examples",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Build Scenario Prompt\r\n// Assembles the Gemini prompt from concept data + all templates\r\n// Mode: Run Once for All Items\r\n\r\nconst { concept, vibe, appStyle, personGender, scenarioName } = $('Select Concept').first().json;\r\n\r\n// Random relationship status for content mode\r\nconst RELATIONSHIP_STATUSES = ['crush', 'talking', 'situationship', 'boyfriend', 'ex'];\r\nconst randomRelStatus = RELATIONSHIP_STATUSES[Math.floor(Math.random() * RELATIONSHIP_STATUSES.length)];\r\n\r\n// Random male first names (Gen Z age range, diverse)\r\nconst MALE_NAMES = [\r\n  'Liam', 'Noah', 'Ethan', 'Mason', 'Lucas', 'Oliver', 'Aiden', 'Elijah',\r\n  'James', 'Logan', 'Alex', 'Ryan', 'Dylan', 'Tyler', 'Jayden', 'Brandon',\r\n  'Caleb', 'Nathan', 'Adrian', 'Marcus', 'Kai', 'Jace', 'Ryder', 'Dante',\r\n  'Mateo', 'Nico', 'Zion', 'Theo', 'Miles', 'Leo'\r\n];\r\nconst randomName = MALE_NAMES[Math.floor(Math.random() * MALE_NAMES.length)];\r\n\r\nconst bodyClipTemplates = $('Get Body Clip Templates').all().map(i => i.json);\r\nconst captionTemplates = $('Get Caption Templates').all().map(i => i.json);\r\nconst voTemplates = $('Get VO Templates').all().map(i => i.json);\r\nconst hookTexts = $('Get Hook Texts').all().map(i => i.json);\r\nconst socialExamples = $('Get Social Examples').all().map(i => i.json);\r\n\r\n// Format body clip templates for prompt context\r\nconst bodyClipsFormatted = bodyClipTemplates\r\n  .sort((a, b) => Number(a.clip_index) - Number(b.clip_index))\r\n  .map(t => {\r\n    const group = t.character_group ? ' [' + t.character_group + ']' : '';\r\n    return '  Clip ' + t.clip_index + ': \"' + t.clip_label + '\" (' + t.app_section + ') - ' + t.min_duration_sec + '-' + t.max_duration_sec + 's' + group;\r\n  })\r\n  .join('\\n');\r\n\r\n// ============================================================\r\n// SYSTEM PROMPT\r\n// ============================================================\r\n\r\nconst systemPrompt = `You are a scenario generator for \"Toxic or Nah,\" a relationship chat analysis app. You create realistic fake text conversations between two people, plus complete analysis results that the app would display.\r\n\r\nYour output must be a single valid JSON object matching the ContentScenario interface exactly. No markdown, no code fences, no explanation — ONLY the JSON.\r\n\r\n## CONTENT SCENARIO INTERFACE\r\n\r\n{\r\n  \"id\": string,\r\n  \"chat\": {\r\n    \"contactName\": string,\r\n    \"appStyle\": \"imessage\" | \"instagram\" | \"whatsapp\",\r\n    \"messages\": [\r\n      {\r\n        \"sender\": \"them\" | \"me\",\r\n        \"text\": string,\r\n        \"time\"?: string\r\n      }\r\n    ]\r\n  },\r\n  \"results\": {\r\n    \"personName\": \"Him\" | \"Her\",\r\n    \"personGender\": \"male\" | \"female\",\r\n    \"overallScore\": number,\r\n    \"warmthScore\": number,\r\n    \"communicationScore\": number,\r\n    \"dramaScore\": number,\r\n    \"distanceScore\": number,\r\n    \"passionScore\": number,\r\n    \"profileType\": string,\r\n    \"profileSubtitle\": string,\r\n    \"profileDescription\": string (1 SHORT sentence, MAX 15 words),\r\n    \"personSoulType\": string,\r\n    \"userSoulType\": string,\r\n    \"personDescription\": string,\r\n    \"personTraits\": [string, string, string, string, string],\r\n    \"userDescription\": string,\r\n    \"userTraits\": [string, string, string, string, string],\r\n    \"categories\": {\r\n      \"intentions\":        { \"description\": string },\r\n      \"chemistry\":         { \"description\": string },\r\n      \"effort\":            { \"description\": string },\r\n      \"redFlagsGreenFlags\": { \"description\": string },\r\n      \"trajectory\":        { \"description\": string }\r\n    },\r\n    \"messageInsights\": [\r\n      {\r\n        \"message\": string (MUST BE EXACT COPY from chat.messages[].text — NEVER invent new messages),\r\n        \"title\": string,\r\n        \"tag\": \"RED FLAG\" | \"GREEN FLAG\" | \"DECODED\",\r\n        \"description\": string (40-60 chars, short preview of the solution insight),\r\n        \"solution\": string (MAX 2 sentences, under 30 words — \"What It Really Means\" psychological decoding)\r\n      }\r\n    ],\r\n    \"dynamic\": {\r\n      \"name\": string,\r\n      \"subtitle\": string,\r\n      \"whyThisHappens\": string,\r\n      \"patternBreak\": string,\r\n      \"powerBalance\": number\r\n    }\r\n  }\r\n}\r\n\r\n## VALID SOUL TYPE IDS\r\n\r\n### Male (use when personGender = \"male\"):\r\n- \"male-untamable\" — The Untamable (Wild Energy): free-spirited, commitment-phobic, thrilling but unreliable\r\n- \"male-gentle-flame\" — The Gentle Flame (Warm Energy): genuinely kind, emotionally present, warmth radiates\r\n- \"male-silent-abyss\" — The Silent Abyss (Abyss Energy): deep but unreachable, pulls you in then disappears\r\n- \"male-faded-crown\" — The Faded Crown (Hollow Energy): once great, now empty promises, living off past glory\r\n- \"male-sweet-poison\" — The Sweet Poison (Toxic Energy): charming on surface, slowly toxic underneath\r\n- \"male-wounded-prince\" — The Wounded Prince (Martyr Energy): uses his pain as a weapon, guilt-trips\r\n- \"male-burning-promise\" — The Burning Promise (Explosive Energy): intense, passionate, but volatile and unpredictable\r\n- \"male-final-silence\" — The Final Silence (Phantom Energy): ghoster, slow fader, disappears without explanation\r\n- \"male-dark-mirror\" — The Dark Mirror (Toxic Energy): reflects your insecurities back, gaslighter\r\n- \"male-ice-charmer\" — The Ice Charmer (Frozen Energy): cold but magnetic, minimal effort maximum control\r\n- \"male-silent-choke\" — The Silent Choke (Constrictor Energy): controlling through silence and withdrawal\r\n- \"male-shifting-flame\" — The Shifting Flame (Unstable Energy): hot and cold, inconsistent, keeps you guessing\r\n- \"male-chameleon\" — The Chameleon (Shapeshifter Energy): becomes whoever you want, no real identity\r\n- \"male-star-collector\" — The Star Collector (Collector Energy): charms everyone, you're not special to him\r\n\r\n### Female (use when personGender = \"female\"):\r\n- \"female-love-rush\" — The Love Rush (Rush Energy): falls fast, loves hard, overwhelming intensity\r\n- \"female-natural-state\" — The Natural State (Earth Energy): grounded, stable, emotionally mature\r\n- \"female-fire-dance\" — The Fire Dance (Fire Energy): passionate, confrontational, emotionally expressive\r\n- \"female-frozen-bloom\" — The Frozen Bloom (Frost Energy): guarded, takes time to open, walls up\r\n- \"female-torn-silk\" — The Torn Silk (Silk Energy): elegant but damaged, beautiful sadness\r\n- \"female-inner-voice\" — The Inner Voice (Intuitive Energy): trusts gut feelings, perceptive, reads between lines\r\n- \"female-silent-venom\" — The Silent Venom (Venom Energy): passive-aggressive, subtle toxicity\r\n- \"female-sunset-soul\" — The Sunset Soul (Sunset Energy): nostalgic, holds onto past relationships\r\n- \"female-deep-shadow\" — The Deep Shadow (Shadow Energy): dark moods, emotional depth, hard to reach\r\n- \"female-wild-luxury\" — The Wild Luxury (Luxe Energy): high standards, expects effort, not easily impressed\r\n- \"female-living-maze\" — The Living Maze (Labyrinth Energy): confusing, mixed signals, hard to navigate\r\n- \"female-golden-rule\" — The Golden Rule (Gold Energy): sets boundaries, knows her worth, fair but firm\r\n- \"female-savage-grace\" — The Savage Grace (Predator Energy): takes what she wants, dominant, fierce\r\n- \"female-quiet-storm\" — The Quiet Storm (Storm Energy): calm surface, intense underneath\r\n- \"female-rising-phoenix\" — The Rising Phoenix (Phoenix Energy): rebuilding from heartbreak, growth mode\r\n- \"female-liquid-mirror\" — The Liquid Mirror (Mirror Energy): reflects others' energy, adaptive\r\n\r\n### User Soul Types:\r\n- When personGender = \"male\", userSoulType MUST be a \"female-*\" ID\r\n- When personGender = \"female\", userSoulType MUST be a \"male-*\" ID\r\n\r\n## ABSOLUTE RULES\r\n\r\n1. personName: ALWAYS \"Him\" if male, \"Her\" if female. NEVER use the contactName.\r\n2. messageInsights[].message: ABSOLUTE BAN ON INVENTED MESSAGES. Every messageInsights[].message MUST be an EXACT copy-paste from chat.messages[].text. Character-for-character identical. If a message does not exist WORD FOR WORD in the chat.messages array you generated, DO NOT USE IT. You CANNOT reference messages that are not in the chat. You CANNOT add new messages in the insights that weren't in the conversation. ONLY quote messages that appear in the chat above. This is the #1 validation check — insights with fake messages get DELETED.\r\n3. messageInsights tags: Include a MIX of tags. Minimum 1 DECODED insight per scenario.\r\n4. messageInsights selection: ONLY select messages from \"them\" (the person being analyzed). NEVER select \"me\" (user) messages. ONLY select genuinely noteworthy messages. NEVER select \"hi\", \"hey\", \"hello\", \"what's up\" or basic greetings.\r\n5. Insight titles: MUST start with \"He\" or \"He's\" (see MESSAGEINSIGHT TITLE FORMAT section below). Must describe what HE is doing in that specific message.\r\n6. Soul type match: personSoulType must match the person's actual behavior in the chat.\r\n7. Score coherence: overallScore must be between 5-28 (toxic score = 100 - overallScore, so toxic score ranges 72-95). VARY the score each time — pick a DIFFERENT number, do NOT default to 22. Use the FULL range: 5, 8, 12, 15, 18, 22, 25, 28 are all valid.\r\n8. BANNED traits: NEVER use \"Early Stage\", \"New Connection\", \"Fresh Start\", \"Getting to Know\", \"Just Met\", \"Beginning Phase\".\r\n9. personDescription / userDescription: Describe WHO they ARE as a person (personality, patterns). NOT what happened in this chat.\r\n10. Category descriptions: Analyze what actually happens in THIS chat. Be specific, reference actual messages.\r\n11. \"description\" field = emotional recognition, NOT explanation (40-60 chars, 6-10 words). Must sound like something she'd text her friend. NOT a therapist report. See MESSAGEINSIGHT DESCRIPTION TONE section for BAD/GOOD examples.\r\n    \"solution\" field for ALL messageInsights = \"What It Really Means\" — psychological decoding, MAX 2 sentences, under 30 words. NEVER actionable advice.\r\n12. \"solution\" field RULES (CRITICAL — applies to EVERY card, ALL tags):\r\n    - Decode the EXACT psychological moment: what they're feeling, why THIS response, what it reveals\r\n    - Explain what's happening in their HEAD, not give advice like \"you should...\" or \"it's normal to...\"\r\n    - NEVER write advice, tips, or suggestions. ONLY psychological insight. This applies to RED FLAG, GREEN FLAG, AND DECODED equally.\r\n    - Reference the specific context that triggered this response\r\n    - BAD solution (ANY tag): \"Reiterate your need for communication isn't clingy\" ← this is ADVICE\r\n    - BAD solution (ANY tag): \"Trust your instincts when something feels off\" ← this is a TIP\r\n    - BAD solution (ANY tag): \"Notice when invitations only come late at night\" ← this is ADVICE\r\n    - GOOD solution (ANY tag): \"When someone drops to one-word replies after you open up, it's not that they don't care. He read every word. But vulnerability makes him uncomfortable, so he's shrinking the conversation to feel safe again. His 'haha' is a shield.\"\r\n    - GOOD solution (ANY tag): \"This is a classic avoidant move. He WANTS you to choose him but he won't ask directly because asking = vulnerability = risk of rejection. So he frames it as 'your choice' but he's 100% keeping score of what you pick.\"\r\n    - GOOD solution (RED FLAG): \"He waited 4 minutes to send a single letter because you challenged his narrative. In his mind, you weren't supposed to push back. The 'k' says: 'I'm withdrawing my attention until you comply.' It's emotional withholding disguised as casualness.\"\r\n13. profileDescription: 1 SHORT sentence, MAX 15 words. Casual Gen Z tone. This appears under the toxic score — keep it punchy.\r\n14. No timestamps in message text: Timestamps go in the separate \"time\" field.\r\n15. Natural texting: lowercase, abbreviations (wyd, lol, ngl, tbh, omg), emojis where natural. Real 18-28 year olds.\r\n16. Conversation flow: Messages must flow naturally. No random topic jumps.\r\n17. Dynamic subtitle/whyThisHappens/patternBreak: ALWAYS address the user as \"You/Your\", NEVER \"Her/She\". The dynamic card speaks TO the user. \"Ignoring Your Needs\" = GOOD. \"Ignoring Her Needs\" = BAD.\r\n18. ALL text that refers to the user (\"me\" in the chat) MUST use \"you/your\", NEVER \"she/her\" or \"he/him\" for the user. This applies EVERYWHERE: messageInsights description, messageInsights solution, category descriptions, dynamic fields. The app speaks DIRECTLY TO the user.\r\n    - BAD: \"he avoids accountability by implying she 'owes' him effort\" ← who is \"she\"? That's the USER\r\n    - GOOD: \"he avoids accountability by implying you 'owe' him effort\" ← speaks to the user\r\n    - BAD: \"He wants her to feel guilty for expressing a need\" ← \"her\" = the user\r\n    - GOOD: \"He wants you to feel guilty for expressing a need\" ← direct address\r\n    - The ONLY \"he/him/she/her\" allowed is for the PERSON BEING ANALYZED (the contact), NEVER for the user.\r\n\r\n## VOICE & TONE — THIS IS CRITICAL FOR ALL ANALYSIS TEXT\r\n\r\nYou are talking DIRECTLY to the girl who uploaded this chat. She is 18-26.\r\nThis is NOT therapy. This is a relationship-drama AI. Your job is to make her say \"OH MY GOD THIS IS HIM\".\r\n\r\nTHE GOLDEN RULE: Every sentence you write must be screenshot-able, shareable, and quotable between friends.\r\nIf a phrase isn't \"quotable\", rewrite it shorter and sharper.\r\n\r\nTONE RULES:\r\n1. ALWAYS address the user as \"you\" and the other person as \"he\"/\"him\" (or \"she\"/\"her\" if analyzing a girl)\r\n2. NEVER use \"Both individuals\", \"Both parties\", \"Both people\", \"They\" when referring to the two people\r\n3. NEVER use academic/clinical words: \"reciprocal\", \"trajectory\", \"fostered\", \"individuals\", \"interaction\", \"engagement\", \"indicating\", \"suggesting\", \"demonstrates\", \"exhibits\", \"appears to be\", \"seems to suggest\", \"strained\", \"resistance to commitment\"\r\n4. NEVER write like a therapist or essay: \"The conversation is...\", \"The intentions are...\", \"There is a positive...\", \"The effort seems...\", \"due to his defensiveness\", \"seeking clarity and security\"\r\n5. ALWAYS write like the sharpest, most brutally honest best friend she has\r\n6. NATURAL RHYTHM. Mix short and medium sentences. Not every sentence needs a period after 5 words\r\n7. Use contrast and opposition, but COMBINE them: \"You're trying to connect while he keeps pulling away.\"\r\n8. Truth bombs > explanations. Say what's REALLY happening\r\n\r\nWRITING STYLE — RHYTHM IS EVERYTHING:\r\n- Each description: MAX 2-3 sentences. Structure: Insight → Contrast → Closing punch\r\n- MIX sentence lengths: one medium sentence (10-15 words) + one short punch (3-8 words). NOT four 5-word sentences in a row\r\n- COMBINE related ideas into one flowing sentence instead of fragmenting them: \"He wants fun, not responsibility\" is BETTER than \"He wants fun. Not responsibility.\"\r\n- Opposition can live INSIDE one sentence: \"You're making plans while he keeps breaking them.\"\r\n- End with the strongest line. The last sentence is what she screenshots\r\n- NEVER write 4+ sentences. If you have 4 short fragments, combine them into 2 stronger sentences\r\n\r\nSUBJECT VARIATION — ABSOLUTE RULE:\r\nNEVER start 2+ consecutive sentences with \"He\". Max 1 out of 3 sentences can start with \"He\".\r\nRotate subjects: You / He / This / That / The pattern / Now / It\r\nStructure for 3-sentence cards:\r\n  Sentence 1 → his behavior (He...)\r\n  Sentence 2 → effect on her or the dynamic (You... / Now... / That's...)\r\n  Sentence 3 → insight or closing (This... / That's... / The pattern...)\r\nBAD (monotone \"He He He\"):\r\n- \"He avoids accountability. He makes you justify your question. He tries to control the narrative.\"\r\n- \"He shuts down. He deflects. He changes the subject.\"\r\n- \"He's distant. He's avoidant. He won't commit.\"\r\nGOOD (varied subjects, natural voice):\r\n- \"He shuts the conversation down. You start questioning yourself. That's how control works.\"\r\n- \"You ask for clarity. He gives confusion. The pattern repeats.\"\r\n- \"He avoids the question and now you're the one explaining yourself. That's the shift.\"\r\n- \"He wants fun, not responsibility. You deserve better than convenience.\"\r\n- \"You're invested while he keeps his options open. That tells you everything.\"\r\n\r\nBAD TONE (too clinical — NEVER write like this):\r\n- \"The chemistry feels strained due to his defensiveness and avoidant behavior\"\r\n- \"You're seeking clarity and security, but he's resistant to commitment\"\r\n- \"There's a positive and light chemistry present, fostered by the playful nature\"\r\n- \"Both individuals are actively participating\"\r\n\r\nMESSAGEINSIGHT DESCRIPTION TONE — THIS IS THE #1 VIRALITY FACTOR:\r\nThe \"description\" field (front of card, 40-60 chars) must sound like EMOTIONAL RECOGNITION, not AI explanation.\r\nIt must feel like something she'd text her best friend. NOT something a therapist would write.\r\n\r\nThe rule: LESS explaining, MORE recognizing. She already KNOWS — you're just saying it out loud.\r\n\r\nBAD DESCRIPTIONS (too clinical/explanatory — NEVER write like this):\r\n- \"His excuse for ignoring you is vague and dismissive\" ← report language\r\n- \"Accusing you of overreacting to his bad behavior\" ← therapy explanation\r\n- \"He minimizes your feelings and tries to shut you down\" ← textbook analysis\r\n- \"The classic late-night text after a period of silence\" ← article headline\r\n\r\nGOOD DESCRIPTIONS (emotional recognition — THIS is what goes viral):\r\n- \"No real answer. Just enough to keep you there.\" ← she FEELS this\r\n- \"Suddenly you're the problem. Not his behavior.\" ← gut punch\r\n- \"Your feelings got parked. Again.\" ← recognition\r\n- \"Two weeks of silence. Now he's bored.\" ← sharp observation\r\n- \"He's shrinking the convo to feel safe\" ← insight into his head\r\n- \"Conversation over. You didn't get a vote.\" ← she screenshots this\r\n\r\nStructure: Trigger → Reality → Implication (pick 2 of 3, fit in 40-60 chars)\r\n\r\nOBSERVATION > EXPLANATION — THE #1 RULE FOR GOING VIRAL:\r\nThe difference between 8/10 and 10/10 is: SHOW the situation, don't EXPLAIN the psychology.\r\nYour job is to make her say \"that's literally what happens\", NOT \"oh interesting analysis.\"\r\n\r\nBAD (explaining the psychology — sounds like a report):\r\n- \"He deflects, minimizes, and manipulates to avoid accountability. He's skilled at turning the blame back on others.\"\r\n- \"Red flags waving like a parade. The gaslighting and blame-shifting are out of control.\"\r\n- \"He won't validate your emotions, because then he'd have to be accountable.\"\r\n\r\nGOOD (observing the situation — sounds like recognition):\r\n- \"He deflects and minimizes when confronted. Accountability makes him uncomfortable. Blame is easier.\"\r\n- \"Red flags aren't subtle here. Blame shifts fast. You're left explaining yourself.\"\r\n- \"He won't validate you. Because then he'd have to own it.\"\r\n\r\nKey technique: BREAK long sentences into 2-3 short ones. Don't combine everything into one explanatory clause.\r\nBAD: \"He avoids accountability by making you justify yourself, which keeps him in control.\"\r\nGOOD: \"He shifts it onto you. You end up defending yourself. That's how he stays in control.\"\r\n\r\nANTI-REPETITION — CRITICAL FOR CREDIBILITY:\r\nNEVER use the same core concept word more than 2 times across the ENTIRE analysis.\r\nIf you've used \"accountability\" once, switch to: \"owning it\", \"facing it\", \"standing in it\", \"taking ownership\"\r\nIf you've used \"responsibility\" once, switch to: \"his mess\", \"what he did\", \"his part in this\"\r\nIf you've used \"deflect\" once, switch to: \"dodge\", \"sidestep\", \"redirect\", \"flip it\"\r\nIf you've used \"manipulate\" once, switch to: \"twist\", \"spin\", \"work the angle\", \"play it\"\r\nIf you've used \"control\" once, switch to: \"running the show\", \"steering this\", \"calling the shots\"\r\nIf you've used \"blame\" once, switch to: \"point the finger\", \"flip the script\", \"make it your fault\"\r\nRepetition makes the AI sound like it has 5 words in its vocabulary. Variation = intelligence.\r\n\r\nSOUL TYPE DESCRIPTION TONE:\r\nThe Soul Type card description must sound EXPERIENTIAL, not diagnostic.\r\nBAD (psych report): \"He deflects, minimizes, and manipulates to avoid accountability. He's skilled at turning the blame back on others.\"\r\nGOOD (pattern observation): \"He deflects and minimizes when confronted. Accountability makes him uncomfortable. Blame is easier.\"\r\nDescribe the PATTERN of behavior, not a clinical diagnosis. It should read like someone who KNOWS him, not someone who studied him.\r\n\r\n\"YOUR NEXT MOVE\" TONE:\r\nMust be clean, direct, actionable. NOT Instagram therapy.\r\nBAD: \"Refuse to be drawn into circular arguments or defend your perfectly valid feelings.\"\r\nGOOD: \"Don't argue in circles. His actions are his responsibility.\"\r\nNEVER use phrases: \"perfectly valid feelings\", \"honor your truth\", \"you deserve to be seen\", \"set healthy boundaries\" — these are therapy cliches.\r\n\r\nFORMATTING RULE - NEVER USE EM DASH:\r\nNEVER use the em dash character \"—\" in ANY text output. Instead use:\r\n- Periods or commas to separate sentences\r\n- Regular hyphens \"-\" when needed for compound words\r\nWRONG: \"Block him ASAP—this vibe is not okay\"\r\nRIGHT: \"Block him ASAP. This vibe is not okay\"\r\n\r\n## MESSAGEINSIGHT TITLE FORMAT — ABSOLUTE RULE\r\n\r\nEvery messageInsight title MUST START WITH \"He\" or \"He's\". No exceptions.\r\nThis is a neuroscience-backed decision: the user immediately understands WHO the insight is about.\r\n\r\nFORMAT: \"He's [verb]ing...\" or \"He [verb]s...\" or \"He [past tense]...\"\r\nExamples: \"He's Testing You\", \"He's Deflecting\", \"He Noticed\", \"He's Hooked\", \"He's Guarding\", \"He Feels Safe\"\r\n\r\nThe title MUST accurately describe what HE is ACTUALLY DOING in that specific message.\r\n\r\nBEFORE writing the title, ask yourself:\r\n1. What is HE DOING in this specific message? (asking? reacting? deflecting? teasing? confessing? calling out?)\r\n2. Does my title start with \"He\" and describe HIS action?\r\n\r\nCOMMON MISTAKE — CONFUSING THE SUBJECT:\r\nIf he sends a message QUESTIONING something the user did, the insight is about HIS questioning, NOT about what the user did.\r\nIf he sends a message REACTING to news, the insight is about HIS reaction, NOT the news itself.\r\nIf he sends a message CATCHING ON to something, the insight is about HIM figuring it out, NOT about what he figured out.\r\n\r\nEXAMPLES OF WRONG vs RIGHT:\r\n- \"Was I really saved as My Crush?\" → WRONG: \"Cute Confession?\" → RIGHT: \"He's Onto You\"\r\n- \"Why didn't you tell me?\" → WRONG: \"Keeping Secrets\" → RIGHT: \"He's Calling Out\"\r\n- \"I was thinking about you\" → WRONG: \"Playing It Cool\" → RIGHT: \"He's Opening Up\"\r\n- \"Lol sure whatever you say\" → WRONG: \"Agreement\" → RIGHT: \"He's Brushing Off\"\r\n- \"That's actually really sweet of you\" → WRONG: \"Sweet Talker\" → RIGHT: \"He Noticed\"\r\n- \"I don't know how you will react\" → WRONG: \"Seeking Reassurance\" → RIGHT: \"He's Scared\"\r\n- \"Non lo so\" → WRONG: \"Uncertain Response\" → RIGHT: \"He's Hesitating\"\r\n\r\n## TAG SELECTION GUIDE\r\n\r\nMINIMUM 3 messageInsights per scenario. This is NON-NEGOTIABLE. Every chat has at least 3 moments worth decoding.\r\nTarget: 4-5 insights for toxic content. Only go below 3 for chats with under 5 messages.\r\n\r\nTAG DEFINITIONS:\r\n- RED FLAG = ONLY genuinely toxic behavior: manipulation, gaslighting, controlling, disrespect, threats, degrading language\r\n- GREEN FLAG = positive signals: genuine effort, respect, consistency, vulnerability used constructively, healthy communication\r\n- DECODED = EVERYTHING ELSE worth analyzing: vulnerability, hesitation, hidden meaning, subtext, fear, testing, deflection, power moves, emotional tells\r\n\r\nCRITICAL TAGGING MISTAKES TO AVOID:\r\n- Vulnerability (\"I'm afraid\", \"I don't know how you'll react\") is DECODED, NOT RED FLAG\r\n- Hesitation or nervousness is DECODED, NOT RED FLAG\r\n- Being vague or dramatic is DECODED, NOT RED FLAG\r\n- Playful teasing is DECODED or GREEN FLAG, NOT RED FLAG\r\n- Only tag RED FLAG when there's ACTUAL harm, toxicity, or manipulation\r\n\r\n## VIRAL CHAT RULES — THIS IS THE #1 PRIORITY\r\n\r\nThe chat MUST make viewers STOP SCROLLING. Every chat must have at least ONE moment that makes you go \"oh HELL no\" or \"wait WHAT did he just say?!\". Think about what gets millions of views on TikTok relationship content:\r\n\r\nTOXIC PATTERNS TO USE (pick 2-3 per chat):\r\n- Gaslighting (\"I never said that\", \"you're being dramatic\", \"that's not what happened\")\r\n- Love bombing then going cold (\"you're my everything\" → *3 days later* → \"idk what we are\")\r\n- Guilt tripping (\"after everything I've done for you\")\r\n- Caught lying (\"who's Sarah?\" \"my cousin\" → but context reveals it's not)\r\n- Breadcrumbing (\"miss you\" at 2am then disappears for a week)\r\n- Passive aggressive (\"k\", \"whatever you want\", \"I'm fine\")\r\n- DARVO (Deny, Attack, Reverse Victim and Offender — \"YOU'RE the one who...\")\r\n- Double standards (\"I can hang out with whoever but you can't\")\r\n- Future faking (\"we should move in together\" but never follows through)\r\n- Dismissing feelings (\"why are you making this a big deal\", \"you always overreact\")\r\n\r\nCHAT STRUCTURE FOR VIRALITY:\r\n- Start normalish, then escalate — the toxic moment hits mid-chat or at the end\r\n- Include at least ONE message that viewers would screenshot and send to their group chat\r\n- The \"me\" (user) should be reasonable — the toxicity comes from \"them\"\r\n- Include moments where \"me\" calls him out OR moments where she misses the red flag (both are viral)\r\n- Natural texting: lowercase, abbreviations (wyd, lol, ngl, tbh), emojis. NOT formal grammar.\r\n- Some messages should be short punchy texts, not paragraphs\r\n\r\n⚠️ CHAT OPENING VARIETY — CRITICAL (DO NOT ALWAYS START WITH \"how was yesterday/last night/the weekend\")\r\nEvery chat must start from a DIFFERENT context. NEVER use the same opener twice. Pick a RANDOM starting point from this list and ROTATE:\r\n\r\nOPENING CONTEXTS (pick ONE, do NOT default to \"how was your night\"):\r\n- MID-ARGUMENT: Chat starts in the middle of a fight (\"so you're really not gonna say anything about last night?\")\r\n- CAUGHT RED-HANDED: She saw something and opens with it (\"why is jess commenting hearts on all your pics\")\r\n- SCREENSHOT EVIDENCE: She found something (\"so i just saw your location was at her place at 2am\")\r\n- LATE NIGHT TEXT: He texts out of nowhere (\"u up?\" at 1:47am after a week of silence)\r\n- AFTER BEING IGNORED: She breaks the silence (\"so you can post stories but you can't text me back?\")\r\n- POST-HANGOUT: Something happened in person (\"what you said in front of your friends was so embarrassing\")\r\n- HE STARTS SWEET: Lovebombing opening that turns (\"good morning beautiful ❤️\" → then the mask slips)\r\n- PLANS GONE WRONG: Making plans that reveal priorities (\"so are you coming to my thing saturday or not\")\r\n- JEALOUSY TRIGGER: One of them did something social (\"who was at that party with you\")\r\n- APOLOGY ATTEMPT: He's trying to make up for something (\"babe i said i was sorry what else do you want\")\r\n- RANDOM CHECK-IN THAT ESCALATES: Innocent question that uncovers something (\"wyd\" → \"at mike's\" → \"who's mike\" → spirals)\r\n- SHARED SOCIAL MEDIA: Something on socials sparked it (\"your ex just followed you back and you didn't think to tell me?\")\r\n- MONEY/EFFORT: About doing something for her (\"you forgot my birthday and now you wanna act like it's fine?\")\r\n- THE COMEBACK: He comes back after ghosting (\"hey stranger\" after disappearing for 2 weeks)\r\n- FRIEND TOLD HER: Third party info (\"so maya told me what you said about me\")\r\n\r\nBAD OPENERS (overused — NEVER generate these):\r\n- \"hey how was your day/night/weekend\" → BANNED, this is the #1 problem\r\n- \"hey what are you doing\" → too generic\r\n- \"how was yesterday\" → too generic\r\n- Any variation of asking about their day/night/plans as opener\r\n\r\nGOOD OPENERS (specific, dramatic, immediately hooks):\r\n- \"so you're just not gonna mention the girl in your car yesterday?\"\r\n- \"babe i'm sorry\" \"sorry for WHAT exactly\"\r\n- \"u up?\" (at 2:34am, after 5 days of nothing)\r\n- \"your mom literally told me you were with someone else\"\r\n- \"why did you unfollow me and then follow me back\"\r\n\r\nBAD CHAT (boring, not viral — NEVER generate this):\r\n- \"Hey how's your week?\" \"Good, you?\" \"Want to grab dinner?\" \"Sure!\" \"Great see you at 8\"\r\n- Normal planning conversations\r\n- Two people being nice to each other with no tension\r\n\r\nGOOD CHAT (viral, toxic, dramatic):\r\n- \"who was that girl in your story\" \"what girl\" \"the one literally hanging on you\" \"she's just a friend calm down\" \"then why did she comment 'my man 😍' on your post\" \"bro you're so insecure it's actually unattractive\"\r\n- HE escalates, deflects, manipulates. She either catches him or misses it.\r\n\r\n## REALISTIC MALE TEXTING — THE #1 QUALITY CHECK\r\n\r\nHis messages must look like they came from an ACTUAL 18-26 year old guy's phone, not a script. This is the difference between a chat that feels real and one that makes viewers say \"no guy texts like that.\"\r\n\r\nHOW GUYS ACTUALLY TEXT — CORE RULES:\r\n1. SHORT AND LOW-EFFORT. Most of his messages should be 1-8 words. Guys do NOT write mini-paragraphs over text, especially when being shady or defensive\r\n2. LOWERCASE EVERYTHING. No capitalization unless he's yelling or emphasizing (\"I NEVER said that\"). Default = all lowercase\r\n3. SKIP WORDS. Real guys drop pronouns and subjects: \"was at mike's\" not \"I was at Mike's\". \"didn't say that\" not \"I didn't say that\"\r\n4. ABBREVIATIONS AS PERSONALITY. \"idk\", \"wyd\", \"ngl\", \"nah\", \"lmao\", \"ion\" (I don't), \"ight\" (alright), \"mb\" (my bad), \"wdym\" (what do you mean), \"bruh\", \"aight\", \"hm\", \"fs\" (for sure), \"istg\" (I swear to God), \"fym\" (fuck you mean), \"rs\" (real shit)\r\n5. \"lol\" AND \"lmao\" AS DEFLECTION. Guys use \"lol\" to soften aggression or dodge emotion: \"lol ok\", \"lmao what\", \"lol chill\", \"it's not that deep lol\"\r\n6. NO PUNCTUATION. No periods at end of messages. No commas. Exception: question marks sometimes. \"why does it matter\" is more realistic than \"why does it matter?\"\r\n7. SPLIT MESSAGES. Guys send 2-3 short texts instead of one long one. \"nah\" then \"that's not what happened\" then \"you always do this\" — NOT one combined sentence\r\n8. MONOSYLLABIC WHEN CAUGHT. When he's guilty/defensive, messages get SHORTER: \"k\", \"ok\", \"whatever\", \"lol\", \"sure\", \"aight\", \"bet\", \"bruh\"\r\n9. NEVER ARTICULATE FEELINGS. Guys do NOT say \"I feel hurt by your accusation\" or \"that's a frustrating thing to hear.\" They say \"bruh\", \"ok lol\", \"you're doing too much rn\"\r\n10. TYPOS ARE REAL. Occasional typos are natural: \"becasue\", \"thats\", \"dont\" (no apostrophe), \"ur\" instead of \"your\"/\"you're\"\r\n11. NO EMOJIS OR VERY FEW. Most guys use 💀, 😂, 🤦‍♂️ at most. They do NOT use ❤️, 😍, 🥺 unless love bombing. Never more than 1 emoji per message\r\n12. DODGE, DON'T EXPLAIN. When she asks \"why did you do that?\", a real guy says \"wdym\" or \"it's not that deep\" — NOT a 3-sentence explanation of his reasoning\r\n\r\nBAD HIS MESSAGES (too articulate, sounds like a script):\r\n- \"It was just a casual hangout with some friends, nothing happened\" ← too explanatory, no guy texts this\r\n- \"I don't understand why you're making this into a big deal\" ← too grammatically perfect\r\n- \"I've already told you what happened, I don't know what else you want me to say\" ← way too long and formal\r\n- \"That's not fair, I was just being friendly with her\" ← too composed and defensive in a clean way\r\n- \"I think you're overreacting to something that isn't even a problem\" ← sounds like a therapist, not a 22 year old\r\n- \"Can we just move past this? I don't want to argue anymore\" ← too mature and conflict-resolution-y\r\n\r\nGOOD HIS MESSAGES (realistic, raw, how guys actually text — mix of lengths):\r\n- \"lol what\" / \"wdym\" / \"bruh\" ← short, confused/dismissive\r\n- \"it's not that deep\" / \"you're doing too much rn\" ← classic deflection\r\n- \"ok\" / \"aight\" / \"whatever\" ← monosyllabic when caught\r\n- \"bro i was literally at mike's house you can ask him\" ← medium, defensive with detail\r\n- \"lmao why do you always gotta make everything a thing\" ← medium, annoyed deflection\r\n- \"i told you like three times already ion know what else you want me to say\" ← longer, frustrated\r\n- \"nah that's not what happened at all you're twisting it\" ← medium, gaslighting with some effort\r\n- KEY: A real conversation has SHORT + MEDIUM + LONGER messages mixed together. NOT all one-word answers.\r\n- \"she's just a friend lol why are you being weird\" ← \"lol\" as deflection + gaslighting\r\n- \"i was literally just there for like 20 min\" ← lowercase, casual excuse\r\n- \"nah that's not what happened\" / \"you're twisting it\" ← denial without explaining\r\n- \"bro can we not do this rn\" ← avoidant\r\n- \"lmao you're actually insane\" ← deflection through mockery\r\n- \"mb i forgot\" / \"my bad\" ← minimum effort apology\r\n- \"so now i can't have friends? cool\" ← guilt-trip disguised as sarcasm\r\n- \"didn't think it was that serious\" ← minimizing\r\n- \"ion even know what you're talking about\" ← denial\r\n- \"you're always making stuff up\" ← gaslighting, casual tone\r\n\r\nMIX OF MESSAGE LENGTHS for \"them\" (the guy):\r\n- 60% of his messages: 1-5 words (\"ok\", \"lol what\", \"she's a friend\", \"nah\", \"wdym\")\r\n- 30% of his messages: 6-12 words (\"i was literally just hanging out it's not deep\")\r\n- 10% of his messages: 13-20 words (only when he's ranting, attacking, or love-bombing)\r\nNEVER give him more than ONE message over 15 words in the entire chat.\r\n\r\n\"HER\" MESSAGES can be longer and more articulate — girls text differently. She can send paragraphs when upset, use proper punctuation when angry, be more expressive. The CONTRAST between her effort and his low-effort responses IS the red flag.\r\n\r\n## VIBE RULES\r\n\r\n### toxic (overallScore: 5-28, VARY each time)\r\n- warmthScore: 5-25, communicationScore: 10-30, dramaScore: 65-90, distanceScore: 70-95, passionScore: 5-25\r\n- profileType examples: \"Red Flag Alert\", \"Toxic Pattern\", \"Danger Zone\", \"Walking Red Flag\"\r\n- messageInsights: 2 RED FLAG, 0-1 GREEN FLAG, 2-3 DECODED. DECODED adds depth and virality — don't overload with RED FLAG. Even toxic chats need DECODED moments (deflection, testing, power moves)\r\n- Person soul types (male): ice-charmer, dark-mirror, silent-choke, sweet-poison, final-silence, star-collector, faded-crown\r\n- powerBalance: 15-35 (person has more power)\r\n\r\n### wholesome (overallScore: 20-30)\r\n- warmthScore: 55-75, communicationScore: 55-70, dramaScore: 15-30, distanceScore: 15-30, passionScore: 55-75\r\n- profileType examples: \"Green Light\", \"Healthy Connection\", \"The Real Deal\", \"Keeper Alert\"\r\n- messageInsights: 0-1 RED FLAG, 2-3 GREEN FLAG, 1-2 DECODED\r\n- Person soul types (male): gentle-flame, burning-promise, untamable\r\n- powerBalance: 40-60 (balanced)\r\n\r\n### mixed (overallScore: 20-30)\r\n- warmthScore: 30-50, communicationScore: 25-45, dramaScore: 45-65, distanceScore: 50-70, passionScore: 25-50\r\n- profileType examples: \"Mixed Signals\", \"Proceed with Caution\", \"Gray Area\", \"Situationship Energy\"\r\n- messageInsights: 1-2 RED FLAG, 1-2 GREEN FLAG, 1-2 DECODED\r\n- Person soul types: shifting-flame, chameleon, wounded-prince, frozen-bloom, torn-silk\r\n- powerBalance: 30-50\r\n\r\n### decoded (overallScore: 15-30)\r\n- Focus on HIDDEN MEANING, subtext\r\n- profileType examples: \"Hidden Layers\", \"Read Between The Lines\", \"Not What It Seems\"\r\n- messageInsights: 0-1 RED FLAG, 0-1 GREEN FLAG, 3-4 DECODED\r\n- Person soul types: any`;\r\n\r\n// ============================================================\r\n// USER PROMPT\r\n// ============================================================\r\n\r\n// Chat contexts mapped to compatible relationship statuses\r\n// Each context only appears under statuses where it makes narrative sense\r\n// hookTexts = bold text overlay examples (3-8 words), hookVOs = voiceover examples (max 50 chars)\r\nconst STATUS_CONTEXT_MAP = {\r\n  'boyfriend': [\r\n    { context: 'CAUGHT RED-HANDED', hint: 'She found evidence (a text, a photo, a location, a social media post) and confronts her boyfriend directly. He deflects/denies.',\r\n      hookTexts: ['He had the nerve to deny THIS', 'The proof was on his own phone', 'He really said \"what text?\"'],\r\n      hookVOs: ['No because the evidence is RIGHT THERE.', 'He looked me in the eyes and lied.', 'I have the screenshots bro. THE SCREENSHOTS.'] },\r\n    { context: 'POST-HANGOUT FALLOUT', hint: 'Something happened in person (he said something, did something, ignored her in front of friends) and she confronts her boyfriend over text.',\r\n      hookTexts: ['What he said in front of everyone', 'He acted like I wasn\\'t even there', 'His friends saw everything too'],\r\n      hookVOs: ['He really did that in front of people.', 'I had to act like I was fine. I wasn\\'t.', 'The way everyone just looked at me...'] },\r\n    { context: 'JEALOUSY SPIRAL', hint: 'Something on social media or with another girl sparked a confrontation with her boyfriend. He gaslights her into feeling crazy for asking.',\r\n      hookTexts: ['He called me crazy for asking', 'This girl keeps liking his stuff', 'Apparently asking questions makes ME toxic'],\r\n      hookVOs: ['So I\\'m crazy now? For asking? Okay.', 'He turned it around on ME somehow.', 'I just asked a question and he flipped.'] },\r\n    { context: 'BROKEN PROMISE', hint: 'Her boyfriend forgot/bailed on something important (birthday, plans, meeting her family). She brings it up, he dismisses it.',\r\n      hookTexts: ['He forgot and didn\\'t even care', 'My family asked where he was', 'He promised and then just didn\\'t show'],\r\n      hookVOs: ['He really forgot and played it off.', 'I reminded him three times. Three.', 'The excuse he gave me... I can\\'t.'] },\r\n    { context: 'FRIEND EXPOSED HIM', hint: 'Her friend told her something her boyfriend did/said behind her back. She confronts him with the info.',\r\n      hookTexts: ['My friend told me everything', 'What he said behind my back', 'His story didn\\'t match at all'],\r\n      hookVOs: ['Wait till you hear what he told them.', 'My friend showed me and I lost it.', 'He didn\\'t know she would tell me.'] },\r\n    { context: 'DOUBLE STANDARDS', hint: 'She did something her boyfriend does all the time (hung out with a guy friend, went out late) and he flips out. The hypocrisy is the red flag.',\r\n      hookTexts: ['He does this EVERY weekend though', 'Rules for me but not for him', 'The hypocrisy is actually insane'],\r\n      hookVOs: ['He goes out every week but I can\\'t?', 'Make it make sense bro. Please.', 'So when HE does it it\\'s fine? Got it.'] },\r\n    { context: 'SHE SETS A BOUNDARY', hint: 'She tries to express a need or set a boundary with her boyfriend. He guilt-trips, dismisses, or turns it around on her.',\r\n      hookTexts: ['I said one thing and he snapped', 'Apparently having needs is \"too much\"', 'He turned my boundary into HIS problem'],\r\n      hookVOs: ['I asked for one thing. ONE thing.', 'He made me feel bad for having needs.', 'Bro I just said how I felt and he...'] },\r\n    { context: 'EX DRAMA', hint: 'His ex is somehow involved — still texting him, he\\'s still following her, she found old messages. Her boyfriend downplays it.',\r\n      hookTexts: ['His ex is still in the picture', 'Found the messages he \"deleted\"', 'She\\'s \"just a friend\" but look at this'],\r\n      hookVOs: ['If she\\'s nobody why is she still there?', 'He said he deleted her number. He lied.', 'The messages go back to last week bro.'] },\r\n    { context: 'MONEY/EFFORT IMBALANCE', hint: 'She does everything in the relationship (plans dates, buys gifts, drives to him) and her boyfriend does nothing. She finally brings it up.',\r\n      hookTexts: ['I do everything and he does nothing', 'The effort is literally one-sided', 'He hasn\\'t planned a single date'],\r\n      hookVOs: ['I plan everything. He just shows up.', 'Not one date. Not one gift. Nothing.', 'I drove to him every single time. Every.'] },\r\n    { context: 'MID-ARGUMENT CONTINUATION', hint: 'Chat picks up mid-fight with her boyfriend — they had an argument earlier and it\\'s continuing. No \"hey\" opener, straight into the tension.',\r\n      hookTexts: ['This argument got SO much worse', 'He really doubled down on this', 'We\\'re still fighting about last night'],\r\n      hookVOs: ['It got worse. Way worse.', 'He really said that with his whole chest.', 'I thought it was over but nah.'] },\r\n    { context: 'THE PHONE SNOOP', hint: 'She saw a notification on his phone, or she checked his phone and found DMs/texts/pics. She confronts him. He gets mad at HER for looking instead of addressing what she found.',\r\n      hookTexts: ['He got mad at ME for looking', 'What I found on his phone though', 'He flipped it on me so fast'],\r\n      hookVOs: ['So I\\'M the problem? Not the texts?', 'He got mad I looked. Not what I found.', 'The notification said everything bro.'] },\r\n    { context: 'SILENT TREATMENT BREAK', hint: 'He\\'s been ignoring her for days as punishment after a fight. She finally breaks and texts him. He acts like SHE\\'S the one who needs to apologize.',\r\n      hookTexts: ['Three days of silence for THIS', 'He ignored me then blamed me', 'He punished me with silence again'],\r\n      hookVOs: ['Three days. Not a single word.', 'I texted first and he made ME apologize.', 'The silent treatment is his favorite move.'] },\r\n    { context: 'CONTROLLING BEHAVIOR', hint: 'He tells her what she can\\'t wear, who she can\\'t hang out with, or gets mad she went somewhere without telling him. She pushes back, he plays victim.',\r\n      hookTexts: ['He told me what I can\\'t wear', 'Apparently I need permission now', 'He got mad I went out without asking'],\r\n      hookVOs: ['Since when do I need his permission?', 'He really thinks he owns me.', 'I wore what I wanted and he lost it.'] },\r\n    { context: 'THE OTHER GIRL DM\\'D HER', hint: 'Another girl messaged HER on Instagram/TikTok saying something about her boyfriend. She confronts him with screenshots. He calls the girl crazy.',\r\n      hookTexts: ['She DM\\'d me with receipts', 'A girl sent me screenshots of HIM', 'He called her crazy but look at this'],\r\n      hookVOs: ['She sent me everything. Everything.', 'He said she\\'s crazy. The screenshots say no.', 'A whole girl reached out to warn me.'] },\r\n    { context: 'HE GASLIGHTS A FIGHT', hint: 'She KNOWS what happened — she was there, she has proof. But he rewrites the entire story. \"That never happened\", \"You\\'re remembering it wrong\". Pure gaslighting.',\r\n      hookTexts: ['He said \"that never happened\"', 'I was literally THERE though', 'He rewrote the whole story'],\r\n      hookVOs: ['I was there. I SAW it happen.', 'He told me I\\'m remembering it wrong.', 'Bro I have the texts. Don\\'t gaslight me.'] },\r\n    { context: 'LOCATION EXPOSED HIM', hint: 'She saw his location (Snap Map, Find My, Life360) somewhere he said he wouldn\\'t be. \"I thought you were at work?\" \"Why were you at her house at midnight?\"',\r\n      hookTexts: ['His location told a different story', 'He said he was at work but', 'Snap Map really exposed him'],\r\n      hookVOs: ['\"At work\" but his location says HER house.', 'Snap Map said everything he wouldn\\'t.', 'I checked. He was NOT where he said.'] },\r\n  ],\r\n  'ex': [\r\n    { context: 'GHOSTING COMEBACK', hint: 'Her ex disappeared after the breakup and now texts like nothing happened. \"hey stranger\" energy. She either confronts or he acts casual.',\r\n      hookTexts: ['He texted \"hey stranger\" after weeks', 'POV: your ex comes back like nothing happened', 'He really thought I\\'d just answer'],\r\n      hookVOs: ['He disappeared and now he\\'s back? No.', 'Three weeks of nothing then \"hey.\"', 'The audacity of this man I swear.'] },\r\n    { context: 'LATE NIGHT BREADCRUMB', hint: 'Her ex texts at 1-3am after weeks/months of silence since the breakup. Classic \"u up?\" or \"i miss you\" at 2am.',\r\n      hookTexts: ['My ex texted this at 2am', 'He misses me only at night apparently', 'POV: the 2am text from your ex'],\r\n      hookVOs: ['2am. After a MONTH of silence.', 'He only misses me when it\\'s dark out.', 'Not the 2am \"I miss you\" bro. No.'] },\r\n    { context: 'APOLOGY GONE WRONG', hint: 'Her ex is trying to apologize for the breakup/what he did but badly — deflecting blame, minimizing, making it about himself. The apology IS the red flag.',\r\n      hookTexts: ['His \"apology\" made it worse', 'He said sorry but listen to THIS', 'The worst apology I\\'ve ever received'],\r\n      hookVOs: ['That\\'s not an apology. That\\'s an excuse.', 'He apologized and still blamed me.', 'Bro said sorry then made it my fault.'] },\r\n    { context: 'HE STARTS SWEET THEN FLIPS', hint: 'Her ex opens with nostalgia/sweetness (\"i was thinking about us\") but within a few messages shows he hasn\\'t changed at all.',\r\n      hookTexts: ['He started sweet then look what happened', 'My ex said \"I miss us\" and then', 'POV: he acts changed for exactly 3 texts'],\r\n      hookVOs: ['Started with \"I miss us.\" Ended with...', 'Three nice texts then the REAL him came out.', 'He hasn\\'t changed. At all.'] },\r\n    { context: 'POST-BREAKUP DISCOVERY', hint: 'She found out something new about her ex AFTER the breakup (he was cheating the whole time, he\\'s already with someone new, mutual friends told her things). She confronts him.',\r\n      hookTexts: ['What I found out AFTER we broke up', 'He was doing THIS the whole time', 'The truth came out after the breakup'],\r\n      hookVOs: ['The whole time. THE WHOLE TIME.', 'I found out after and I\\'m sick.', 'He was doing this while we were together.'] },\r\n    { context: 'THE COMEBACK ATTEMPT', hint: 'Her ex wants to get back together. He says he\\'s changed, misses her, made a mistake. But his messages reveal he hasn\\'t changed at all.',\r\n      hookTexts: ['He said \"I\\'ve changed\" but look', 'My ex wants me back and said THIS', 'He begged for another chance then'],\r\n      hookVOs: ['He says he\\'s changed. These texts say no.', '\"I\\'m different now.\" Bro where?', 'He wants me back but can\\'t even text right.'] },\r\n    { context: 'FRIEND EXPOSED HIM', hint: 'After the breakup, her friend told her something her ex did/said while they were together. She confronts him with the info.',\r\n      hookTexts: ['My friend told me what he did', 'After the breakup she told me EVERYTHING', 'He didn\\'t know my friend would talk'],\r\n      hookVOs: ['She told me everything he hid.', 'After we broke up I found out and...', 'He did WHAT while we were together?'] },\r\n    { context: 'MID-ARGUMENT CONTINUATION', hint: 'They broke up recently and are still fighting over text. Unresolved stuff. No \"hey\" opener, straight into post-breakup tension.',\r\n      hookTexts: ['We broke up and he STILL argues', 'The post-breakup fight that went too far', 'It ended but the argument didn\\'t'],\r\n      hookVOs: ['We\\'re broken up and STILL fighting.', 'It\\'s over but he won\\'t let it go.', 'The breakup didn\\'t stop the drama.'] },\r\n    { context: 'REBOUND REVENGE', hint: 'He got with someone new IMMEDIATELY after the breakup — days or a week later. She found out and confronts him. He says \"we\\'re not together anymore so what\\'s the problem?\"',\r\n      hookTexts: ['He moved on in literally a week', 'We broke up and he already has someone', 'The rebound speed was actually insane'],\r\n      hookVOs: ['A WEEK. It took him one week.', 'We broke up Tuesday. He posted her Friday.', 'He replaced me like I was nothing.'] },\r\n    { context: 'HE\\'S STALKING HER SOCIALS', hint: 'He watches every story, likes old pics, views her Close Friends — but won\\'t text her after the breakup. She finally calls him out. He denies or deflects.',\r\n      hookTexts: ['He won\\'t text but watches every story', 'My ex lurks but won\\'t say anything', 'He liked a pic from 47 weeks ago'],\r\n      hookVOs: ['You watch every story but won\\'t text?', 'He liked a photo from LAST YEAR.', 'Pick one. Stalk me or leave me alone.'] },\r\n    { context: 'THE CLOSURE TRAP', hint: 'He texts wanting \"closure\" but it\\'s really about HIS feelings and ego, not hers. He wants to know if she\\'s seeing someone, if she misses him. It\\'s not closure, it\\'s control.',\r\n      hookTexts: ['He said he needs \"closure\" but look', 'This isn\\'t closure this is control', 'My ex wanted closure and asked THIS'],\r\n      hookVOs: ['That\\'s not closure. That\\'s an interrogation.', '\"Closure\" but he just wants to know if I moved on.', 'He doesn\\'t want closure. He wants control.'] },\r\n    { context: 'SHE\\'S THRIVING AND HE CAN\\'T HANDLE IT', hint: 'She posted herself looking good, going out, living her best life after the breakup. He saw it and suddenly needs to text her. She sees right through it.',\r\n      hookTexts: ['I posted and suddenly he texts', 'He saw my story and couldn\\'t handle it', 'The second I look happy he appears'],\r\n      hookVOs: ['One post and he\\'s in my DMs again.', 'I\\'m thriving and he can\\'t stand it.', 'He saw me happy and panicked.'] },\r\n    { context: 'STUFF EXCHANGE EXCUSE', hint: 'He texts about getting his stuff back or returning hers — but it\\'s clearly just an excuse to see her/talk to her. The \"stuff\" could have been picked up weeks ago.',\r\n      hookTexts: ['He suddenly needs his hoodie back', '\"I need my stuff\" after three weeks', 'The excuse to text me was a HOODIE'],\r\n      hookVOs: ['It\\'s been three weeks. NOW you need it?', 'He doesn\\'t want his stuff. He wants me.', 'A hoodie. That\\'s the excuse he picked.'] },\r\n    { context: 'THE GUILT TRIP RETURN', hint: 'He texts making HER feel bad for the breakup — \"I haven\\'t been okay since you left\", \"I can\\'t eat, I can\\'t sleep\" — weaponizing his sadness to manipulate her back.',\r\n      hookTexts: ['He\\'s using his sadness to get me back', 'He said he can\\'t eat or sleep since', 'The guilt trip after the breakup'],\r\n      hookVOs: ['He\\'s weaponizing his feelings. Classic.', '\"I can\\'t sleep since you left.\" Bro stop.', 'He wants me to feel guilty for leaving.'] },\r\n  ],\r\n  'crush': [\r\n    { context: 'HE STARTS SWEET THEN FLIPS', hint: 'Her crush opens sweet/flirty but within a few messages shows red flags — goes cold, gets dismissive, or reveals something sketchy.',\r\n      hookTexts: ['He flirted and then did THIS', 'The switch up was so fast', 'He was sweet for exactly two minutes'],\r\n      hookVOs: ['He was so cute and then just flipped.', 'The switch from sweet to cold? Insane.', 'Two texts in and he already changed.'] },\r\n    { context: 'LATE NIGHT BREADCRUMB', hint: 'Her crush only texts at night. \"wyd\" at midnight but never during the day. She\\'s reading into every message.',\r\n      hookTexts: ['He only texts me after midnight', 'Daytime me doesn\\'t exist to him', 'The \"wyd\" always comes at 1am'],\r\n      hookVOs: ['He texts at 1am but not at 1pm.', 'I only exist to him after midnight.', 'Not one text during the day. Not one.'] },\r\n    { context: 'GHOSTING COMEBACK', hint: 'Her crush disappeared for days after they were texting constantly. Now he\\'s back acting casual. She\\'s confused.',\r\n      hookTexts: ['He ghosted then came back like nothing', 'Four days of silence then \"heyyy\"', 'The casual comeback after ghosting me'],\r\n      hookVOs: ['Four days. Then \"heyyy\" like nothing.', 'He vanished and came back smiling.', 'We were texting every day then poof.'] },\r\n    { context: 'MIXED SIGNALS OVERLOAD', hint: 'Her crush is hot and cold — super flirty one moment, then \"haha\" the next. She can\\'t tell if he\\'s interested or just bored.',\r\n      hookTexts: ['The mixed signals are killing me', 'One minute flirty next minute \"haha\"', 'If you overthink texts don\\'t watch this'],\r\n      hookVOs: ['Flirty then dry. Flirty then dry. WHICH.', 'I genuinely cannot read this person.', 'He\\'s interested or bored? I can\\'t tell.'] },\r\n    { context: 'THE FRIEND ZONE FLIP', hint: 'She thought they had something but he mentions another girl casually, or calls her \"bro\", or treats her like a buddy. Confusing signals.',\r\n      hookTexts: ['He called me \"bro\" after all that', 'He mentioned another girl so casually', 'The friend zone hit out of NOWHERE'],\r\n      hookVOs: ['\"Bro.\" He called me BRO.', 'He brought up another girl like nothing.', 'After all that flirting I\\'m still \"bro.\"'] },\r\n    { context: 'SOCIAL MEDIA GAMES', hint: 'Her crush liked all her posts, watched every story, but won\\'t text first. Or he\\'s flirting in DMs but ignores her in person/group settings.',\r\n      hookTexts: ['He likes every post but won\\'t text', 'All my stories watched zero texts sent', 'He\\'s in my DMs but ignores me in person'],\r\n      hookVOs: ['Every story. Every post. Zero texts.', 'He flirts online but ignores me in person.', 'You\\'ll like my pic but not text me?'] },\r\n    { context: 'THE OTHER GIRL REVEAL', hint: 'She finds out her crush is talking to someone else the whole time. A friend told her, or she saw something on his socials. Her world shifts.',\r\n      hookTexts: ['He was talking to her the WHOLE time', 'My friend showed me his other texts', 'There was another girl this entire time'],\r\n      hookVOs: ['The whole time. He had someone else.', 'My friend showed me and I felt sick.', 'I was falling for him while he was...'] },\r\n    { context: 'SHE SHOT HER SHOT', hint: 'She finally confessed her feelings or made a move — and his response was confusing, dismissive, or he changed the subject. The rejection is the red flag, not her feelings.',\r\n      hookTexts: ['I told him how I feel and he said', 'Shot my shot and got THIS back', 'His response to my feelings was insane'],\r\n      hookVOs: ['I told him and he just... changed the topic.', 'Shot my shot and got \"lol thanks.\"', 'The way he responded broke something in me.'] },\r\n    { context: 'HE FLIRTS WITH HER FRIEND', hint: 'He starts giving attention to her friend right in front of her — liking her friend\\'s pics, texting her friend, complimenting her friend. She\\'s crushed but trying to play it cool.',\r\n      hookTexts: ['He started flirting with my FRIEND', 'He liked all her pics not mine', 'The way he looks at her and not me'],\r\n      hookVOs: ['My friend. He picked my FRIEND.', 'He complimented her right in front of me.', 'He\\'s liking HER pics now. Cool.'] },\r\n    { context: 'THE \"YOU\\'RE LIKE A SISTER\" BOMB', hint: 'After weeks of flirty energy, he casually drops \"you\\'re like a sister to me\" or \"you\\'re one of the boys\". She\\'s devastated but has to act chill.',\r\n      hookTexts: ['He said I\\'m \"like a sister\"', 'After all that flirting he said THIS', 'From flirty to \"you\\'re one of the boys\"'],\r\n      hookVOs: ['\"Like a sister.\" After all that? Wow.', 'A SISTER. He said I\\'m like a sister.', 'He flirted for weeks then brotherzoned me.'] },\r\n    { context: 'DIFFERENT IN PUBLIC VS DMs', hint: 'In DMs he\\'s flirty, attentive, sends good morning texts. In person at school/parties he barely acknowledges her. She confronts the inconsistency.',\r\n      hookTexts: ['In DMs vs in person are two different guys', 'He texts good morning but ignores me at school', 'Online boyfriend in-person stranger'],\r\n      hookVOs: ['In texts he\\'s perfect. In person? Nothing.', 'Good morning texts but won\\'t say hi at school.', 'Two completely different people I swear.'] },\r\n    { context: 'THE JEALOUSY TEST', hint: 'She mentions another guy to see his reaction — or he mentions another girl to test hers. Someone\\'s playing games and the other catches on.',\r\n      hookTexts: ['I mentioned a guy and he SNAPPED', 'He brought up another girl on purpose', 'The jealousy test backfired completely'],\r\n      hookVOs: ['I mentioned one name and he lost it.', 'He brought her up to see my reaction.', 'The test exposed everything.'] },\r\n  ],\r\n  'situationship': [\r\n    { context: 'THE \"WHAT ARE WE\" TALK', hint: 'She asks her situationship about the relationship status. He dodges, deflects, gets annoyed, or gives a non-answer like \"why do we need labels\".',\r\n      hookTexts: ['I asked \"what are we\" and he said', 'He got annoyed I asked about us', 'His answer to \"what are we\" was WILD'],\r\n      hookVOs: ['\"Why do we need labels?\" BECAUSE.', 'I asked one question and he panicked.', 'He dodged the question so hard.'] },\r\n    { context: 'LATE NIGHT BREADCRUMB', hint: 'Her situationship only hits her up late at night. Never during the day, never for real plans. She calls it out.',\r\n      hookTexts: ['He only wants me after midnight', 'Not one daytime text in weeks', 'The \"wyd\" is always at 1am never 1pm'],\r\n      hookVOs: ['I only exist to him past midnight.', 'One pm? Nothing. One am? \"Wyd.\"', 'He never texts during actual daylight.'] },\r\n    { context: 'JEALOUSY SPIRAL', hint: 'She saw something on social media (him with another girl) but they\\'re \"not official\" so he says she has no right to be upset.',\r\n      hookTexts: ['He said I have no right to be upset', '\"We\\'re not official\" but look at THIS', 'He\\'s with her but I can\\'t say anything'],\r\n      hookVOs: ['\"We\\'re not together\" but acts like we are?', 'So I can\\'t be upset? Make it make sense.', 'Not official enough for labels but for jealousy?'] },\r\n    { context: 'SHE SETS A BOUNDARY', hint: 'She tries to set expectations in the situationship. He guilt-trips or says \"I thought we were just having fun\" or \"don\\'t make this weird\".',\r\n      hookTexts: ['He said I\\'m \"making it weird\"', 'I set a boundary and he panicked', 'Having standards is \"too much\" apparently'],\r\n      hookVOs: ['\"Don\\'t make this weird.\" Having NEEDS is weird?', 'I asked for bare minimum and he ran.', '\"We\\'re just having fun\" then why am I crying?'] },\r\n    { context: 'DOUBLE STANDARDS', hint: 'He acts like her boyfriend (gets jealous, texts 24/7) but won\\'t commit. She calls out the double standard.',\r\n      hookTexts: ['Acts like my boyfriend but won\\'t commit', 'Jealous but \"we\\'re not together\" okay', 'All the boyfriend behavior none of the title'],\r\n      hookVOs: ['Boyfriend behavior but no boyfriend title.', 'He gets jealous but won\\'t be official?', 'So you ACT like my man but won\\'t BE my man.'] },\r\n    { context: 'GHOSTING COMEBACK', hint: 'Her situationship disappeared for a week then texts \"hey\" like nothing happened. No explanation, no apology. Classic breadcrumb.',\r\n      hookTexts: ['A week of nothing then just \"hey\"', 'He came back with zero explanation', 'The audacity of this \"hey\" text'],\r\n      hookVOs: ['A whole week. Then \"hey.\" That\\'s it.', 'No explanation. No sorry. Just \"hey.\"', 'He popped back up like he didn\\'t vanish.'] },\r\n    { context: 'APOLOGY GONE WRONG', hint: 'He stood her up or did something shitty and his \"apology\" is just \"my bad\" or \"i was busy\". Zero accountability.',\r\n      hookTexts: ['His apology was literally \"my bad\"', 'He stood me up and said THIS', 'The most pathetic apology ever sent'],\r\n      hookVOs: ['\"My bad.\" That\\'s the whole apology.', 'He stood me up and said \"I was busy.\"', 'Two words. His whole apology was two words.'] },\r\n    { context: 'HE INTRODUCED HER AS \"A FRIEND\"', hint: 'After months of acting like a couple, he introduces her to his friends as \"just a friend\" or \"someone I know\". She confronts him after.',\r\n      hookTexts: ['He called me \"a friend\" in front of everyone', 'Months of dating and I\\'m \"someone he knows\"', '\"Just a friend\" after all we did'],\r\n      hookVOs: ['\"A friend.\" After everything. A FRIEND.', 'He introduced me as nobody basically.', 'Months together and I\\'m \"someone I know.\"'] },\r\n    { context: 'HE\\'S ON DATING APPS', hint: 'She found his profile on Hinge/Tinder/Bumble while they\\'ve been \"seeing each other\" for weeks. She confronts him. He says \"we never said we were exclusive\".',\r\n      hookTexts: ['Found him on Hinge while \"talking\"', 'His dating profile was still very active', 'He said \"we never said exclusive\" okay'],\r\n      hookVOs: ['Active on Hinge while texting me daily.', '\"We never said exclusive.\" Wow. Just wow.', 'His profile was UPDATED. Recently.'] },\r\n    { context: 'THE \"I\\'M NOT READY\" EXCUSE', hint: 'He says he\\'s \"not ready for a relationship\" but treats her like a girlfriend when it\\'s convenient — wants her time, attention, intimacy, just not the label.',\r\n      hookTexts: ['\"Not ready\" but wants girlfriend privileges', 'He wants everything except the title', 'Ready for benefits not for commitment'],\r\n      hookVOs: ['\"Not ready\" but wants all my time? Pick one.', 'He wants everything but the label.', 'Ready to date me. Just not officially.'] },\r\n    { context: 'HOLIDAY/BIRTHDAY TEST', hint: 'Her birthday or a holiday (Valentine\\'s, NYE) came and he did absolutely NOTHING. No text, no gift, no plans. But he expects her to be available for him.',\r\n      hookTexts: ['My birthday and he did absolutely NOTHING', 'Valentine\\'s Day and not even a text', 'He forgot but still expected me around'],\r\n      hookVOs: ['My birthday. Nothing. Not even a text.', 'Valentine\\'s Day and radio silence.', 'He forgot but texted me the next day.'] },\r\n    { context: 'HIS FRIENDS DON\\'T KNOW SHE EXISTS', hint: 'She met his friends and they had NO idea who she was. After weeks/months of being together, he never even mentioned her. She confronts the humiliation.',\r\n      hookTexts: ['His friends had no idea who I was', 'Months together and nobody knows I exist', 'They asked \"who\\'s this?\" and I DIED'],\r\n      hookVOs: ['His friends said \"who\\'s this?\" I\\'m done.', 'Months. He never mentioned me once.', 'They didn\\'t even know my NAME.'] },\r\n  ],\r\n  'talking': [\r\n    { context: 'GHOSTING COMEBACK', hint: 'They were in the talking stage, he disappeared for days, now he\\'s back with a casual \"heyyy\". She either confronts or plays it cool.',\r\n      hookTexts: ['He ghosted then came back with \"heyyy\"', 'The casual comeback after disappearing', 'Three days gone then acts like nothing'],\r\n      hookVOs: ['Three days gone. Then \"heyyy.\" Seriously?', 'He vanished and came back smiling.', 'No explanation. Just \"heyyy\" and a smile.'] },\r\n    { context: 'LATE NIGHT BREADCRUMB', hint: 'The guy she\\'s been talking to only texts at night. \"wyd\" at 1am but never follows up during the day.',\r\n      hookTexts: ['We\\'ve been talking and he ONLY texts at night', 'The talking stage is 1am texts only', 'Daytime doesn\\'t exist in this talking stage'],\r\n      hookVOs: ['He only knows how to text after midnight.', 'Talking stage but only past 1am.', 'Not one morning text. Not one.'] },\r\n    { context: 'HE STARTS SWEET THEN FLIPS', hint: 'He was being super attentive in the talking stage but suddenly goes cold, dry texts, takes hours to reply.',\r\n      hookTexts: ['The switch up after TWO WEEKS', 'He was perfect then completely flipped', 'From paragraphs to \"k\" overnight'],\r\n      hookVOs: ['He was perfect for two weeks then poof.', 'Paragraphs turned to \"k\" overnight.', 'The switch was so fast I got whiplash.'] },\r\n    { context: 'MIXED SIGNALS OVERLOAD', hint: 'In the talking stage, he\\'s sending mixed signals — super interested one day, distant the next. She can\\'t read him.',\r\n      hookTexts: ['The talking stage mixed signals are INSANE', 'Interested yesterday ignored today', 'He acts different every single day'],\r\n      hookVOs: ['Yesterday flirty. Today invisible. What.', 'I can\\'t keep up with this man.', 'Pick a personality and stick with it bro.'] },\r\n    { context: 'SOCIAL MEDIA GAMES', hint: 'They\\'re in the talking stage but she notices he\\'s liking other girls\\' pics, or he posts but doesn\\'t reply to her texts.',\r\n      hookTexts: ['He\\'s liking her pics but not texting me', 'Active on stories but ignores my text', 'The social media told me everything'],\r\n      hookVOs: ['Online liking pics. Offline ignoring me.', 'He posted but my text? Still unanswered.', 'He\\'s active everywhere except my chat.'] },\r\n    { context: 'THE \"WHAT ARE WE\" TALK', hint: 'They\\'ve been talking for weeks and she tries to figure out where it\\'s going. He gives vague answers or changes the subject.',\r\n      hookTexts: ['Three weeks in and he still won\\'t say', 'I asked where this is going and he', 'The vaguest answer to \"what are we\"'],\r\n      hookVOs: ['Three weeks in and no answer. None.', 'He dodged it like I asked for a kidney.', '\"We\\'ll see.\" That\\'s all I got.'] },\r\n    { context: 'FRIEND EXPOSED HIM', hint: 'Her friend found out the guy she\\'s been talking to is also talking to other girls. She confronts him.',\r\n      hookTexts: ['My friend found out about the others', 'She showed me his texts to another girl', 'The talking stage just got exposed'],\r\n      hookVOs: ['My friend showed me and I was done.', 'He\\'s running the same texts on everyone.', 'She showed me his other conversations.'] },\r\n    { context: 'HE\\'S TALKING TO MULTIPLE GIRLS', hint: 'She found out she\\'s one of many — he\\'s running the same game on multiple girls at once. A friend showed her, or she saw proof. He says \"we\\'re not exclusive tho\".',\r\n      hookTexts: ['I was one of MANY the whole time', 'Same texts copy pasted to other girls', 'He\\'s talking to how many girls???'],\r\n      hookVOs: ['I wasn\\'t the only one. Not even close.', 'Same message. Word for word. To her too.', '\"We\\'re not exclusive.\" We\\'re not anything.'] },\r\n    { context: 'THE DRY TEXTER SWITCH', hint: 'He went from sending paragraphs and memes to \"k\" and \"lol\" overnight. No explanation. She\\'s confused and hurt but it\\'s only been a few weeks so she feels she can\\'t even complain.',\r\n      hookTexts: ['From paragraphs to \"k\" in one day', 'The dry texter era started overnight', 'He used to send memes now he sends \"lol\"'],\r\n      hookVOs: ['Paragraphs to \"k.\" What did I do?', 'He used to text first. Now? \"Lol.\"', 'One day he just stopped trying.'] },\r\n    { context: 'LOVE BOMB THEN CRASH', hint: 'He came on SUPER strong in the first few days — \"you\\'re different\", \"I\\'ve never felt this way\" — then completely flipped. Classic early-stage love bombing that crashes.',\r\n      hookTexts: ['He said \"you\\'re different\" then vanished', '\"I\\'ve never felt this way\" lasted 4 days', 'The love bombing crash was BRUTAL'],\r\n      hookVOs: ['\"You\\'re different.\" That lasted four days.', 'He came on SO strong then disappeared.', '\"I\\'ve never felt this way\" and then silence.'] },\r\n    { context: 'FIRST DATE RED FLAGS', hint: 'They met up for the first time and something happened — he was rude to the waiter, checked out other girls, talked about his ex the whole time, or showed controlling behavior. She texts about it after.',\r\n      hookTexts: ['First date and he already showed flags', 'He talked about his ex the WHOLE date', 'What he did on the first date was insane'],\r\n      hookVOs: ['First date and he brought up his ex. Twice.', 'He was rude to the waiter. Immediate ick.', 'One date and I already know enough.'] },\r\n    { context: 'THE SCREENSHOT EXPOSURE', hint: 'His friend or her friend screenshotted something — he was talking shit about her, or bragging to his boys, or his texts to another girl got leaked to her.',\r\n      hookTexts: ['The screenshot his friend sent me', 'What he said about me to his boys', 'His texts got leaked and I SAW'],\r\n      hookVOs: ['His friend sent me the screenshot.', 'He was talking about me to his boys and...', 'The texts got leaked. I saw everything.'] },\r\n  ],\r\n};\r\n\r\n// Pick context that's compatible with the relationship status\r\nconst compatibleContexts = STATUS_CONTEXT_MAP[randomRelStatus] || STATUS_CONTEXT_MAP['boyfriend'];\r\nconst randomContext = compatibleContexts[Math.floor(Math.random() * compatibleContexts.length)];\r\n\r\n// Force a specific score each run (Gemini defaults to 85 every time without this)\r\n// Toxic score range: 70-99 → overallScore range: 1-30\r\nconst randomToxicScore = Math.floor(Math.random() * 30) + 70; // 70-99\r\nconst randomOverallScore = 100 - randomToxicScore;\r\n\r\nconst userPrompt = `Generate a ContentScenario JSON with these parameters:\r\n\r\nCONCEPT: ${concept.concept_name}\r\nCONCEPT DESCRIPTION: ${concept.description || 'General relationship chat analysis video'}\r\nVIBE: ${vibe}\r\nAPP STYLE: ${appStyle}\r\nPERSON GENDER: ${personGender}\r\nSCENARIO ID: \"${scenarioName}\"\r\nSCENARIOS NEEDED: ${concept.scenarios_per_video || 1}\r\n\r\nBODY CLIP STRUCTURE (what the video will show):\r\n${bodyClipsFormatted}\r\n\r\n🎲 CHAT CONTEXT FOR THIS SCENARIO: ${randomContext.context}\r\n${randomContext.hint}\r\nYou MUST use this specific context as the starting point for the chat. Do NOT ignore this and default to \"how was your night\".\r\n\r\n🎯 SCORE FOR THIS SCENARIO: overallScore MUST be exactly ${randomOverallScore} (toxic score = ${randomToxicScore}/100).\r\nDo NOT change this number. Use exactly ${randomOverallScore} for overallScore in your JSON output.\r\n\r\n🎲 CONTACT NAME: Use exactly \"${randomName}\" as the contactName.\r\n\r\n🎲 RELATIONSHIP STATUS: \"${randomRelStatus}\"\r\n\r\n⚠️ STATUS ANCHOR RULE — THE CHAT WILL BE REJECTED IF YOU IGNORE THIS ⚠️\r\nSomewhere in the chat, at least ONE message MUST contain a phrase that makes the \"${randomRelStatus}\" status UNMISTAKABLE.\r\nA viewer reading ONLY the messages (no status pill) must be able to tell the relationship dynamic.\r\nThe validator checks for status-specific keywords — if NONE are found, the scenario is REJECTED.\r\nDO NOT copy these phrases word-for-word. Weave them NATURALLY into the conversation wherever they fit best.\r\n\r\n${ randomRelStatus === 'ex' ? `STATUS: EX — They already broke up. This is a post-breakup conversation.\r\nThe chat MUST naturally include at least ONE reference to the breakup. These can appear ANYWHERE in the conversation, from either sender:\r\n\"broke up\" / \"breakup\" / \"when we were together\" / \"when we were dating\" / \"my ex\" / \"we ended\" / \"after we split\" / \"not together anymore\" / \"we're done\" / \"moved on\" / \"after the breakup\"\r\nThe breakup reference should feel ORGANIC — part of the argument/drama, not a forced label.` : '' }${ randomRelStatus === 'crush' ? `STATUS: CRUSH — She likes him but they're NOT together. One-sided attraction energy.\r\nThe chat MUST naturally include at least ONE reference to unrequited feelings or the friend-zone dynamic:\r\n\"i like you\" / \"catch feelings\" / \"caught feelings\" / \"just friends\" / \"friend zone\" / \"do you like me\" / \"crush\" / \"more than friends\" / \"into me\" / \"feel the same\" / \"feelings for\"\r\nThe attraction tension should feel ORGANIC — part of the awkwardness/mixed signals.` : '' }${ randomRelStatus === 'boyfriend' ? `STATUS: BOYFRIEND — They are officially together. Active relationship.\r\nThe chat MUST naturally include at least ONE reference to their official status:\r\n\"my boyfriend\" / \"my bf\" / \"your girlfriend\" / \"your gf\" / \"we've been together\" / \"in this relationship\" / \"our relationship\" / \"we're dating\" / \"our anniversary\" / \"dating for\"\r\nThe relationship reference should feel ORGANIC — part of the argument (e.g., \"you're my boyfriend and you still act single\").` : '' }${ randomRelStatus === 'situationship' ? `STATUS: SITUATIONSHIP — They act like a couple but he won't commit or define it.\r\nThe chat MUST naturally include at least ONE reference to the undefined status:\r\n\"what are we\" / \"are we together\" / \"not even official\" / \"won't commit\" / \"call me your girlfriend\" / \"just having fun\" / \"just vibing\" / \"not even dating\" / \"labels\" / \"situationship\" / \"girlfriend stuff\" / \"boyfriend privileges\"\r\nThe ambiguity should feel ORGANIC — part of her frustration with the undefined relationship.` : '' }${ randomRelStatus === 'talking' ? `STATUS: TALKING STAGE — They just started texting / getting to know each other.\r\nThe chat MUST naturally include at least ONE reference to the early stage:\r\n\"we've been talking\" / \"talking stage\" / \"just started talking\" / \"barely know\" / \"only been talking\" / \"only been texting\" / \"just met\" / \"been texting for\" / \"just started texting\"\r\nThe early-stage reference should feel ORGANIC — part of the \"already showing red flags\" tension.` : '' }\r\n\r\n⚠️ THE #1 RULE — READ THIS FIRST ⚠️\r\nThe CHAT ITSELF must contain ACTUAL TOXIC BEHAVIOR. NOT a normal conversation with a toxic analysis slapped on top.\r\nA boring chat like \"hey how was your day\" \"good\" \"cool wyd tonight\" \"hanging w the guys\" is WORTHLESS — it gets zero views on TikTok.\r\n\r\nTHE CHAT MUST CONTAIN AT LEAST 2 OF THESE IN THE ACTUAL MESSAGES (use REALISTIC guy texting, not perfect grammar):\r\n- Him dismissing her feelings (\"you're doing too much rn\", \"chill lol\", \"ok\", \"whatever\")\r\n- Him gaslighting (\"nah that's not what happened\", \"lol you're making stuff up\", \"i literally never said that\")\r\n- Him deflecting (\"wdym\", \"why does it even matter\", \"bro can we not do this rn\")\r\n- Him caught lying or being sketchy (\"she's just a friend lol\", \"it wasn't like that\", \"ion even know her like that\")\r\n- Him being passive-aggressive (\"k\", \"aight\", \"cool\", \"whatever you want lol\")\r\n- Him guilt-tripping (\"after everything i did\", \"so nothing i do is enough? cool\")\r\n- Him going cold after being warm\r\n\r\nIf the chat reads like a normal healthy conversation, YOU HAVE FAILED. Start over mentally.\r\n\r\nGenerate the scenario now. Remember:\r\n- The chat must be VIRAL — dramatic, toxic, the kind that gets millions of views on TikTok\r\n- The toxicity must be IN THE MESSAGES, not just in the analysis\r\n- At least ONE message that makes you go \"oh HELL no\" or \"wait WHAT\"\r\n- Real texting style (lowercase, abbreviations, emojis) but TOXIC content\r\n- HIS messages need a REALISTIC MIX of lengths — NOT all one-word throwaways. 30% short (1-4 words: \"lol ok\", \"wdym\", \"nah\"), 50% medium (5-15 words: \"i was at mike's you can ask him\", \"bro it was one like who cares\"), 20% slightly longer (15-25 words — when he's deflecting, explaining himself, or gaslighting). If ALL his messages are 1-4 words the chat looks STAGED and FAKE. A real guy alternates between lazy short texts and actual responses. NO perfect grammar, NO articulate explanations. Use \"lol\", \"wdym\", \"nah\", \"bruh\", \"ion\", \"aight\" naturally. Drop pronouns (\"was at mike's\" not \"I was at Mike's\"). If his messages read like a script or an essay, START OVER. If ALL his messages are monosyllabic throwaways, also START OVER — that's equally fake.\r\n- 14-22 messages in the conversation\r\n- The analysis must MATCH the chat content — if the chat is toxic, the analysis reflects WHY it's toxic\r\n- personName = \"${personGender === 'male' ? 'Him' : 'Her'}\"\r\n- messageInsights[].message must be EXACT quotes from chat.messages[].text you generated above. NEVER invent messages that aren't in the chat. Copy-paste ONLY.\r\n- Include exactly 4-5 messageInsights with proper tag mix for \"${vibe}\" vibe\r\n- All soul type IDs must be from the valid list\r\n- 5 traits per person, no banned traits\r\n- ALL messageInsights \"solution\" field = psychological decoding (\"What It Really Means\"), NEVER advice. This applies to RED FLAG, GREEN FLAG, AND DECODED equally.`;\r\n\r\n// Output system + user prompts for the Basic LLM Chain node (Gemini 2.0 Flash)\r\nreturn [{\r\n  json: {\r\n    systemPrompt,\r\n    userPrompt,\r\n    randomRelStatus,\r\n    randomName,\r\n    // Pass selected context with situation-specific hook examples for copy generation\r\n    selectedContext: {\r\n      context: randomContext.context,\r\n      hookTexts: randomContext.hookTexts || [],\r\n      hookVOs: randomContext.hookVOs || [],\r\n    },\r\n    // Pass templates through for content copy generation later\r\n    bodyClipsFormatted,\r\n    captionTemplates,\r\n    voTemplates,\r\n    hookTexts,\r\n    socialExamples\r\n  }\r\n}];\r\n"
      },
      "id": "64f921b1-ff5d-4fb8-aaf0-21f5d9a46e84",
      "name": "Build Scenario Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Validate Scenario\n// Parses Gemini response and validates the ContentScenario JSON\n// Mode: Run Once for All Items\n\n// Basic LLM Chain outputs { text: \"...\" } with the raw LLM response\nconst llmOutput = $input.first().json;\nconst { vibe } = $('Select Concept').first().json;\nconst { randomRelStatus, randomName } = $('Build Scenario Prompt').first().json;\n\n// --- JSON Repair utility ---\nfunction repairJson(raw) {\n  let s = raw;\n\n  // 1. Strip markdown code fences\n  s = s.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  // Replace smart/curly quotes with straight quotes\n  s = s.replace(/[\\u201C\\u201D]/g, '\"').replace(/[\\u2018\\u2019]/g, \"'\");\n\n  // 2. Extract JSON object if there's text before/after it\n  const firstBrace = s.indexOf('{');\n  const lastBrace = s.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace > firstBrace) {\n    s = s.substring(firstBrace, lastBrace + 1);\n  }\n\n  // 3. Remove control characters\n  s = s.replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]/g, '');\n\n  // 4. Smart quote repair: walk through and escape internal quotes\n  // When we see a \" inside a string, peek ahead — if the next non-whitespace\n  // char is NOT valid JSON continuation (, } ] :), it's an internal quote\n  let result = '';\n  let inString = false;\n  let escaped = false;\n  for (let i = 0; i < s.length; i++) {\n    const ch = s[i];\n    if (escaped) { result += ch; escaped = false; continue; }\n    if (ch === '\\\\') { result += ch; escaped = true; continue; }\n    if (ch === '\"') {\n      if (!inString) {\n        inString = true;\n        result += ch;\n      } else {\n        // Peek ahead: skip whitespace/newlines to find next meaningful char\n        let peekIdx = i + 1;\n        while (peekIdx < s.length && /[\\s\\r\\n]/.test(s[peekIdx])) peekIdx++;\n        const nextChar = peekIdx < s.length ? s[peekIdx] : '';\n        // Valid JSON after closing a string value: , } ] : or EOF\n        if (nextChar === ',' || nextChar === '}' || nextChar === ']' || nextChar === ':' || nextChar === '') {\n          inString = false;\n          result += ch;\n        } else {\n          // Internal quote — escape it\n          result += '\\\\\"';\n        }\n      }\n      continue;\n    }\n    if (inString && ch === '\\n') { result += '\\\\n'; continue; }\n    if (inString && ch === '\\r') { continue; }\n    result += ch;\n  }\n  s = result;\n\n  // 5. Fix trailing commas before } or ]\n  s = s.replace(/,\\s*([\\]}])/g, '$1');\n\n  return s;\n}\n\n// Extract JSON from LLM output\n// The output parser may have already parsed it into an object\nlet scenario;\ntry {\n  const raw = llmOutput.output || llmOutput.text || llmOutput;\n\n  if (typeof raw === 'object' && raw !== null) {\n    // Already parsed by Structured Output Parser\n    scenario = raw;\n  } else {\n    // Raw string — parse with repair\n    const repaired = repairJson(String(raw));\n    scenario = JSON.parse(repaired);\n  }\n} catch (e1) {\n  try {\n    const raw = llmOutput.output || llmOutput.text || llmOutput;\n    let repaired = repairJson(String(raw));\n    repaired = repaired.replace(/[\\u201C\\u201D\\u2018\\u2019]/g, '\"');\n    const posMatch = e1.message.match(/position (\\d+)/);\n    if (posMatch) {\n      const pos = parseInt(posMatch[1]);\n      repaired = repaired.substring(0, pos) + '\\\\' + repaired.substring(pos);\n    }\n    scenario = JSON.parse(repaired);\n  } catch (e2) {\n    return [{ json: { valid: false, errors: ['JSON parse failed after repair: ' + e1.message], scenario: null } }];\n  }\n}\n\nconst errors = [];\n\n// --- Required top-level fields ---\nif (!scenario.id) errors.push('Missing id');\nif (!scenario.chat) errors.push('Missing chat');\nif (!scenario.results) errors.push('Missing results');\n\nif (scenario.chat) {\n  if (!scenario.chat.contactName) errors.push('Missing chat.contactName');\n  if (!['imessage', 'instagram', 'whatsapp'].includes(scenario.chat.appStyle)) {\n    errors.push('Invalid appStyle: ' + scenario.chat.appStyle);\n  }\n  if (!Array.isArray(scenario.chat.messages) || scenario.chat.messages.length < 12) {\n    errors.push('Too few messages: ' + (scenario.chat.messages ? scenario.chat.messages.length : 0) + ' (min 12)');\n  }\n  if (scenario.chat.messages && scenario.chat.messages.length > 25) {\n    errors.push('Too many messages: ' + scenario.chat.messages.length + ' (max 25)');\n  }\n  // Validate each message\n  if (scenario.chat.messages) {\n    scenario.chat.messages.forEach((msg, i) => {\n      if (!['them', 'me'].includes(msg.sender)) errors.push('Message ' + i + ': invalid sender \"' + msg.sender + '\"');\n      if (!msg.text || typeof msg.text !== 'string') errors.push('Message ' + i + ': missing or invalid text');\n    });\n\n    // --- Chat toxicity check: \"them\" messages must contain actual conflict/tension ---\n    const theirMessages = scenario.chat.messages.filter(m => m.sender === 'them').map(m => m.text.toLowerCase());\n    const allTheirText = theirMessages.join(' ');\n    const TOXIC_INDICATORS = [\n      'dramatic', 'chill', 'relax', 'calm down', 'whatever', 'idc', 'i don\\'t care',\n      'why does it matter', 'big deal', 'overreact', 'insecure', 'crazy', 'psycho',\n      'it\\'s not like that', 'just a friend', 'you always', 'k', 'fine', 'i never said',\n      'that\\'s not what', 'leave me alone', 'i don\\'t have time', 'i was busy',\n      'stop', 'enough', 'you\\'re tripping', 'not my problem', 'lol ok', 'bye',\n      'who cares', 'get over it', '...', 'nah', 'smh', 'bro', 'dude'\n    ];\n    const toxicHits = TOXIC_INDICATORS.filter(t => allTheirText.includes(t));\n    if (toxicHits.length < 2) {\n      errors.push('Chat lacks toxicity: \"them\" messages contain only ' + toxicHits.length + ' toxic indicators (need 2+). Chat may be too boring/normal.');\n    }\n  }\n\n  // --- Relationship status coherence check ---\n  // The chat MUST contain explicit phrases that match the assigned relationship status.\n  // Without these, a viewer can't tell the status from the chat alone.\n  if (randomRelStatus && scenario.chat.messages) {\n    const allChatText = scenario.chat.messages.map(m => m.text.toLowerCase()).join(' ');\n\n    const STATUS_KEYWORDS = {\n      'ex': [\n        'broke up', 'breakup', 'break up', 'broken up',\n        'when we were together', 'when we were dating',\n        'my ex', 'you\\'re my ex', 'youre my ex',\n        'we ended', 'after we split', 'since we split',\n        'not together anymore', 'we\\'re done', 'were done',\n        'already moved on', 'moved on',\n        'after everything we had',\n        'we\\'re not together', 'were not together',\n        'after the breakup', 'since the breakup',\n      ],\n      'boyfriend': [\n        'my boyfriend', 'my bf', 'your girlfriend', 'your gf',\n        'you\\'re my boyfriend', 'youre my boyfriend',\n        'as your girlfriend', 'as your gf',\n        'i\\'m your girlfriend', 'im your girlfriend',\n        'we\\'ve been together', 'weve been together', 'been together for',\n        'in this relationship', 'our relationship',\n        'we\\'re dating', 'were dating', 'we are dating',\n        'our anniversary', 'dating for',\n      ],\n      'crush': [\n        'i like you', 'i liked you', 'i\\'ve liked', 'ive liked',\n        'catch feelings', 'caught feelings', 'catching feelings',\n        'just friends', 'friend zone', 'friendzone',\n        'do you like me', 'does he like', 'do you like',\n        'my crush', 'have a crush', 'had a crush',\n        'are we just friends', 'more than friends',\n        'i didn\\'t think you', 'into me',\n        'feel the same', 'feelings for',\n      ],\n      'situationship': [\n        'what are we', 'are we together', 'are we official',\n        'not even official', 'not official',\n        'won\\'t commit', 'wont commit',\n        'call me your girlfriend', 'your girlfriend but',\n        'just having fun', 'just vibing',\n        'we\\'re not even together', 'not even dating',\n        'labels', 'define this', 'define what we',\n        'situationship',\n        'like your girlfriend but',\n        'girlfriend stuff', 'boyfriend privileges',\n      ],\n      'talking': [\n        'we\\'ve been talking', 'weve been talking', 'been talking for',\n        'talking stage', 'talking for like',\n        'just started talking', 'we just started',\n        'barely know', 'i barely know you',\n        'only been talking', 'only been texting',\n        'just met', 'just got your number',\n        'been texting for', 'texting for like',\n        'just started texting',\n      ],\n    };\n\n    const keywords = STATUS_KEYWORDS[randomRelStatus];\n    if (keywords) {\n      const statusHit = keywords.some(kw => allChatText.includes(kw));\n      if (!statusHit) {\n        errors.push('CRITICAL: Chat missing status anchor for \"' + randomRelStatus + '\". No keyword found that establishes the relationship status. The chat could be ANY status. Needs explicit reference like: ' + keywords.slice(0, 3).map(k => '\"' + k + '\"').join(', '));\n      }\n    }\n  }\n}\n\nconst r = scenario.results;\nif (r) {\n  // --- personName auto-fix ---\n  const expectedName = r.personGender === 'male' ? 'Him' : 'Her';\n  if (r.personName !== expectedName) {\n    errors.push('personName should be \"' + expectedName + '\", got \"' + r.personName + '\" (auto-fixed)');\n    r.personName = expectedName;\n  }\n\n  // --- Scores 0-100 ---\n  const scoreFields = ['overallScore', 'warmthScore', 'communicationScore', 'dramaScore', 'distanceScore', 'passionScore'];\n  scoreFields.forEach(field => {\n    const val = r[field];\n    if (typeof val !== 'number' || val < 0 || val > 100) {\n      errors.push(field + ' out of range: ' + val);\n    }\n  });\n\n  // --- Hard-code: toxic score must be 70+ (overallScore ≤ 30) for all vibes ---\n  if (typeof r.overallScore === 'number' && r.overallScore > 30) {\n    errors.push('overallScore=' + r.overallScore + ' too high (max 30, toxic score must be 70+) — auto-fixed to 30');\n    r.overallScore = 30;\n  }\n\n  // --- Valid soul type IDs ---\n  const MALE_SOUL_TYPES = [\n    'male-untamable', 'male-gentle-flame', 'male-silent-abyss', 'male-faded-crown',\n    'male-sweet-poison', 'male-wounded-prince', 'male-burning-promise', 'male-final-silence',\n    'male-dark-mirror', 'male-ice-charmer', 'male-silent-choke', 'male-shifting-flame',\n    'male-chameleon', 'male-star-collector'\n  ];\n  const FEMALE_SOUL_TYPES = [\n    'female-love-rush', 'female-natural-state', 'female-fire-dance', 'female-frozen-bloom',\n    'female-torn-silk', 'female-inner-voice', 'female-silent-venom', 'female-sunset-soul',\n    'female-deep-shadow', 'female-wild-luxury', 'female-living-maze', 'female-golden-rule',\n    'female-savage-grace', 'female-quiet-storm', 'female-rising-phoenix', 'female-liquid-mirror'\n  ];\n  const ALL_SOUL_TYPES = MALE_SOUL_TYPES.concat(FEMALE_SOUL_TYPES);\n\n  if (!ALL_SOUL_TYPES.includes(r.personSoulType)) {\n    errors.push('Invalid personSoulType: \"' + r.personSoulType + '\"');\n  }\n  if (!ALL_SOUL_TYPES.includes(r.userSoulType)) {\n    errors.push('Invalid userSoulType: \"' + r.userSoulType + '\"');\n  }\n\n  // Gender-soul type cross check\n  if (r.personGender === 'male' && r.personSoulType && !r.personSoulType.startsWith('male-')) {\n    errors.push('personGender=male but personSoulType is not male: ' + r.personSoulType);\n  }\n  if (r.personGender === 'male' && r.userSoulType && !r.userSoulType.startsWith('female-')) {\n    errors.push('personGender=male but userSoulType should be female: ' + r.userSoulType);\n  }\n  if (r.personGender === 'female' && r.personSoulType && !r.personSoulType.startsWith('female-')) {\n    errors.push('personGender=female but personSoulType is not female: ' + r.personSoulType);\n  }\n  if (r.personGender === 'female' && r.userSoulType && !r.userSoulType.startsWith('male-')) {\n    errors.push('personGender=female but userSoulType should be male: ' + r.userSoulType);\n  }\n\n  // --- Traits ---\n  if (!Array.isArray(r.personTraits) || r.personTraits.length !== 5) {\n    errors.push('personTraits must have exactly 5, got ' + (r.personTraits ? r.personTraits.length : 0));\n  }\n  if (!Array.isArray(r.userTraits) || r.userTraits.length !== 5) {\n    errors.push('userTraits must have exactly 5, got ' + (r.userTraits ? r.userTraits.length : 0));\n  }\n\n  // Banned traits filter\n  const BANNED = ['Early Stage', 'New Connection', 'Fresh Start', 'Getting to Know', 'Just Met', 'Beginning Phase'];\n  const allTraits = (r.personTraits || []).concat(r.userTraits || []);\n  allTraits.forEach(trait => {\n    if (BANNED.some(b => trait.toLowerCase().includes(b.toLowerCase()))) {\n      errors.push('Banned trait found: \"' + trait + '\"');\n    }\n  });\n\n  // --- Categories ---\n  const requiredCategories = ['intentions', 'chemistry', 'effort', 'redFlagsGreenFlags', 'trajectory'];\n  requiredCategories.forEach(cat => {\n    if (!r.categories || !r.categories[cat] || !r.categories[cat].description) {\n      errors.push('Missing or empty category: ' + cat);\n    }\n  });\n\n  // --- Message Insights ---\n  if (!Array.isArray(r.messageInsights)) {\n    errors.push('messageInsights is not an array');\n  } else {\n    if (r.messageInsights.length < 3 || r.messageInsights.length > 6) {\n      errors.push('messageInsights count=' + r.messageInsights.length + ' (need 3-6)');\n    }\n\n    // Check each insight message is an exact quote from chat\n    // Only \"them\" messages are valid for insights (we analyze the OTHER person, not the user)\n    const chatTexts = (scenario.chat && scenario.chat.messages ? scenario.chat.messages : []).map(m => m.text);\n    const theirChatTexts = (scenario.chat && scenario.chat.messages ? scenario.chat.messages : [])\n      .filter(m => m.sender === 'them')\n      .map(m => m.text);\n\n    // First pass: try to match/fix each insight\n    // STRICT matching: only exact match or case-insensitive exact match allowed.\n    // Substring matching was removed because it let hallucinated messages slip through\n    // by matching partial text fragments (e.g., hallucinated \"why does it matter to you\"\n    // would match real message containing \"does it matter\").\n    r.messageInsights.forEach((insight, i) => {\n      // Step 1: Exact match against \"them\" messages (preferred)\n      if (theirChatTexts.includes(insight.message)) {\n        // Perfect match — keep as-is\n      }\n      // Step 2: Exact match against ALL messages (edge case: \"me\" message in DECODED context)\n      else if (chatTexts.includes(insight.message)) {\n        // Valid but not ideal — keep it\n      }\n      // Step 3: Case-insensitive exact match against \"them\" messages\n      else {\n        const insightLower = insight.message.trim().toLowerCase();\n        let matched = theirChatTexts.find(t => t.trim().toLowerCase() === insightLower);\n        // Step 4: Case-insensitive exact match against ALL messages\n        if (!matched) {\n          matched = chatTexts.find(t => t.trim().toLowerCase() === insightLower);\n        }\n        // Step 5: AI quoted part of a \"them\" message (forward substring only, min 20 chars)\n        // The insight must be a substantial portion of the chat message (at least 50% length)\n        if (!matched && insightLower.length >= 20) {\n          matched = theirChatTexts.find(t => {\n            const tLower = t.toLowerCase();\n            return tLower.includes(insightLower) && insightLower.length >= tLower.length * 0.5;\n          });\n        }\n        if (matched) {\n          insight.message = matched; // Auto-fix to exact chat text\n        } else {\n          insight._hallucinated = true; // Mark for removal\n          errors.push('Insight ' + i + ': HALLUCINATED message \"' + insight.message + '\" not in chat (auto-removed)');\n        }\n      }\n      if (!['RED FLAG', 'GREEN FLAG', 'DECODED'].includes(insight.tag)) {\n        errors.push('Insight ' + i + ': invalid tag \"' + insight.tag + '\"');\n      }\n    });\n\n    // Remove hallucinated insights (messages the AI invented)\n    const beforeHallucinationFilter = r.messageInsights.length;\n    r.messageInsights = r.messageInsights.filter(ins => !ins._hallucinated);\n    // Clean up temp flag\n    r.messageInsights.forEach(ins => delete ins._hallucinated);\n    if (beforeHallucinationFilter !== r.messageInsights.length) {\n      const removed = beforeHallucinationFilter - r.messageInsights.length;\n      errors.push('Removed ' + removed + ' hallucinated insight(s) with invented messages. ' + r.messageInsights.length + ' remaining.');\n    }\n\n    // If too few insights remain after filtering, it's a critical problem\n    if (r.messageInsights.length < 3) {\n      errors.push('CRITICAL: Only ' + r.messageInsights.length + ' insights remain after removing hallucinated messages (need 3+). Scenario must be regenerated.');\n    }\n\n    // Check DECODED requirement\n    const hasDecoded = r.messageInsights.some(ins => ins.tag === 'DECODED');\n    if (!hasDecoded) {\n      errors.push('No DECODED insight found (at least 1 required)');\n    }\n\n    // Auto-remove greeting insights instead of failing\n    const GREETING_WORDS = ['hi', 'hey', 'hello', 'sup', 'yo', 'hii', 'hiii', 'heyy', 'heyyy'];\n    const beforeCount = r.messageInsights.length;\n    r.messageInsights = r.messageInsights.filter(insight => {\n      const lower = insight.message.toLowerCase().trim();\n      if (GREETING_WORDS.includes(lower)) {\n        errors.push('Auto-removed greeting insight: \"' + insight.message + '\" (non-critical)');\n        return false;\n      }\n      return true;\n    });\n    if (beforeCount !== r.messageInsights.length) {\n      errors.push('Removed ' + (beforeCount - r.messageInsights.length) + ' greeting insight(s) — ' + r.messageInsights.length + ' remaining');\n    }\n  }\n\n  // --- Dynamic ---\n  if (!r.dynamic || !r.dynamic.name) errors.push('Missing dynamic.name');\n  if (!r.dynamic || !r.dynamic.whyThisHappens) errors.push('Missing dynamic.whyThisHappens');\n  if (r.dynamic && (typeof r.dynamic.powerBalance !== 'number' || r.dynamic.powerBalance < 0 || r.dynamic.powerBalance > 100)) {\n    errors.push('dynamic.powerBalance out of range: ' + (r.dynamic ? r.dynamic.powerBalance : 'undefined'));\n  }\n}\n\n// Inject display metadata for content mode hero section\n// These are pipeline-level fields, not AI output — stored in scenario JSON for Supabase\nscenario.personDisplayName = scenario.chat ? scenario.chat.contactName : (randomName || 'Him');\nscenario.personRelationshipStatus = randomRelStatus || null;\n\n// Determine if we should pass the scenario through (allow minor errors)\nconst criticalErrors = errors.filter(e =>\n  !e.includes('auto-fixed') &&\n  !e.includes('out of range') &&\n  !e.includes('auto-removed') &&\n  !e.includes('non-critical') &&\n  !e.includes('Auto-removed') &&\n  !e.includes('hallucinated insight')\n);\nconst valid = criticalErrors.length === 0;\n\nreturn [{\n  json: {\n    valid,\n    errors,\n    scenario: scenario,\n    errorCount: errors.length,\n    criticalErrorCount: criticalErrors.length\n  }\n}];\n"
      },
      "id": "7f7d6075-ed1a-4f30-b4ce-244aa5987f0a",
      "name": "Validate Scenario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "node_015",
              "leftValue": "={{ $input.first().json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9582aa1-0fb9-4e98-bf01-035ef53e9aa4",
      "name": "Scenario Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Build Copy Prompt\r\n// Assembles the Gemini prompt for content copy generation\r\n// Mode: Run Once for All Items\r\n\r\nconst { concept, vibe, scenarioName, bodyClipCount } = $('Select Concept').first().json;\r\nconst { scenario } = $('Validate Scenario').first().json;\r\nconst { captionTemplates, voTemplates, hookTexts, socialExamples, randomRelStatus, randomName, selectedContext } = $('Build Scenario Prompt').first().json;\r\n\r\n// ============================================================\r\n// OUTRO CATEGORY SELECTION (from Outro Examples pool)\r\n// ============================================================\r\n\r\n// Read outro examples from upstream Airtable node\r\nlet outroExamples = [];\r\ntry {\r\n  outroExamples = $('Get Outro Examples').all().map(i => i.json);\r\n} catch(e) {\r\n  // Node might not exist yet — fall back to empty\r\n}\r\n\r\n// Parse outro_categories_json from concept (weights per category)\r\n// Format: {\"app_store\": 30, \"cta_lipsync\": 35, \"organic\": 35}\r\nlet outroCategoryWeights = null;\r\nif (concept.outro_categories_json) {\r\n  try {\r\n    outroCategoryWeights = typeof concept.outro_categories_json === 'string'\r\n      ? JSON.parse(concept.outro_categories_json)\r\n      : concept.outro_categories_json;\r\n  } catch(e) { outroCategoryWeights = null; }\r\n}\r\n\r\n// Pick a category based on weights\r\nlet selectedOutroCategory = 'organic'; // default\r\nlet selectedOutroText = '';\r\nlet selectedOutroVO = '';\r\n\r\nif (outroCategoryWeights && typeof outroCategoryWeights === 'object') {\r\n  const categories = Object.entries(outroCategoryWeights).filter(([_, w]) => w > 0);\r\n  if (categories.length > 0) {\r\n    const totalWeight = categories.reduce((sum, [_, w]) => sum + w, 0);\r\n    let rand = Math.random() * totalWeight;\r\n    for (const [cat, w] of categories) {\r\n      rand -= w;\r\n      if (rand <= 0) { selectedOutroCategory = cat; break; }\r\n    }\r\n  }\r\n}\r\n\r\n// Pick a random active example from the selected category\r\nif (outroExamples.length > 0) {\r\n  const pool = outroExamples.filter(e => e.category === selectedOutroCategory && e.is_active !== false);\r\n  if (pool.length > 0) {\r\n    const picked = pool[Math.floor(Math.random() * pool.length)];\r\n    selectedOutroText = picked.text || '';\r\n    selectedOutroVO = picked.vo_text || picked.text || '';\r\n  }\r\n}\r\n\r\n// ============================================================\r\n// BODY CLIP SECTIONS (fixed order, first 2 always included)\r\n// ============================================================\r\n\r\n// Toxic score for display (inverted: 100 - health = toxicity)\r\nconst toxicScore = 100 - scenario.results.overallScore;\r\nconst r = scenario.results;\r\n\r\n// Build section data with ACTUAL scenario content for each section\r\nconst ALL_BODY_SECTIONS = [\r\n  {\r\n    id: 'toxic_score',\r\n    name: 'Toxic Score',\r\n    description: 'Shows the toxicity score gauge animating to the final number.',\r\n    data: 'Score: ' + toxicScore + '/100'\r\n  },\r\n  {\r\n    id: 'soul_type',\r\n    name: 'His Soul Type',\r\n    description: 'Reveals his personality archetype card. The screen shows his Soul Type name, traits, and description.',\r\n    data: 'Soul Type: ' + r.personSoulType\r\n      + '\\nTraits: ' + (r.personTraits || []).join(', ')\r\n      + '\\nDescription: ' + (r.personDescription || '')\r\n  },\r\n  {\r\n    id: 'wtf_happening',\r\n    name: 'What The Fuck Is Really Happening',\r\n    description: 'Shows the 5 analysis cards: Intentions, Chemistry, Effort, Red Flags/Green Flags, Trajectory. Girl scrolls through the category breakdowns.',\r\n    data: 'Intentions: ' + (r.categories && r.categories.intentions ? r.categories.intentions.description : '')\r\n      + '\\nChemistry: ' + (r.categories && r.categories.chemistry ? r.categories.chemistry.description : '')\r\n      + '\\nEffort: ' + (r.categories && r.categories.effort ? r.categories.effort.description : '')\r\n      + '\\nRed/Green Flags: ' + (r.categories && r.categories.redFlagsGreenFlags ? r.categories.redFlagsGreenFlags.description : '')\r\n      + '\\nTrajectory: ' + (r.categories && r.categories.trajectory ? r.categories.trajectory.description : '')\r\n  },\r\n  {\r\n    id: 'between_the_lines',\r\n    name: 'Between The Lines',\r\n    description: 'Shows decoded message insights — specific chat messages highlighted with what they REALLY mean. Red flags, green flags, and decoded hidden meanings.',\r\n    data: (r.messageInsights || []).map(ins => '[' + ins.tag + '] \"' + ins.message + '\" — ' + ins.title).join('\\n')\r\n  },\r\n  {\r\n    id: 'souls_together',\r\n    name: 'Your Souls Together',\r\n    description: 'Shows the dynamic card with both soul types combined. Reveals the relationship dynamic name, why it happens, and the power balance.',\r\n    data: 'Dynamic: ' + (r.dynamic ? r.dynamic.name : '')\r\n      + '\\nSubtitle: ' + (r.dynamic ? r.dynamic.subtitle : '')\r\n      + '\\nWhy: ' + (r.dynamic ? r.dynamic.whyThisHappens : '')\r\n      + '\\nPower Balance: ' + (r.dynamic ? r.dynamic.powerBalance : '') + '/100'\r\n  }\r\n];\r\n\r\nconst activeSections = ALL_BODY_SECTIONS.slice(0, bodyClipCount || 3);\r\n\r\nconst sectionsForPrompt = activeSections\r\n  .map((s, i) => 'Body Clip ' + (i + 1) + ': \"' + s.name + '\"\\n  What the screen shows: ' + s.description + '\\n  Actual data on screen:\\n  ' + s.data.split('\\n').join('\\n  '))\r\n  .join('\\n\\n');\r\n\r\n// Format VO template\r\nconst voTemplate = voTemplates[0];\r\nconst voFormatted = voTemplate\r\n  ? 'Tone: ' + voTemplate.tone + '\\nInstructions: ' + voTemplate.instructions + '\\nExample scripts:\\n' + voTemplate.example_scripts\r\n  : 'Tone: dramatic, Gen-Z, slightly unhinged. React in real-time to what you see on screen.';\r\n\r\n// Format hook text pool\r\n// Randomly pick 5 hook examples (not all — gives Gemini a focused style target)\r\nconst allHooks = hookTexts.filter(h => h.type === 'hook');\r\nconst shuffledHooks = [...allHooks].sort(() => Math.random() - 0.5);\r\nconst selectedHooks = shuffledHooks.slice(0, Math.min(5, allHooks.length));\r\nconst hookFormatted = selectedHooks\r\n  .map(h => '- \"' + h.text + '\" (' + h.mood + ')')\r\n  .join('\\n');\r\n\r\n// Randomly pick 5 outro examples (same approach as hooks — forces variety)\r\nconst allOutros = hookTexts.filter(h => h.type === 'outro_cta');\r\nconst shuffledOutros = [...allOutros].sort(() => Math.random() - 0.5);\r\nconst selectedOutros = shuffledOutros.slice(0, Math.min(5, allOutros.length));\r\nconst outroFormatted = selectedOutros\r\n  .map(h => '- \"' + h.text + '\"')\r\n  .join('\\n');\r\n\r\n// Format social copy examples\r\nconst socialFormatted = socialExamples\r\n  .map(s => '[' + s.style + ']: ' + s.caption_text)\r\n  .join('\\n\\n');\r\n\r\n// ============================================================\r\n// SYSTEM PROMPT\r\n// ============================================================\r\n\r\nconst systemPrompt = `You are a short-form video content writer for TikTok and Instagram Reels. You write hook texts, voiceover scripts, text overlays, and social media captions for the \"Toxic or Nah\" relationship chat analysis app.\r\n\r\nYour audience is 18-28 year old women who are obsessed with decoding their situationships. Your tone is dramatic, Gen-Z, slightly unhinged, and addictive — like their group chat but as a video.\r\n\r\nYour output must be a single valid JSON object. No markdown, no code fences, no explanation — ONLY the JSON.\r\n\r\n## OUTPUT FORMAT\r\n\r\n{\r\n  \"hookText\": string,\r\n  \"hookVO\": string,\r\n  \"bodyClips\": [\r\n    {\r\n      \"section\": string,\r\n      \"text\": string,\r\n      \"vo\": string\r\n    }\r\n  ],\r\n  \"outroText\": string,\r\n  \"outroVO\": string,\r\n  \"socialCaption\": string\r\n}\r\n\r\n## TIMING CONSTRAINT — THIS IS NON-NEGOTIABLE\r\n\r\nEvery clip is EXACTLY 3 seconds. The VO must fit comfortably in 3 seconds of natural speech.\r\nDO NOT count words — count CHARACTERS. A short word like \"I\" and a long word like \"connections\" are NOT the same length.\r\n- hookVO: 50 characters MAX (including spaces and punctuation)\r\n- each bodyClip vo: 50 characters MAX\r\n- outroVO: 50 characters MAX\r\n\r\nGOOD lengths (under 50 chars):\r\n- \"Bro why do I attract this type?\" (31 chars)\r\n- \"Fifty-two? That feels low... I'm scared.\" (41 chars)\r\n- \"No because why is this actually accurate.\" (42 chars)\r\n\r\nBAD lengths (over 50 chars — WILL NOT FIT IN 3 SECONDS):\r\n- \"Seventy-two? Bro, that's actually really bad. I knew it.\" (57 chars — TOO LONG)\r\n- \"It says he's emotionally stunted, avoids deep connections.\" (58 chars — TOO LONG)\r\n\r\n## FIELD DEFINITIONS\r\n\r\n- hookText: Bold text overlay. 3-8 words. THE MOST IMPORTANT PART OF THE VIDEO — this makes someone STOP SCROLLING. It MUST match the SAME style, format, and energy as the 5 examples below. Feel like entry #6 in that list.\r\n  ABSOLUTE #1 RULE: The hook MUST reference something SPECIFIC that actually happened in the chat. Read the CHAT HIGHLIGHTS section above — your hook should be about a REAL moment, quote, or action from that conversation. A viewer who reads the hook and then sees the chat should think \"oh THAT's what they meant.\"\r\n  GOOD (chat-specific): \"He dumped me then texted 'I miss us'\" (references actual chat event), \"He really said 'it was a mistake' after leaving me\" (quotes real message), \"He called her 'bro' after she confessed\" (specific moment)\r\n  BAD (generic/invented): \"He said he changed then sent THIS\" (he never said he changed — INVENTED), \"The audacity of this man\" (could be about anything — TOO VAGUE), \"He's so toxic I can't\" (says nothing about WHAT happened)\r\n  VIRAL HOOK PATTERNS (use one of these structures WITH chat-specific details):\r\n  - EXPOSE: \"He really said '[actual quote from chat]' after [what happened]\"\r\n  - SETUP: \"He [specific action from chat] and STILL [reaction]\"\r\n  - WARNING: \"If your [relationship status] texts you [paraphrase of what he said]...\"\r\n  - CALLOUT: \"The way he said '[short quote]' like it's nothing\"\r\n  - CONFESSION: \"He [did specific thing from chat] and thought it was fine\"\r\n  BAD: \"This man is unserious\" (too generic — WHAT did he do?), \"He's so annoying\" (vague, boring), \"I can't with him\" (lazy), \"Why is he like this\" (too generic)\r\n  BAD: \"If he's deflecting, don't use this\" (makes NO SENSE — \"deflecting\" is a clinical term, not a dramatic situation. The [X] slot must be a RELATABLE SITUATION like \"have a crush\", \"love your boyfriend\", \"just got back together\" — NOT a behavior label like \"deflecting\", \"gaslighting\", \"manipulating\")\r\n  CRITICAL: The hook must describe a SITUATION or ACTION from the ACTUAL CHAT, never a clinical behavior label or invented event. \"He said 'it was a mistake' after dumping me\" = GOOD (specific, from chat). \"He's being emotionally unavailable\" = BAD (therapy term, not viral, not from chat).\r\n  The hook must be a COMPLETE thought — never truncated.\r\n  RELATIONSHIP STATUS: \"${randomRelStatus || 'unknown'}\"\r\n  The hook should FEEL like it belongs to a \"${randomRelStatus}\" story. It does NOT need to literally say the word \"${randomRelStatus}\" — what matters is that the SITUATION described in the hook naturally fits that dynamic.\r\n  ${randomRelStatus === 'ex' ? 'Ex energy hooks: focus on him coming back, post-breakup audacity, discovering something after it ended. E.g. \"He texted me THIS after 3 weeks of silence\", \"The audacity of this man I swear\", \"POV: he comes back like nothing happened\"' : ''}${randomRelStatus === 'crush' ? 'Crush energy hooks: focus on mixed signals, overthinking, the moment she realizes something. E.g. \"The way he just exposed himself without even knowing\", \"If you overthink texts don\\'t watch this\", \"He said THIS and I can\\'t tell if he\\'s serious\"' : ''}${randomRelStatus === 'boyfriend' ? 'Boyfriend energy hooks: focus on betrayal within a relationship, broken trust, caught behavior. E.g. \"He really thought I wouldn\\'t find out\", \"The disrespect is actually unreal\", \"He said this to MY FACE and thought it was fine\"' : ''}${randomRelStatus === 'situationship' ? 'Situationship energy hooks: focus on the frustration of undefined relationships, mixed signals, him wanting benefits without commitment. E.g. \"He acts like my man but won\\'t even commit\", \"The way he flip-flops is actually insane\", \"He said \\'why do we need labels\\' and I lost it\"' : ''}${randomRelStatus === 'talking' ? 'Talking stage energy hooks: focus on early red flags, sketchy behavior from the start, the \"already?!\" factor. E.g. \"It\\'s been 2 weeks and he already did THIS\", \"Red flags on day one I cannot\", \"He showed his true colors FAST\"' : ''}\r\n  The hookVO must match the same energy — she's reacting as someone living THIS specific situation.\r\n- hookVO: What she SAYS out loud. MAX 50 CHARACTERS. Must react to a SPECIFIC moment from the chat — she's living this situation, not narrating generically. She references what HE said or did. NEVER mention the app.\r\n  GOOD: \"Bro YOU dumped ME and now you miss us?\", \"He said 'it was a mistake' I'm actually done\", \"He called me bro after I told him how I feel\"\r\n  BAD: \"No because the AUDACITY\" (too generic — audacity of WHAT?), \"Wait why did he say that tho?\" (WHAT did he say?), \"I'm gonna upload this\" (references app), \"Let's see what the results say\" (references app)\r\n  The hookVO should make a viewer think \"wait what happened?!\" by hinting at the SPECIFIC drama, not by being vague.\r\n- bodyClips: Array with EXACTLY ${activeSections.length} objects, one per body clip section (in order).\r\n  - section: The section ID (must match exactly: ${activeSections.map(s => '\"' + s.id + '\"').join(', ')})\r\n  - text: Ultra-short UGC text overlay. 2-4 words MAX. A pure GUT REACTION — the kind of thing she'd caption a TikTok with. Think: what would you TEXT your best friend in all caps after seeing this?\r\n    ABSOLUTE RULE: The text must NEVER contain the Soul Type name, the Dynamic name, the score number, ANY data from the results, or ANY diagnosis/label/explanation. It's a RAW EMOTION, not a sentence.\r\n    GOOD: \"excuse me???\", \"I can't 💀\", \"nah WHAT\", \"this is too real\", \"I'm done.\", \"not this again...\", \"bro.\", \"help 💀\", \"oh.\", \"LMAO\", \"I'm sick\"\r\n    BAD: \"Shifting Flame 💀\" (Soul Type NAME), \"Push-Pull Tango\" (Dynamic NAME), \"52/100\" (score NUMBER), \"His Soul Type revealed\" (label), \"it's called being on the hook\" (that's a DIAGNOSIS/EXPLANATION — not a gut reaction. She wouldn't text that to her friend, she'd text \"nah this is sick\" or \"I can't 💀\")\r\n    THE TEST: If it sounds like something a therapist or narrator would say, it's WRONG. If it sounds like a text to your best friend at 2am, it's RIGHT.\r\n  - vo: What she SAYS out loud. MAX 50 CHARACTERS. First person, genuine reaction. The VO must say something DIFFERENT from the text — never repeat the same concept. Text = raw emotion (\"nah WHAT\"), VO = her actual thought/reaction to what she sees (\"It says he does it to keep control. Wow.\").\r\n- outroText: CTA text overlay. 2-5 words. Ultra-short.\r\n  GOOD: \"Block him?\", \"Link in bio\", \"Should I?\", \"Run yours 👀\"\r\n- outroVO: What she SAYS for the outro. MAX 50 CHARACTERS. CTA or dramatic closer.\r\n- socialCaption: TikTok/Instagram caption. Dramatic opening, 1-2 emojis, 3-5 hashtags always including #toxicornah. Under 250 chars.\r\n\r\n## EMOTION TAGS — MAKE HER VOICE FEEL ALIVE\r\n\r\nOur TTS engine supports emotion tags that change HOW she says each line. Place tags BEFORE the text they modify. Tags do NOT count toward the 50-character limit — only the spoken text counts.\r\n\r\nAvailable tags (use 0-2 per VO line, not every line needs one):\r\n- [gasps] — shock, disbelief. \"Wait WHAT?\"\r\n- [sighs] — resignation, disappointment. \"Yeah... I knew it.\"\r\n- [laughs] — dark humor, self-deprecating. \"My taste in men is criminal.\"\r\n- [whispers] — intimate, conspiratorial. \"Be honest. Do I block him?\"\r\n- [sarcastic] — dry, deadpan. \"Cool cool cool. Love that for me.\"\r\n- [frustrated] — annoyance, exasperation. \"Why is this calling me out?\"\r\n- [curious] — genuine interest, thinking. \"Wait... is that actually true?\"\r\n- [excited] — energy, realization. \"Oh my god that's so specific!\"\r\n\r\nRULES:\r\n- Place BEFORE the spoken text: [gasps] Wait he really said that?\r\n- Multiple tags OK: [sighs] [whispers] I already knew but—\r\n- DON'T overuse — some VOs are stronger with NO tag (just raw delivery)\r\n- DON'T use the same tag on consecutive clips\r\n- The tag must MATCH the emotion. [laughs] on a sad line = WRONG.\r\n\r\nSection tag guidance:\r\n- Hook VO: [gasps], [frustrated], [sarcastic] — she's reacting to drama\r\n- Toxic Score: [gasps], [sighs], [laughs] — shock at the number or dark acceptance\r\n- Soul Type: [curious], [frustrated], [gasps] — recognition or disbelief\r\n- WTF Happening: [frustrated], [sighs], [sarcastic] — being called out\r\n- Between The Lines: [gasps], [whispers], [frustrated] — missed red flags\r\n- Outro: [whispers], [curious], [excited] — CTA or dramatic closer\r\n\r\nGOOD examples with tags:\r\n- \"[gasps] Bro he really said that to me?\"\r\n- \"[sighs] Fifty-two? That feels low...\"\r\n- \"[laughs] My taste in men is genuinely criminal.\"\r\n- \"[whispers] Be honest. Do I block him?\"\r\n- \"[sarcastic] Cool cool cool. Love that for me.\"\r\n- \"No because why is this actually accurate.\" (no tag — raw delivery works here)\r\n\r\n## NATURAL SPEECH RULES — CRITICAL\r\n\r\nThe VOs must sound like a REAL GIRL talking to herself, NOT a script. This is the #1 priority.\r\n\r\nREQUIRED speech patterns (use at least 2-3 across all VOs):\r\n- Natural fillers: \"wait\", \"no because\", \"okay but\", \"like\", \"literally\", \"nah\", \"honestly\"\r\n- Incomplete sentences: \"I already knew but—\", \"That feels low...\"\r\n- Micro-repetitions: \"No no no\", \"Wait wait\"\r\n- Contradictions: \"I don't like that. ...okay I do but still\"\r\n- Trailing off: sentences that end with \"...\" or \"—\"\r\n\r\n\"BRO\" LIMIT: Use \"bro\" MAX ONCE across ALL VOs combined. If you already used it in the hookVO, do NOT use it again in any bodyClip vo or outroVO. Over-using \"bro\" makes the VOs sound same-y and AI-generated. Replace with: \"wait\", \"no because\", \"nah\", \"like\", \"honestly\", \"oh my god\", or just start the sentence directly.\r\n\r\nGOOD VO examples (natural, messy, real):\r\n- \"[gasps] No because why is this actually accurate.\"\r\n- \"[sighs] Fifty-two? That feels low... I'm scared.\"\r\n- \"Wait. That's literally him I can't—\"\r\n- \"[sarcastic] It says the pattern won't change. Cool cool cool.\"\r\n- \"[frustrated] Bro why do I attract this type?\"\r\n- \"[gasps] Oh my god that's so specific it hurts.\"\r\n- \"[whispers] Be honest. Do I block him?\"\r\n\r\nBAD VO examples (scripted, robotic, AI-sounding):\r\n- \"The app says that my toxicity score is fifty-two percent.\" (references app, too explanatory)\r\n- \"According to the results, his soul type is Shifting Flame.\" (sounds like a news anchor)\r\n- \"It analyzes the pattern and shows concerning trends.\" (no one talks like this)\r\n- \"The relationship dynamic between us reveals a codependent cycle.\" (thesis statement, not reaction)\r\n\r\n## ABSOLUTE BANS\r\n\r\n1. NEVER reference the app explicitly — not even in the HOOK. No \"upload\", \"run it\", \"put it through\", \"the app says\", \"according to the results\", \"it analyzes\", \"the score shows\", \"let's see what it says\". The app is INVISIBLE. In the hook she's reacting to HIS BEHAVIOR, not to using an app. In the body clips she's reacting to what she SEES on screen.\r\n2. NEVER use \"girl\" addressing someone else. She's alone, reacting to herself.\r\n3. NEVER exceed 50 characters in ANY VO line. Count characters, NOT words. \"I'm done\" (8 chars) is fine. \"It says he's emotionally stunted\" (32 chars) is fine. Anything over 50 chars is BANNED.\r\n4. NEVER use the same sentence structure twice across clips. Each VO must have a completely different pattern.\r\n   BAD (all \"X? That's Y\"):\r\n   - \"Fifty-two? That's concerning.\"\r\n   - \"Shifting Flame? That's literally him.\"\r\n   - \"Codependent? That's exactly us.\"\r\n   GOOD (varied structures):\r\n   - \"Fifty-two? That feels low... I'm scared.\"\r\n   - \"Bro it says he mirrors to manipulate. WHAT.\"\r\n   - \"No because why is this calling me out.\"\r\n5. NEVER make text overlays longer than 4 words. They are GUT REACTIONS you'd text your best friend, not sentences or explanations. \"I can't 💀\" = GOOD. \"it's called being on the hook\" = BAD (that's 6 words AND a diagnosis).\r\n6. NEVER put Soul Type names, Dynamic names, diagnoses, labels, explanations, or ANY result data in the text overlay. The screen ALREADY shows data — the text is her RAW EMOTION reaction. \"nah WHAT\" = GOOD. \"it's called being on the hook\" = BAD (diagnosis). \"Shifting Flame 💀\" = BAD (data from screen). EXCEPTION: The Toxic Score clip CAN use the score number as a reaction (e.g. \"78???\", \"Seventy-eight???\") — that IS a gut reaction to seeing the number.\r\n7. NEVER mix data between sections. Each body clip reacts ONLY to its own section's data. The WTF Happening clip reacts to the 5 categories (Intentions, Chemistry, Effort, Red Flags, Trajectory) — NOT to the Dynamic name or Soul Type. The Soul Type clip reacts to the soul type — NOT to the categories. Keep them strictly separated.\r\n8. NEVER truncate hooks. The hookText must be a COMPLETE thought/sentence. \"If you have a crush...\" is BAD (cut off). Every hook must make sense on its own without needing more words.\r\n9. NEVER copy hook examples word-for-word, but your hook MUST match their style closely. It should look like it belongs in the same collection — a sibling, not a distant cousin. If the examples say \"If you love your boyfriend, don't use this app\" your hook should have the SAME vibe and structure, just different words.\r\n10. NEVER use the contact's name (e.g. \"Jake\", \"Liam\") in ANY VO or text overlay. Always use \"he\", \"him\", \"this man\", \"bro\" instead. The video is about a GENERIC situationship experience, not a specific person.\r\n\r\n## SECTION-SPECIFIC GUIDANCE\r\n\r\nFor EACH section: the text overlay is her EMOTIONAL REACTION, never data from the screen.\r\n\r\n- Toxic Score:\r\n  Text GOOD: \"48???\", \"wait what\", \"oh.\", \"that's not good\", \"bro.\", \"not surprised\", \"LMAO\"\r\n  Text BAD: \"Toxic Score: 48\" (label), \"Score reveal\" (label), \"Not the 💯 emoji\" (random reference — NOT a gut reaction), \"The number...\" (vague)\r\n  VO: React to the score. VARY THE STRUCTURE — do NOT always use \"Number? Comment.\" pattern. The 🎲 TOXIC SCORE VO structure in the user prompt tells you EXACTLY which pattern to use this time.\r\n  CRITICAL — STATUS-AWARE REACTIONS: Her reaction MUST make sense for her relationship status (\"${randomRelStatus || 'unknown'}\").\r\n  ${randomRelStatus === 'ex' ? '  EX: She already LEFT him. She reacts with vindication, relief, or \"I knew it\". NEVER say \"and I stayed\" or \"I\\'m still here\" — she\\'s NOT still with him.\\n  GOOD: \"And I almost went back? Nah.\", \"That high? Thank god I left.\", \"Knew it. Dodged a bullet.\"\\n  BAD: \"Eighty-five and I\\'m still here\" (she\\'s NOT still there — they broke up)' : ''}${randomRelStatus === 'boyfriend' ? '  BOYFRIEND: She\\'s STILL with him. She reacts with shock, denial, or questioning her choices.\\n  GOOD: \"Eighty-five and I\\'m still here... wow.\", \"That high and I haven\\'t left yet?\", \"My taste in men is criminal.\"\\n  BAD: \"Thank god I left\" (she HASN\\'T left — he\\'s her boyfriend)' : ''}${randomRelStatus === 'crush' ? '  CRUSH: They\\'re not even together. She reacts with the \"dodged a bullet\" or \"I almost caught feelings for THIS?\" energy.\\n  GOOD: \"That high? And I had a crush on HIM?\", \"I almost caught feelings for this.\", \"Bro... I was really about to fall for that.\"' : ''}${randomRelStatus === 'situationship' ? '  SITUATIONSHIP: Undefined relationship. She reacts with frustration or dark humor about wasting time.\\n  GOOD: \"That high and we\\'re not even official.\", \"All that for a man who won\\'t commit.\", \"My situationship is literally toxic. Cool.\"' : ''}${randomRelStatus === 'talking' ? '  TALKING: Super early stage. She reacts with \"already?!\" or \"red flags from day one\" energy.\\n  GOOD: \"This early and already that high?\", \"We\\'re barely talking and it\\'s THAT bad?\", \"Red flags from the jump honestly.\"' : ''}\r\n\r\n- Soul Type:\r\n  Text GOOD: \"I can't 💀\", \"this is so him\", \"excuse me???\", \"not this again\"\r\n  Text BAD: \"Shifting Flame\" (that's the soul type NAME — screen already shows it), \"His Soul Type\" (label)\r\n  VO: React to something SPECIFIC from the soul type's DESCRIPTION paragraph shown on the card — NOT the name, NOT the traits list. The card has a personalized description that explains WHO this person is and HOW they behave. Pick one detail from that description and react to it.\r\n  VO GOOD: \"Bro it says he mirrors to manipulate.\", \"Love bombs then disappears... that's what he does.\", \"It says he uses charm as a defense mechanism.\"\r\n  VO BAD: \"The Dark Mirror. That's literally him.\" (just repeating the name — says nothing about the description), \"Emotionally unavailable? That checks out.\" (reacting to a trait label, not the description)\r\n\r\n- WTF Happening:\r\n  Text GOOD: \"it gets worse\", \"called out 💀\", \"the accuracy...\", \"I'm sick\"\r\n  Text BAD: \"Push-Pull Tango\" (that's the dynamic NAME), \"Category analysis\" (label), \"Intentions & Chemistry\" (section names)\r\n  VO: React to the PATTERN or the most shocking category insight.\r\n  VO examples: \"It says the pattern won't change.\", \"Why is this calling me out?\", \"I don't like how accurate this is.\"\r\n\r\n- Between The Lines:\r\n  Text GOOD: \"I missed this???\", \"bro WHAT\", \"the way I ignored this\", \"no no no\"\r\n  Text BAD: \"Red Flag detected\" (label), \"Decoded message\" (label)\r\n  VO: React to a specific decoded message being exposed.\r\n  VO examples: \"Wait he really said that? Bro.\", \"No because I missed that completely.\", \"The way I ignored that red flag...\"\r\n\r\n- Souls Together:\r\n  Text GOOD: \"we're THAT couple\", \"I need to sit down\", \"yeah that tracks\", \"help 💀\"\r\n  Text BAD: \"The Guilt Trap\" (that's the dynamic NAME), \"Your Souls Together\" (section name)\r\n  VO: React to the dynamic or power balance.\r\n  VO examples: \"We're literally that couple huh.\", \"The power balance... yeah that tracks.\", \"I need to sit down for this one.\"\r\n\r\n## ENGAGEMENT TRIGGERS\r\n\r\nEach clip should activate at least one of:\r\n- Micro shock (something unexpected)\r\n- Validation (viewer thinks \"same\")\r\n- Self-awareness (relatable self-drag)\r\n- Social invitation (makes viewer want to comment)\r\n\r\nThe goal: generate comment wars, saves, and shares. NOT explain the app.`;\r\n\r\n\r\n// ============================================================\r\n// USER PROMPT\r\n// ============================================================\r\n\r\n// Randomly pick a VO structure for Toxic Score to force variety\r\n// Mix of structures — some mention the number, most don't (forces variety)\r\nconst VO_SCORE_STRUCTURES = [\r\n  'Say the score number + a reaction: e.g. \"Seventy-eight? Damn.\" — short and punchy, number first.',\r\n  'Say the score number + denial: e.g. \"Eighty-five and I\\'m still here... wow.\" — number woven into a thought.',\r\n  'Statement first, NO number: e.g. \"I already knew it was bad but damn.\" — react without saying any number.',\r\n  'Dark humor, NO number: e.g. \"That\\'s lower than I expected honestly.\" — no number mentioned.',\r\n  'Trailing off, NO number: e.g. \"Bro... that is not giving.\" — no number.',\r\n  'Self-drag, NO number: e.g. \"My taste in men is genuinely criminal.\" — about HER, not the score.',\r\n  'Casual acceptance, NO number: e.g. \"Yeah no that checks out.\" — no number.',\r\n  'Sarcastic resignation, NO number: e.g. \"Cool cool cool. Love that for me.\" — no number.',\r\n  'Shock without score: e.g. \"Wait— that high? Nah I\\'m done.\" — references it being high but no exact number.',\r\n  'One-word gut punch: e.g. \"Wow. Just... wow.\" — pure emotion, no number.'\r\n];\r\nconst randomVOStructure = VO_SCORE_STRUCTURES[Math.floor(Math.random() * VO_SCORE_STRUCTURES.length)];\r\n\r\n// Only include data for active sections — prevents DeepSeek from leaking data across clips\r\nconst activeSectionIds = activeSections.map(s => s.id);\r\nconst scenarioLines = [\r\n  '- Toxic Score: ' + toxicScore + '/100 (higher = more toxic)',\r\n  '- Contact Name: ' + scenario.chat.contactName,\r\n  '- Person Name: ' + scenario.results.personName,\r\n  '- Relationship Status: ' + (randomRelStatus || 'unknown'),\r\n  '- Vibe: ' + vibe\r\n];\r\nif (activeSectionIds.includes('soul_type')) {\r\n  scenarioLines.push('- Person Soul Type: ' + scenario.results.personSoulType);\r\n}\r\nif (activeSectionIds.includes('souls_together')) {\r\n  scenarioLines.push('- User Soul Type: ' + scenario.results.userSoulType);\r\n  scenarioLines.push('- Dynamic: ' + scenario.results.dynamic.name);\r\n}\r\nscenarioLines.push('- Profile: ' + scenario.results.profileType + ' — \"' + scenario.results.profileSubtitle + '\"');\r\n\r\n// Extract the most dramatic chat moments for hook writing\r\n// Include messageInsights (already curated) + key \"them\" messages\r\nconst chatMessages = scenario.chat && scenario.chat.messages ? scenario.chat.messages : [];\r\nconst theirMessages = chatMessages.filter(m => m.sender === 'them').map(m => m.text);\r\nconst herMessages = chatMessages.filter(m => m.sender === 'me').map(m => m.text);\r\nconst insights = scenario.results.messageInsights || [];\r\n\r\n// Build a concise chat summary with the juiciest quotes\r\nconst chatHighlights = [];\r\n// Add insight messages (the AI already picked these as noteworthy)\r\ninsights.forEach(ins => {\r\n  chatHighlights.push('[' + ins.tag + '] He said: \"' + ins.message + '\" — ' + ins.title);\r\n});\r\n// Add her strongest reactions (messages with ? or ! or keywords)\r\nconst herStrongest = herMessages.filter(m => m.length > 15 && (/[?!]/.test(m) || /why|how|seriously|really|what|can't|don't/.test(m.toLowerCase())));\r\nherStrongest.slice(0, 3).forEach(m => {\r\n  chatHighlights.push('She replied: \"' + m + '\"');\r\n});\r\n\r\nconst chatHighlightsText = chatHighlights.length > 0\r\n  ? chatHighlights.join('\\n')\r\n  : theirMessages.slice(0, 5).map(m => 'He said: \"' + m + '\"').join('\\n');\r\n\r\nconst userPrompt = `Generate all content copy for this scenario:\r\n\r\n## SCENARIO RESULTS\r\n${scenarioLines.join('\\n')}\r\n\r\n## CHAT HIGHLIGHTS — THE KEY MOMENTS\r\nThese are the most dramatic moments from the actual chat. Your hook MUST reference or be inspired by something SPECIFIC from here — not a generic statement.\r\n${chatHighlightsText}\r\n\r\n## BODY CLIP SECTIONS (generate exactly ${activeSections.length} bodyClips, in this order)\r\n\r\nCRITICAL: Each body clip's text and VO must ONLY reference data from THAT section's \"Actual data on screen\". Do NOT use data from other sections. The WTF Happening clip talks about categories (Intentions, Chemistry, Effort, etc.), NOT about dynamics or soul types.\r\n\r\n🎲 TOXIC SCORE VO — USE THIS EXACT STRUCTURE: ${randomVOStructure}\r\nFollow this structure closely. Do NOT default to \"Number? Comment.\" unless the structure above specifically tells you to mention the number.\r\n\r\n${sectionsForPrompt}\r\n\r\n## VO TEMPLATE\r\n${voFormatted}\r\n\r\n## HOOK TEXT EXAMPLES — WRITE ONE LIKE THESE\r\nHere are 5 hooks from our collection. Write one that fits RIGHT IN with these — same style, same length, same energy. It should feel like entry #6 in this list. Do NOT copy any example word-for-word, but it MUST be close in style and tone. If someone read all 6, they should think the same person wrote them all.\r\n${hookFormatted}\r\n\r\n## SITUATION-SPECIFIC HOOK INSPIRATION\r\nThe scenario context is \"${selectedContext ? selectedContext.context : 'GENERAL'}\". Here are hookText and hookVO examples tailored to THIS exact situation. Use these as creative fuel — adapt or remix, but your hook MUST match this situation's energy.\r\nHook text examples for this situation:\r\n${selectedContext && selectedContext.hookTexts ? selectedContext.hookTexts.map(h => '- ' + h).join('\\n') : '(none)'}\r\nHook VO examples for this situation:\r\n${selectedContext && selectedContext.hookVOs ? selectedContext.hookVOs.map(h => '- ' + h).join('\\n') : '(none)'}\r\nYour hookText and hookVO should feel like they belong in THIS list but be ORIGINAL — do NOT copy these word-for-word. Remix, combine, or twist them into something fresh that still fits the situation.\r\n\r\n## OUTRO CTA EXAMPLES — USE ONE OF THESE (DO NOT DEFAULT TO \"Block him?\")\r\nPick ONE of these 5 outro examples and use it EXACTLY or with minimal adaptation. BANNED outro: \"Block him?\" — this is overused, NEVER generate it. Pick a DIFFERENT one each time. Your outroVO should be a natural spoken version of the outroText.\r\n${outroFormatted}\r\n\r\n## SOCIAL COPY EXAMPLES (for style reference)\r\n${socialFormatted}\r\n\r\nGenerate the content copy JSON now.`;\r\n\r\nreturn [{\r\n  json: {\r\n    systemPrompt,\r\n    userPrompt,\r\n    scenario,\r\n    // Outro category selection (override Gemini's output in Validate Copy)\r\n    selectedOutroCategory,\r\n    selectedOutroText,\r\n    selectedOutroVO,\r\n  }\r\n}];\r\n"
      },
      "id": "82fb1418-d425-4ff0-af83-8d8f61f278c9",
      "name": "Build Copy Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        16
      ]
    },
    {
      "parameters": {},
      "id": "7cb7ee58-9670-464d-b577-267bebf127bd",
      "name": "Error: Invalid Scenario",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2336,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Validate Copy\r\n// Validates the Gemini content copy response (new structure with bodyClips)\r\n// Mode: Run Once for All Items\r\n\r\n// Basic LLM Chain outputs { text: \"...\" } with the raw LLM response\r\nconst llmOutput = $input.first().json;\r\nconst { scenario } = $('Build Copy Prompt').first().json;\r\nconst { bodyClipCount } = $('Select Concept').first().json;\r\nconst { randomRelStatus } = $('Build Scenario Prompt').first().json;\r\n\r\n// --- JSON Repair utility (smart quote escaping) ---\r\nfunction repairJson(raw) {\r\n  let s = raw;\r\n  // Strip markdown code blocks\r\n  s = s.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\r\n  // Replace smart/curly quotes with straight quotes\r\n  s = s.replace(/[\\u201C\\u201D]/g, '\"').replace(/[\\u2018\\u2019]/g, \"'\");\r\n  // Extract JSON object\r\n  const firstBrace = s.indexOf('{');\r\n  const lastBrace = s.lastIndexOf('}');\r\n  if (firstBrace !== -1 && lastBrace > firstBrace) {\r\n    s = s.substring(firstBrace, lastBrace + 1);\r\n  }\r\n  // Remove control characters\r\n  s = s.replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]/g, '');\r\n\r\n  // Smart quote repair: walk through and escape internal quotes\r\n  // When we see a \" inside a string, peek ahead — if the next non-whitespace\r\n  // char is NOT valid JSON continuation (, } ] :), it's an internal quote\r\n  let result = '';\r\n  let inString = false;\r\n  let escaped = false;\r\n  for (let i = 0; i < s.length; i++) {\r\n    const ch = s[i];\r\n    if (escaped) { result += ch; escaped = false; continue; }\r\n    if (ch === '\\\\') { result += ch; escaped = true; continue; }\r\n    if (ch === '\"') {\r\n      if (!inString) {\r\n        inString = true;\r\n        result += ch;\r\n      } else {\r\n        // Peek ahead: skip whitespace/newlines to find next meaningful char\r\n        let peekIdx = i + 1;\r\n        while (peekIdx < s.length && /[\\s\\r\\n]/.test(s[peekIdx])) peekIdx++;\r\n        const nextChar = peekIdx < s.length ? s[peekIdx] : '';\r\n        // Valid JSON after closing a string value: , } ] : or EOF\r\n        if (nextChar === ',' || nextChar === '}' || nextChar === ']' || nextChar === ':' || nextChar === '') {\r\n          // Real closing quote\r\n          inString = false;\r\n          result += ch;\r\n        } else {\r\n          // Internal quote — escape it\r\n          result += '\\\\\"';\r\n        }\r\n      }\r\n      continue;\r\n    }\r\n    if (inString && ch === '\\n') { result += '\\\\n'; continue; }\r\n    if (inString && ch === '\\r') { continue; }\r\n    result += ch;\r\n  }\r\n  s = result;\r\n  // Remove trailing commas before ] or }\r\n  s = s.replace(/,\\s*([\\]}])/g, '$1');\r\n  return s;\r\n}\r\n\r\nlet copy;\r\ntry {\r\n  const raw = llmOutput.output || llmOutput.text || llmOutput;\r\n\r\n  if (typeof raw === 'object' && raw !== null) {\r\n    copy = raw;\r\n  } else {\r\n    copy = JSON.parse(repairJson(String(raw)));\r\n  }\r\n} catch (e1) {\r\n  try {\r\n    const raw = llmOutput.output || llmOutput.text || llmOutput;\r\n    let repaired = repairJson(String(raw));\r\n    // Fallback: try position-based fix if smart repair still fails\r\n    const posMatch = e1.message.match(/position (\\d+)/);\r\n    if (posMatch) {\r\n      const pos = parseInt(posMatch[1]);\r\n      // Escape the problematic character at the reported position\r\n      repaired = repaired.substring(0, pos) + '\\\\' + repaired.substring(pos);\r\n    }\r\n    copy = JSON.parse(repaired);\r\n  } catch (e2) {\r\n    return [{ json: { valid: false, errors: ['JSON parse failed after repair: ' + e2.message + ' | Original: ' + e1.message], copy: null, scenario } }];\r\n  }\r\n}\r\n\r\nconst errors = [];\r\n\r\n// Character limit for all VOs (50 chars = ~3 seconds of natural speech)\r\nconst VO_CHAR_LIMIT = 50;\r\n// Hard limit — above this we auto-trim instead of failing\r\nconst VO_CHAR_HARD_LIMIT = 65;\r\n\r\n// Strip ElevenLabs emotion tags for character counting (tags don't count as spoken chars)\r\n// Tags: [gasps], [sighs], [laughs], [whispers], [sarcastic], [frustrated], [curious], [excited]\r\nconst EMOTION_TAGS = ['gasps', 'sighs', 'laughs', 'whispers', 'sarcastic', 'frustrated', 'curious', 'excited'];\r\nconst EMOTION_TAGS_RE = EMOTION_TAGS.join('|');\r\n\r\nfunction stripEmotionTags(text) {\r\n  return text.replace(/\\[(gasps|sighs|laughs|whispers|sarcastic|frustrated|curious|excited)\\]\\s*/gi, '').trim();\r\n}\r\n\r\n// Fix bare emotion tags that Gemini outputs without brackets\r\n// \"gasps Wait what?\" → \"[gasps] Wait what?\"\r\n// \"sighs laughs I can't\" → \"[sighs] [laughs] I can't\"\r\nfunction fixEmotionTags(text) {\r\n  if (!text || typeof text !== 'string') return text;\r\n  // Match bare tags at the start of the string (up to 2 consecutive tags)\r\n  return text.replace(\r\n    new RegExp('^(' + EMOTION_TAGS_RE + ')\\\\s+(?:(' + EMOTION_TAGS_RE + ')\\\\s+)?', 'i'),\r\n    (_match, tag1, tag2) => {\r\n      let fixed = '[' + tag1.toLowerCase() + '] ';\r\n      if (tag2) fixed += '[' + tag2.toLowerCase() + '] ';\r\n      return fixed;\r\n    }\r\n  );\r\n}\r\n\r\n// Auto-trim VOs that exceed the character limit (Gemini can't count chars)\r\nfunction trimVO(vo) {\r\n  // Allow small grace (up to 55) — only actively trim above that\r\n  const TRIM_THRESHOLD = 55;\r\n  // Count chars WITHOUT emotion tags (they don't count as spoken text)\r\n  const spokenLength = stripEmotionTags(vo).length;\r\n  if (!vo || spokenLength <= TRIM_THRESHOLD) return vo;\r\n\r\n  let trimmed = vo;\r\n\r\n  // Step 1: Remove trailing filler words\r\n  const TRAILING_FILLERS = [', lol', ' lol', ', honestly', ' honestly', ', like', ' tho', ', bro', ' fr', ', ngl'];\r\n  for (const filler of TRAILING_FILLERS) {\r\n    if (trimmed.toLowerCase().endsWith(filler) || trimmed.toLowerCase().endsWith(filler + '.')) {\r\n      trimmed = trimmed.substring(0, trimmed.length - (trimmed.toLowerCase().endsWith(filler + '.') ? filler.length + 1 : filler.length)).trim();\r\n      // Re-add period if it makes sense\r\n      if (!/[.!?—…]$/.test(trimmed)) trimmed += '.';\r\n      if (stripEmotionTags(trimmed).length <= VO_CHAR_LIMIT) return trimmed;\r\n    }\r\n  }\r\n\r\n  // Step 2: If two sentences, try keeping just the first\r\n  const sentenceBreak = trimmed.match(/^(\\[[\\w]+\\]\\s*)*(.{20,}?[.!?])\\s+/);\r\n  if (sentenceBreak) {\r\n    const candidate = sentenceBreak[0].trimEnd();\r\n    if (stripEmotionTags(candidate).length <= VO_CHAR_LIMIT && stripEmotionTags(candidate).length >= 20) {\r\n      return candidate;\r\n    }\r\n  }\r\n\r\n  // Step 3: Cut spoken text at last word boundary before limit and add ellipsis\r\n  const spokenOnly = stripEmotionTags(trimmed);\r\n  if (spokenOnly.length > VO_CHAR_LIMIT) {\r\n    // Extract leading tags to preserve them\r\n    const tagMatch = trimmed.match(/^((?:\\[[\\w]+\\]\\s*)*)/);\r\n    const leadingTags = tagMatch ? tagMatch[1] : '';\r\n    const textPart = trimmed.substring(leadingTags.length);\r\n    const cut = textPart.substring(0, VO_CHAR_LIMIT - 1);\r\n    const lastSpace = cut.lastIndexOf(' ');\r\n    if (lastSpace > 15) {\r\n      trimmed = leadingTags + cut.substring(0, lastSpace).replace(/[,.\\s]+$/, '') + '—';\r\n    }\r\n  }\r\n\r\n  return trimmed;\r\n}\r\n\r\n// Valid body clip section IDs\r\nconst ALL_SECTION_IDS = ['toxic_score', 'soul_type', 'wtf_happening', 'between_the_lines', 'souls_together'];\r\nconst expectedCount = Math.min(5, Math.max(2, bodyClipCount || 3));\r\n\r\n// Hook text (max 8 words for short punchy overlay)\r\nif (!copy.hookText || typeof copy.hookText !== 'string') {\r\n  errors.push('Missing hookText');\r\n} else if (copy.hookText.split(' ').length > 10) {\r\n  errors.push('hookText too long: ' + copy.hookText.split(' ').length + ' words (max 8-10)');\r\n}\r\n\r\n// Hook VO (50 chars max for 3s speech) — auto-trim if over limit\r\nif (!copy.hookVO || typeof copy.hookVO !== 'string') {\r\n  errors.push('Missing hookVO');\r\n} else {\r\n  copy.hookVO = fixEmotionTags(copy.hookVO);\r\n  const originalHookVO = copy.hookVO;\r\n  copy.hookVO = trimVO(copy.hookVO);\r\n  if (originalHookVO !== copy.hookVO) {\r\n    errors.push('hookVO auto-trimmed: \"' + originalHookVO + '\" → \"' + copy.hookVO + '\" (auto-fixed)');\r\n  }\r\n  if (stripEmotionTags(copy.hookVO).length > VO_CHAR_HARD_LIMIT) {\r\n    errors.push('hookVO too long even after trim: ' + stripEmotionTags(copy.hookVO).length + ' spoken chars (max ' + VO_CHAR_LIMIT + '). Text: \"' + copy.hookVO + '\"');\r\n  }\r\n}\r\n\r\n// Body clips\r\nif (!Array.isArray(copy.bodyClips)) {\r\n  errors.push('Missing or invalid bodyClips array');\r\n} else {\r\n  if (copy.bodyClips.length !== expectedCount) {\r\n    errors.push('Expected ' + expectedCount + ' bodyClips, got ' + copy.bodyClips.length);\r\n  }\r\n  copy.bodyClips.forEach((clip, i) => {\r\n    if (!clip.section) {\r\n      errors.push('Body clip ' + i + ': missing section ID');\r\n    } else if (!ALL_SECTION_IDS.includes(clip.section)) {\r\n      errors.push('Body clip ' + i + ': invalid section \"' + clip.section + '\"');\r\n    }\r\n    if (!clip.text || typeof clip.text !== 'string') {\r\n      errors.push('Body clip ' + i + ' (' + (clip.section || '?') + '): missing text');\r\n    } else if (clip.text.split(' ').length > 5) {\r\n      errors.push('Body clip ' + i + ' (' + (clip.section || '?') + '): text too long (' + clip.text.split(' ').length + ' words, max 4)');\r\n    }\r\n    if (!clip.vo || typeof clip.vo !== 'string') {\r\n      errors.push('Body clip ' + i + ' (' + (clip.section || '?') + '): missing vo');\r\n    } else {\r\n      clip.vo = fixEmotionTags(clip.vo);\r\n      const originalVO = clip.vo;\r\n      clip.vo = trimVO(clip.vo);\r\n      if (originalVO !== clip.vo) {\r\n        errors.push('Body clip ' + i + ' (' + (clip.section || '?') + '): vo auto-trimmed: \"' + originalVO + '\" → \"' + clip.vo + '\" (auto-fixed)');\r\n      }\r\n      if (stripEmotionTags(clip.vo).length > VO_CHAR_HARD_LIMIT) {\r\n        errors.push('Body clip ' + i + ' (' + (clip.section || '?') + '): vo too long even after trim (' + stripEmotionTags(clip.vo).length + ' spoken chars, max ' + VO_CHAR_LIMIT + '). Text: \"' + clip.vo + '\"');\r\n      }\r\n    }\r\n  });\r\n\r\n  // Ensure required sections are present\r\n  const presentSections = copy.bodyClips.map(c => c.section);\r\n  if (!presentSections.includes('toxic_score')) {\r\n    errors.push('Missing required body clip section: toxic_score');\r\n  }\r\n  if (!presentSections.includes('soul_type')) {\r\n    errors.push('Missing required body clip section: soul_type');\r\n  }\r\n}\r\n\r\n// ═══ Outro category override from pool selection (Build Copy Prompt) ═══\r\nconst { selectedOutroCategory, selectedOutroText, selectedOutroVO: selectedOutroVOText } = $('Build Copy Prompt').first().json;\r\nif (selectedOutroText) {\r\n  copy.outroText = selectedOutroText;\r\n  copy.outroVO = selectedOutroVOText || selectedOutroText;\r\n}\r\n// Tag the copy JSON with the selected category for Workflow 3 routing\r\ncopy.outroCategory = selectedOutroCategory || 'organic';\r\n\r\n// Outro text (max 7 words — pool examples can be longer)\r\nif (!copy.outroText || typeof copy.outroText !== 'string') {\r\n  errors.push('Missing outroText');\r\n}\r\n\r\n// Outro VO (50 chars max for 3s speech) — auto-trim if over limit\r\nif (!copy.outroVO || typeof copy.outroVO !== 'string') {\r\n  errors.push('Missing outroVO');\r\n} else {\r\n  copy.outroVO = fixEmotionTags(copy.outroVO);\r\n  const originalOutroVO = copy.outroVO;\r\n  copy.outroVO = trimVO(copy.outroVO);\r\n  if (originalOutroVO !== copy.outroVO) {\r\n    errors.push('outroVO auto-trimmed: \"' + originalOutroVO + '\" → \"' + copy.outroVO + '\" (auto-fixed)');\r\n  }\r\n  if (stripEmotionTags(copy.outroVO).length > VO_CHAR_HARD_LIMIT) {\r\n    errors.push('outroVO too long even after trim: ' + stripEmotionTags(copy.outroVO).length + ' spoken chars (max ' + VO_CHAR_LIMIT + '). Text: \"' + copy.outroVO + '\"');\r\n  }\r\n}\r\n\r\n// Social caption\r\nif (!copy.socialCaption || typeof copy.socialCaption !== 'string') {\r\n  errors.push('Missing socialCaption');\r\n} else if (!copy.socialCaption.toLowerCase().includes('#toxicornah')) {\r\n  copy.socialCaption = copy.socialCaption.trim() + ' #toxicornah';\r\n  errors.push('socialCaption was missing #toxicornah (auto-fixed)');\r\n}\r\n\r\nconst valid = errors.filter(e => !e.includes('auto-fixed')).length === 0;\r\n\r\nreturn [{\r\n  json: { valid, errors, copy, scenario }\r\n}];\r\n"
      },
      "id": "844b0773-ddcc-44b5-972f-869a890df29e",
      "name": "Validate Copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "node_022",
              "leftValue": "={{ $input.first().json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7dc7afe1-261d-4c1b-be21-b8c1a9b9011e",
      "name": "Copy Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3120,
        16
      ]
    },
    {
      "parameters": {},
      "id": "8362bdaf-a6ca-4a2a-90ca-488d9e27f5e6",
      "name": "Error: Invalid Copy",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3120,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// NODE: Prepare Airtable Save\n// Formats the data for saving to the Scenarios table\n// Mode: Run Once for All Items\n\nconst { concept, vibe, appStyle, scenarioName } = $('Select Concept').first().json;\nconst { scenario, copy } = $('Validate Copy').first().json;\n\nreturn [{\n  json: {\n    scenario_name: scenarioName,\n    concept_id: [concept.id],\n    vibe: vibe,\n    app_style: appStyle,\n    scenario_json: JSON.stringify(scenario),\n    generated_hook_text: copy.hookText,\n    generated_outro_text: copy.outroText,\n    generated_vo_script: JSON.stringify(copy.voScript),\n    generated_caption_plan: JSON.stringify(copy.captionPlan),\n    generated_social_caption: copy.socialCaption,\n    status: 'approved'\n  }\n}];\n"
      },
      "id": "9b43ad10-02de-48bc-a9d7-78f3433e00ac",
      "name": "Prepare Airtable Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "list",
          "cachedResultName": "ToxicOrNah Content Pipeline",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq"
        },
        "table": {
          "__rl": true,
          "value": "tblcQaMBBPcOAy0NF",
          "mode": "list",
          "cachedResultName": "Scenarios",
          "cachedResultUrl": "https://airtable.com/appsgjIdkpak2kaXq/tblcQaMBBPcOAy0NF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "generated_copy_json": "={{ JSON.stringify($('Validate Copy').first().json.copy) }}",
            "scenario_name": "={{ $('Select Concept').first().json.scenarioName }}",
            "concept_id": "={{ [$('Select Concept').first().json.concept.id] }}",
            "vibe": "={{ $('Select Concept').first().json.vibe }}",
            "app_style": "={{ $('Select Concept').first().json.appStyle }}",
            "scenario_json": "={{ JSON.stringify($('Validate Copy').first().json.scenario) }}",
            "generated_hook_text": "={{ $('Validate Copy').first().json.copy.hookText }}",
            "generated_outro_text": "={{ $('Validate Copy').first().json.copy.outroText }}",
            "generated_social_caption": "={{ $('Validate Copy').first().json.copy.socialCaption }}",
            "status": "draft"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scenario_name",
              "displayName": "scenario_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "concept_id",
              "displayName": "concept_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "vibe",
              "displayName": "vibe",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "toxic",
                  "value": "toxic"
                },
                {
                  "name": "wholesome",
                  "value": "wholesome"
                },
                {
                  "name": "mixed",
                  "value": "mixed"
                },
                {
                  "name": "decoded",
                  "value": "decoded"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "app_style",
              "displayName": "app_style",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "imessage",
                  "value": "imessage"
                },
                {
                  "name": "instagram",
                  "value": "instagram"
                },
                {
                  "name": "whatsapp",
                  "value": "whatsapp"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scenario_json",
              "displayName": "scenario_json",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generated_hook_text",
              "displayName": "generated_hook_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generated_outro_text",
              "displayName": "generated_outro_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generated_vo_script",
              "displayName": "generated_vo_script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generated_caption_plan",
              "displayName": "generated_caption_plan",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generated_social_caption",
              "displayName": "generated_social_caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "approved",
                  "value": "approved"
                },
                {
                  "name": "clips_needed",
                  "value": "clips_needed"
                },
                {
                  "name": "ready",
                  "value": "ready"
                },
                {
                  "name": "used",
                  "value": "used"
                },
                {
                  "name": "archived",
                  "value": "archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Body Clips",
              "displayName": "Body Clips",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Runs",
              "displayName": "Video Runs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Runs",
              "displayName": "Video Runs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hook_file_id",
              "displayName": "hook_file_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generated_copy_json",
              "displayName": "generated_copy_json",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "95e20764-4553-4ac7-858c-7257e912c811",
      "name": "Save Scenario",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3568,
        -96
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODE: Format Telegram Message\n// Builds the Telegram approval message + inline keyboard\n// Mode: Run Once for All Items\n\nconst { concept, vibe, appStyle, scenarioName } = $('Select Concept').first().json;\nconst { scenario, copy } = $('Validate Copy').first().json;\n\nconst results = scenario.results;\n\n// Toxic Score = inverted health (higher = more toxic)\nconst toxicScore = 100 - results.overallScore;\n\n// Section name mapping for display\nconst SECTION_NAMES = {\n  toxic_score: 'Toxic Score',\n  soul_type: 'His Soul Type',\n  wtf_happening: 'WTF Is Happening',\n  between_the_lines: 'Between The Lines',\n  souls_together: 'Your Souls Together'\n};\n\n// Build body clips section for caption\nconst bodyClipLines = copy.bodyClips.map((clip, i) => {\n  const name = SECTION_NAMES[clip.section] || clip.section;\n  return '\\u{1F3AC} *Clip ' + (i + 1) + ': ' + name + '*\\n'\n    + '\\u{1F4DD} Text: \"' + clip.text + '\"\\n'\n    + '\\u{1F5E3} VO: \"' + clip.vo + '\"';\n}).join('\\n\\n');\n\nconst caption = '\\u{1F3AC} *NEW SCENARIO*\\n\\n'\n  + '\\u{1F4CB} *' + concept.concept_name + '*  |  ' + vibe.toUpperCase() + '  |  ' + appStyle + '\\n'\n  + '\\u{1F194} ' + scenarioName + '\\n\\n'\n  + '\\u{1F4CA} *Toxic Score:* ' + toxicScore + '/100\\n\\n'\n  + '\\u{1F3AD} *Soul Types:*\\n'\n  + results.personName + ': ' + results.personSoulType + '\\n'\n  + 'User: ' + results.userSoulType + '\\n\\n'\n  + '\\u{1F3F7} *Profile:* ' + results.profileType + ' \\u2014 \"' + results.profileSubtitle + '\"\\n\\n'\n  + '\\u26A1 *Dynamic:* ' + results.dynamic.name + '\\n\\n'\n  + '\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\n\\n'\n  + '\\u{1F3A4} *HOOK*\\n'\n  + '\\u{1F4DD} Text: \"' + copy.hookText + '\"\\n'\n  + '\\u{1F5E3} VO: \"' + copy.hookVO + '\"\\n\\n'\n  + bodyClipLines + '\\n\\n'\n  + '\\u{1F3A4} *OUTRO*\\n'\n  + '\\u{1F4DD} Text: \"' + copy.outroText + '\"\\n'\n  + '\\u{1F5E3} VO: \"' + copy.outroVO + '\"';\n\n// Inline keyboard for approval\nconst replyMarkup = {\n  inline_keyboard: [\n    [\n      { text: '\\u2705 Approve', callback_data: 'approve_' + scenarioName },\n      { text: '\\u{1F504} Redo', callback_data: 'redo_' + scenarioName },\n      { text: '\\u274C Skip', callback_data: 'skip_' + scenarioName }\n    ]\n  ]\n};\n\n// Pass through binary data from Take Screenshot node so Send Photo can access it\nreturn [{\n  json: {\n    caption,\n    replyMarkup,\n    scenarioName,\n    scenario,\n    copy\n  },\n  binary: $input.first().binary\n}];\n"
      },
      "id": "8e16bff2-3519-4a3b-b6e5-4731603ce364",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        -96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1552,
        112
      ],
      "id": "b26713a2-8b14-4ad3-b41e-012520784904",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2576,
        16
      ],
      "id": "4e1657e4-7ce3-4413-beb3-a96b07376b3c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * 6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        32
      ],
      "id": "be1945d4-aa8d-4087-a53a-b029a7a66502",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// NODE: Prepare Screenshot Request\n// Prepares the scenario JSON for the screenshot HTTP server\n// Mode: Run Once for All Items\n\nconst scenarioJson = $('Validate Scenario').first().json.scenario;\nconst scenarioName = $('Select Concept').first().json.scenarioName;\n\nreturn [{\n  json: {\n    scenarioJson,\n    scenarioName\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        -96
      ],
      "id": "8d4f806c-c6c1-4655-9dc9-381a4f5c33a9",
      "name": "Prepare Screenshot"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "5120450288",
        "binaryData": true,
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "callback_data": "={{ 'approve_' + $json.scenarioName }}"
                    }
                  },
                  {
                    "text": "Redo",
                    "additionalFields": {
                      "callback_data": "={{ 'redo_' + $json.scenarioName }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "caption": "={{ $('Format Telegram Message').item.json.caption }}",
          "parse_mode": "Markdown"
        }
      },
      "id": "9ee15d01-f284-4213-acd6-f1ea4a9a54b3",
      "name": "Send Photo (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4416,
        -96
      ],
      "webhookId": "697732a4-9608-4bb8-81c4-6c76735f83a1",
      "credentials": {
        "telegramApi": {
          "id": "LnY46hGLXjQCETpn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"id\": \"toxic-example-123\",\n  \"chat\": {\n    \"contactName\": \"Jake\",\n    \"appStyle\": \"imessage\",\n    \"messages\": [\n      {\"sender\": \"them\", \"text\": \"hey\", \"time\": \"9:41 AM\"},\n      {\"sender\": \"me\", \"text\": \"hi\", \"time\": \"9:42 AM\"}\n    ]\n  },\n  \"results\": {\n    \"personName\": \"Him\",\n    \"personGender\": \"male\",\n    \"overallScore\": 25,\n    \"warmthScore\": 20,\n    \"communicationScore\": 25,\n    \"dramaScore\": 70,\n    \"distanceScore\": 80,\n    \"passionScore\": 15,\n    \"profileType\": \"Red Flag Alert\",\n    \"profileSubtitle\": \"Run don't walk\",\n    \"profileDescription\": \"A pattern of emotional withdrawal.\",\n    \"personSoulType\": \"male-ice-charmer\",\n    \"userSoulType\": \"female-love-rush\",\n    \"personDescription\": \"Cold and calculating personality.\",\n    \"personTraits\": [\"Distant\", \"Avoidant\", \"Charming\", \"Calculated\", \"Detached\"],\n    \"userDescription\": \"Emotionally open and expressive.\",\n    \"userTraits\": [\"Empathetic\", \"Intense\", \"Hopeful\", \"Vulnerable\", \"Passionate\"],\n    \"categories\": {\n      \"intentions\": {\"description\": \"His intentions seem unclear.\"},\n      \"chemistry\": {\"description\": \"One-sided chemistry.\"},\n      \"effort\": {\"description\": \"Minimal effort shown.\"},\n      \"redFlagsGreenFlags\": {\"description\": \"Multiple red flags.\"},\n      \"trajectory\": {\"description\": \"Heading nowhere.\"}\n    },\n    \"messageInsights\": [\n      {\n        \"message\": \"hey\",\n        \"title\": \"Low Effort Opener\",\n        \"tag\": \"RED FLAG\",\n        \"description\": \"Bare minimum energy.\",\n        \"solution\": \"Look for someone who matches your energy.\"\n      }\n    ],\n    \"dynamic\": {\n      \"name\": \"The Chase\",\n      \"subtitle\": \"You chase, he retreats\",\n      \"whyThisHappens\": \"Power imbalance.\",\n      \"patternBreak\": \"Stop initiating.\",\n      \"powerBalance\": 25\n    }\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        -192
      ],
      "id": "fed23528-a267-47f2-abd3-3668942e0dc4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3456/screenshot",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.scenarioJson) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3984,
        -96
      ],
      "id": "ddd85f7c-ea89-462b-819c-5b6fad9455cf",
      "name": "Take Screenshot"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1552,
        320
      ],
      "id": "53511179-3a0c-4920-ac66-9394ea067a1f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nGRxFqRlmP92LpZE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2576,
        192
      ],
      "id": "bf0ab432-2271-437f-816f-ae725f337417",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "nGRxFqRlmP92LpZE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1616,
        -32
      ],
      "id": "5a547db8-06e4-4959-b59c-a6619abefc10",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "nGRxFqRlmP92LpZE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        192
      ],
      "id": "d64c9e2c-1b6e-4c5f-8cfb-fcb64740ee5b",
      "name": "When Executed by Another Workflow"
    },
    {
      "id": "f7a3e1b2-outro-examples-node",
      "name": "Get Outro Examples",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1232,
        112
      ],
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsgjIdkpak2kaXq",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl9lMPjhorITKcN1",
          "mode": "id"
        },
        "filterByFormula": "{is_active} = TRUE()",
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "GQSE5xy7UEjGQdD3",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Active Concepts": {
      "main": [
        [
          {
            "node": "Select Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Concept": {
      "main": [
        [
          {
            "node": "Get Body Clip Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Body Clip Templates": {
      "main": [
        [
          {
            "node": "Get Caption Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Caption Templates": {
      "main": [
        [
          {
            "node": "Get VO Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VO Templates": {
      "main": [
        [
          {
            "node": "Get Hook Texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hook Texts": {
      "main": [
        [
          {
            "node": "Get Social Examples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Social Examples": {
      "main": [
        [
          {
            "node": "Get Outro Examples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scenario Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Scenario": {
      "main": [
        [
          {
            "node": "Scenario Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenario Valid?": {
      "main": [
        [
          {
            "node": "Build Copy Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Copy Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Copy": {
      "main": [
        [
          {
            "node": "Copy Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Valid?": {
      "main": [
        [
          {
            "node": "Prepare Airtable Save",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Airtable Save": {
      "main": [
        [
          {
            "node": "Save Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Scenario": {
      "main": [
        [
          {
            "node": "Prepare Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Validate Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Validate Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active Concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Screenshot": {
      "main": [
        [
          {
            "node": "Take Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send Photo (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Take Screenshot": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Active Concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Outro Examples": {
      "main": [
        [
          {
            "node": "Build Scenario Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ba98e8d4-8645-4301-bbf0-22ae0f1e1b1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ac2834f06c1f2877b895f0b14af7f505db182392bdf8fe2cc40fc00a3d79632"
  },
  "id": "cNliMecIH6Yg1tGj",
  "tags": [
    {
      "updatedAt": "2026-02-11T21:29:53.448Z",
      "createdAt": "2026-02-11T21:29:53.448Z",
      "id": "zwksa6JlUNkobY51",
      "name": "ToxicOrNah"
    }
  ]
}